/* SLIDER */
.slider_block {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.sll, .slr {
   width: 5%;
   z-index: 10;
}

.video {
   width: 100vw;
   height: 100vh;
   background: #010304;
}

.slide-2 {
   height: 100vh;
   width: 100vw;
}

.slide-3 {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background-image: url(../../img/slider/slide-3/slide-3-bgc.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
}
.slide-3-content {
   width: 100%;
   height: 100%;
   padding-top: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   position: relative;
   z-index: 1;
}
.slide-3-content-bitrix-cloud-1 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 500px;
   z-index: -1;
   animation: translateBitrix 10s linear infinite;
}
.slide-3-content-bitrix-cloud-2 {
   position: absolute;
   right: 0;
   top: 0px;
   width: 400px;
   z-index: -1;
   animation: translateBitrix 10s linear infinite;
}
@keyframes translateBitrix {
   0% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(-20px, 0);
   }
   100% {
      transform: translate(0, 0);
   }
}
.slide-3-content-clouds-1 {
   position: absolute;
   bottom: 0;
   left: 25%;
   width: 500px;
   z-index: -1;
   animation: translateCloud-1 80s linear infinite;
}
.slide-3-content-clouds-2 {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 800px;
   z-index: -1;
   animation: translateCloud-2 60s linear infinite;
}
.slide-3-content-clouds-3 {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 300px;
   z-index: -1;
   animation: translateCloud-3 40s linear infinite;
}
@keyframes translateCloud-1 {
   0% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(100px, 0px);
   }
   100% {
      transform: translate(0, 0);
   }
}
@keyframes translateCloud-2 {
   0% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(100px, 0px);
   }
   100% {
      transform: translate(0, 0);
   }
}
@keyframes translateCloud-3 {
   0% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(100px, 0px);
   }
   100% {
      transform: translate(0, 0);
   }
}
.slide-3-content__title {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-bottom: 50px;
}
.slide-3-content__title-img {
   width: 250px;
}
.slide-3-content__title-text {
   display: flex;
   flex-direction: column;
   margin-left: 30px;
}
.slide-3-content__title-text__top {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 44px;
   line-height: 1.5em;
   color: #fff;
}
.slide-3-content__title-text__bottom {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.slide-3-content__title-text__bottom-number {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   color: #fff;
   font-size: 72px;
   line-height: .8em;
   margin-right: 20px;
}
.slide-3-content__title-text__bottom-description {
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   text-transform: uppercase;
   color: #9affc3;
   font-size: 18px;
   line-height: 1.1em;
}
.slide-3-content__stocks {
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
}
.slide-3-content__stocks-item {
   width: 400px;
   height: 100%;
   background-color: rgba(255,255,255,.2);
   border-radius: 20px 20px 0 0;
   padding: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: all .7s;
}
.slide-3-content__stocks-item__title {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
   color: #fff;
   font-size: 24px;
   line-height: 1.3em;
}
.slide-3-content__stocks-line {
   width: 40%;
   height: 4px;
   background-color:#95ffc0;
   margin: 20px 0;
}
.slide-3-content__stock-discount {
   color: #fff;
   background: linear-gradient(to bottom, #8CFFBB 0%, #fff 70%, #8EDAFF 95%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: 0 10px 10px rgba(0,0,0, .15);
   font-size: 120px;
   line-height: .9em;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   text-align: center;
}
.slide-3-content__stock-under-discount {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-size: 26px;
   line-height: 1em;
   color: #fff;
   background: linear-gradient(to bottom, #fff, #8EDAFF);
   text-shadow: 0 10px 10px rgba(0,0,0, .15);
   font-weight: 500;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 30px;
}
.slide-3-content__stock-btn {
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   line-height: 1em;
   background-color: rgba(148,217,248,.3);
   padding: 10px 40px;
   border-radius: 20px;
   border: none;
   transition: all 1s;
}
.slide-3-content__stocks-item:hover {
   transform: scale(1.02);
   background-color:rgba(73,202,248,.5);
   transition: all .7s;
}
.slide-3-content__stock-btn:hover {
   background-color: #95ffc0;
   box-shadow:  0px 0px 15px #95ffc0;
   color: #2D3555;  
   font-weight: 500;
   transition: all 1s;
}

@media(max-width: 1700px) { 
   .slide-3-content {
      padding-top: 120px;
   }
   .slide-3-content-bitrix-cloud-1 {
      width: 420px;
   }
   .slide-3-content-bitrix-cloud-2 {
      width: 350px;
   }
   .slide-3-content-clouds-1 {
      width: 450px;
   }
   .slide-3-content-clouds-2 {
      width: 700px;
   }
   .slide-3-content-clouds-3 {
      width: 250px;
   }
   .slide-3-content__title {
      margin-bottom: 40px;
   }
   .slide-3-content__title-img {
      width: 200px;
   }
   .slide-3-content__title-text {
      margin-left: 25px;
   }
   .slide-3-content__title-text__top {
      font-size: 40px;
   }
   .slide-3-content__title-text__bottom-number {
      font-size: 64px;
      margin-right: 15px;
   }
   .slide-3-content__title-text__bottom-description {
      font-size: 17px;
   }
   .slide-3-content__stocks-item {
      width: 350px;
      padding: 35px;
   }
   .slide-3-content__stocks-item__title {
      font-size: 22px;
   }
   .slide-3-content__stocks-line {
      width: 50%;
      height: 3px;
      margin: 15px 0;
   }
   .slide-3-content__stock-discount {
      font-size: 105px;
   }
   .slide-3-content__stock-under-discount {
      font-size: 22px;
      margin-bottom: 25px;
   }
   .slide-3-content__stock-btn {
      font-size: 17px;
      line-height: 1em;
      padding: 10px 35px;
   }
}
@media(max-width: 1500px) { 
   .slide-3-content {
      padding-top: 100px;
   }
   .slide-3-content-bitrix-cloud-1 {
      width: 350px;
   }
   .slide-3-content-bitrix-cloud-2 {
      width: 300px;
   }
   .slide-3-content-clouds-1 {
      width: 350px;
   }
   .slide-3-content-clouds-2 {
      width: 550px;
   }
   .slide-3-content-clouds-3 {
      width: 150px;
   }
   .slide-3-content__title {
      margin-bottom: 30px;
   }
   .slide-3-content__title-img {
      width: 170px;
   }
   .slide-3-content__title-text {
      margin-left: 20px;
   }
   .slide-3-content__title-text__top {
      font-size: 36px;
   }
   .slide-3-content__title-text__bottom-number {
      font-size: 56px;
      margin-right: 10px;
   }
   .slide-3-content__title-text__bottom-description {
      font-size: 16px;
   }
   .slide-3-content__stocks-item {
      width: 300px;
      padding: 30px 10px;
   }
   .slide-3-content__stocks-item__title {
      font-size: 20px;
   }
   .slide-3-content__stocks-line {
      height: 2px;
      margin: 10px 0;
   }
   .slide-3-content__stock-discount {
      font-size: 90px;
   }
   .slide-3-content__stock-under-discount {
      font-size: 20px;
      margin-bottom: 20px;
   }
   .slide-3-content__stock-btn {
      font-size: 16px;
      padding: 8px 30px;
   }
}
.slide-4 {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background-image: url(../../img/slider/slide-3/slide-3-bgc.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
}
@media(max-width: 1300px) {
   .slider_block {
      display: none;
   }
}

