
/* MAIN */
.digitalAgencyMain-header {
  background-image: url(../../img/digital_agency/digitalAgency-main/digitalAgency-main-bgc.png);
}
.digitalAgatech-history,
.digitalAgatech-clients,
.digitalAgatech-firstStep,
.digitalAgatech-newSolutions,
.digitalAgatech-lvlup,
.digitalAgatech-newpeak,
.digitalAgatech-services,
.digitalAgatech-tasks,
.digitalAgatech-culture,
.digitalAgatech-contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
}
.digitalAgatech-history__description,
.digitalAgatech-firstStep__description,
.digitalAgatech-newSolutions__description,
.digitalAgatech-lvlup__description,
.digitalAgatech-newpeak__description,
.digitalAgatech-services__description{
  color: #000;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 50px;
  font-family: "Museo Sans 300";
}
.digitalAgatech-history img {
  width: 100%;
}

.digitalAgatech-clients__img--wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.digitalAgatech-clients__img--wrap img {
  margin: 30px 50px;
}
.digitalAgatech-clients__img--wrap img:nth-child(1) {
  width: 160px;
  height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(2) {
  width: 90px;
  height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(3) {
  width: 150px;
  height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(4) {
  width: 85px;
  height: 85px;
}
.digitalAgatech-clients__img--wrap img:nth-child(5) {
  width: 200px;
  height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(6) {
  width: 100px;
  height: 100px;
}
.digitalAgatech-clients__img--wrap img:nth-child(7) {
  width: 143px;
  height: 90px;
}

.digitalAgatech-firstStep__ul--wrap,
.digitalAgatech-newSolutions__ul--wrap,
.digitalAgatech-lvlup__ul--wrap,
.digitalAgatech-newpeak__ul--wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.digitalAgatech-firstStep__ul--wrap ul,
.digitalAgatech-newSolutions__ul--wrap ul,
.digitalAgatech-lvlup__ul--wrap ul,
.digitalAgatech-newpeak__ul--wrap ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-bottom: 50px;
}
.digitalAgatech-firstStep__ul--wrap li,
.digitalAgatech-newSolutions__ul--wrap li,
.digitalAgatech-lvlup__ul--wrap li,
.digitalAgatech-newpeak__ul--wrap li {
  color: #0074CD;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 15px;
  font-family: "Museo Sans 300";
}
.digitalAgatech-firstStep img {
  width: 80%;
  align-self: center;
}

.digitalAgatech-newSolutions img {
  width: 100%;
  align-self: center;
}

.digitalAgatech-lvlup img {
  width: 90%;
  align-self: center;
}

.digitalAgatech-newpeak__ul--wrap ul {
  margin-bottom: 0;
}
.digitalAgatech-newpeak__description-wt,
.digitalAgatech-tasks__description-wt {
  color: #000;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 25px;
  font-family: "Museo Sans 300";
}
.digitalAgatech-newpeak__description-wt span,
.digitalAgatech-tasks__description-wt span {
  color: #0074CD;
  line-height: 25px;
  font-family: "Museo Sans 300";
}
.digitalAgatech-newpeak img {
  width: 50%;
  align-self: center;
}

.digitalAgatech-services img {
  width: 100%;
  align-self: center;
}
.digitalAgatech-services__description {
  margin-bottom: 0;
}

.digitalAgatech-culture__content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.digitalAgatech-culture__content-item {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digitalAgatech-culture__content-item--top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.digitalAgatech-culture__content-item--top img {
  height: 60%;
}
.digitalAgatech-culture__content-item--bottom {
  width: 100%;
  padding: 0 25px;
  height: 350px;
}
.culture-border {
  border-left: 1px solid rgba(0,0,0, .15);
  border-right: 1px solid rgba(0,0,0, .15);
}
.digitalAgatech-culture__content-item--bottom p {
  color: #000;
  font-size: 18px;
  line-height: 18px;
  font-family: "Museo Sans 300";
}
.digitalAgatech-culture > img {
  width: 100%;
  align-self: center;
}
.digitalAgatech-culture__cutaways {
  width: 100%;
  display: flex;
  background: #E1D5BD;
}
.digitalAgatech-culture__cutaways-item {
  flex-basis: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.digitalAgatech-culture__cutaways-item img {
  width: 90%;
  margin-bottom: 30px;
}
.digitalAgatech-culture__cutaways-item__text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.digitalAgatech-culture__cutaways-item__text-line-1 {
  font-size: 18px;
  line-height: 28px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Museo Sans 500";
}
.digitalAgatech-culture__cutaways-item__text-line-2,
.digitalAgatech-culture__cutaways-item__text-line-3,
.digitalAgatech-culture__cutaways-item__text-line-4 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-family: "Museo Sans 300";
  transition: color .7s;
}
.digitalAgatech-culture__cutaways-item__text-line-2 {
  margin-bottom: 15px;
}
.digitalAgatech-culture__cutaways-item__text-line-3:hover,
.digitalAgatech-culture__cutaways-item__text-line-4:hover {
  color: #4FAAE1;
}


.digitalAgatech-contacts__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digitalAgatech-contacts__content--left {
  width: 100%;
}
.digitalAgatech-contacts__content--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digitalAgatech-contacts__content--left__title {
  color: #000A6C;
  font-weight: bold;
  font-family: "Museo Sans 900";
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 30px;
}
.digitalAgatech-contacts__content--left__cities {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.digitalAgatech-contacts__content--left__cities-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 25px;
}
.digitalAgatech-contacts__content--left__cities-item img {
  height: 120px;
  margin-bottom: 10px;
}
.digitalAgatech-contacts__content--left__cities-item p {
  color: #000A6C;
  font-family: "Museo Sans 300";
  font-size: 16px;
  line-height: 16px;
}
.digitalAgatech-contacts__content--left__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.digitalAgatech-contacts__content--left__contacts a {
  color: #000A6C;
  font-family: "Museo Sans 300";
  position: relative;
  font-weight: bold; 
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.digitalAgatech-contacts__content--left__contacts-adress {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.digitalAgatech-contacts__content--left__contacts-adress::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url(../../img/digital_agency/digitalAgency-main/digitalAgency-main-contacts/address.svg);
  background-size: contain;
}
.digitalAgatech-contacts__content--left__contacts-tel {
  font-size: 34px;
  line-height: 34px;
}
.digitalAgatech-contacts__content--left__contacts-tel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url(../../img/digital_agency/digitalAgency-main/digitalAgency-main-contacts/tel.svg);
  background-size: contain;
}
#Ulsk {
  border-bottom: 1px solid #000A6C;
}
#MoscowContacts {
  display: none;
}


/* TEAM */
.digitalAgencyTeam-header {
  background-image: url(../../img/digital_agency/digitalAgency-team/digitalAgency-team-bgc.png);
}
.digital-team__description {
  width: 100%;
  margin-bottom: 80px;
}
.digital-team__description--top {
  display: flex;
  justify-content: space-between;
}
.digital-team__text {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Museo Sans 300";
  flex-grow: 1;
}
.img-agatech {
  align-self: flex-start;
  width: 20%;
  margin-left: 10%;
  filter: opacity(1);
}
.digital-team__units {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.units__item {
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.units__img {
  width: 100%;
  max-height: 200px;
}
.units__text {
  width: 100%;
  margin-top: 20px;
  text-align: left;
  color: #3c4c70;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.5;
  padding: 10px;
}
.units__text--bold {
  text-transform: uppercase;
  font-family: "Museo Sans 700";
}
.units__text--small {
  font-family: "Museo Sans 300";
}
.digital__team__img--cooperation {
  width: 100%;
}




/* ACHIEVEMENTS */
.digitalAgencyAchievments-header {
  background-image: url(../../img/digital_agency/digitalAgency-achievments/digitalAgency-achievments-bgc.png);
}
.digital-progress__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.digital-progress__item {
  width: 30%;
  border-bottom: 3px solid #cea962;
}
.progress__item__img {
  width: 100%;
  height: 440px;
}
.ach {
  width: 100%;
  cursor: pointer;
  transition: transform .4s, filter .4s;
  filter: grayscale(.7);
  position: relative;
  z-index: 0;
}
.ach:hover {
  transform: scale(1.01);
  filter: grayscale(0);
  z-index: 1;
}
.achievements__row-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.achievements__row-top--column-left {
  flex-basis: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.achievements__row-top--column-left img,
.achievements__row-top--column-right img {
  margin-bottom: 15px;
}
.achievements__row-top--column-center {
  flex-basis: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.achievements__row-top--column-right {
  flex-basis: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.achievements__row-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.achievements__row-bottom--container-img {
  flex-basis: 23%;
  margin: 1%;
}




/* CONTACTS */
.digitalAgencyContacts-header {
  background-image: url(../../img/digital_agency/digitalAgency-contacts/digitalAgencyContacts-bgc.png);
}
.digitalAgencyContacts-content {
  position: relative;
}
.digitalAgencyContacts__cities--wrap {
  position: absolute;
  bottom: 30px;
  right: 0;
  display: flex;
}
.cities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
  border-bottom: 3px solid transparent;
  transition: all .3s;
  transform: scale(.85);
}
.cities__item:hover {
  transform: scale(.9);
  border-bottom: 3px solid #7690C9;
}
.cities__item svg {
  height: 100px;
}
.cities__item .fil0 {
  fill:#7690C9;
}
.cities__item__text {
  font-family: "Museo Sans 500";
  font-size: 16px;
  line-height: 1em;
  margin-top: .5em;
  color: #7690C9;
}
.cities__item--active {
  border-bottom: 3px solid #fff;
  transform: scale(1);
  transition: all .3s;
}
.cities__item--active:hover{
  border-bottom: 3px solid #fff;
  transform: scale(1);
}
.cities__item--active .fil0 {
  fill:#FFF;
}
.cities__item--active .cities__item__text {
  color: #fff;
}
#contactMoscow, #contactLiny, #contactVilnus {
  display: none;
  width: 100%;
}
#contactsUlsk {
  display: block;
  width: 100%;
}
.digitalAgency-contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.digitalAgency-contacts__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.digitalAgency-contacts__top-left {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
}
.digitalAgency-contacts__top-left a {
  color: #626779;
  position: relative;
  padding-left: 50px;
  height: 40px;
  display: flex;
  align-items: center;
}
.digitalAgency-contacts__top-left a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #626779;
  clip-path: polygon(10% 0, 100% 100%, 0 100%);
  transition: all 0.7s;
}
.digitalAgency-contacts__top-left a:hover::before {
  transform: scale(1.1) rotate(360deg);
}
.digitalAgency-contacts__top-left a:hover::after {
  width: 80%;
}
.digitalAgency-contacts__top-left--adress {
  font-family: "Museo Sans 300";
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.digitalAgency-contacts__top-left--adress::before {
  content: "";
  position: absolute;
  left: 0%;
  width: 40px;
  height: 40px;
  background-image: url(../../img/digital_agency/digitalAgency-contacts/adress.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 1s;
}
.digitalAgency-contacts__top-left--phone {
  font-family: "Museo Sans 900";
  font-size: 36px;
  line-height: 36px;
}
.digitalAgency-contacts__top-left--phone::before {
  content: "";
  position: absolute;
  left: 0%;
  width: 40px;
  height: 40px;
  background-image: url(../../img/digital_agency/digitalAgency-contacts/phone.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 1s;
}
.digitalAgency-contacts__top-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digitalAgency-contacts__top-center span {
  color: #626779;
}
.digitalAgency-contacts__top-center span:nth-child(1) {
  font-family: "Museo Sans 300";
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.digitalAgency-contacts__top-center span:nth-child(2) {
  font-family: "Museo Sans 900";
  font-size: 36px;
  line-height: 36px;
}
.digitalAgency-contacts__top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 35%;
}
.digitalAgency-contacts__top-right img {
  width: 130px;
}
.digitalAgency-contacts__top-right  p {

  font-family: "Museo Sans 300";
  font-size: 18px;
  line-height: 1.2;
  color: #af9972;
  width: 300px;
}
.digitalAgency-contacts__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digitalAgency-contacts__bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.digitalAgency-contacts__bottom-row__item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.digitalAgency-contacts__bottom-row__item span {
  font-family: "Museo Sans 300";
  color: #626779;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
.digitalAgency-contacts__bottom-row__item a {
  font-family: "Museo Sans 900";
  color: #626779;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}
.digitalAgency-contacts__bottom-row__item a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #626779;
  clip-path: polygon(10% 0, 100% 100%, 0 100%);
  transition: all 0.7s;
}
.digitalAgency-contacts__bottom-row__item a:hover::before {
  width: 90%;
}
.digitalAgency-contacts iframe {
  width: 100%;
  height: 400px;
  box-shadow: 1px 1px 5px #BFA082;
}




/* FILES */
.digitalAgencyFiles-header {
  background-image: url(../../img/digital_agency/digitalAgency-files/digitalAgency-files-bgc.png);
}
.files-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.files-content__row {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.files-content__row__img {
  width: 80px;
  height: 80px;
}
.files-content__row__title {
  text-transform: uppercase;
  flex-grow: 1;
  position: relative;
  font-family: "Museo Sans 300";
  color: #626779;
  font-size: 18px;
  line-height: 2em;
  border-bottom: 1px dotted rgba(40,60,89, .3);
  margin: 0 70px 0 100px;
}
.files-content__row__title::after {
  content: '';
  position: absolute;
  right: calc(100% + 20px);
  background-image: url(../../img/digital_agency/digitalAgency-files/files.png);
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  bottom: 0;
}
.files-content__row__title::before {
  content: '';
  position: absolute;
  left: calc(100% + 20px);
  background-image: url(../../img/digital_agency/digitalAgency-files/downloadicons.png);
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  bottom: 0;
}
