/* BusinessCooperation */
#cooperation {
   overflow-x: hidden;
}
.cooperation-header {
   background-image: url(../../img/cooperation/сooperation-bgc.png);
}
.cooperationRus-header {
   background-image: url(../../img/cooperation/сooperationRus-bgc.png);
}
.cooperationInternational-header {
   background-image: url(../../img/cooperation/сooperationInternational-bgc.png);
}