#products {
   overflow-x: hidden;
}
.products-background {
   background-color: #fff;
   box-shadow: 0px 10px 20px rgba(0,0,0, .1);
}
.products-header {
   width: 100%;
   height: 350px;
   padding: 80px 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to bottom, #11234E 15%, #05083B 50%);
   overflow: hidden;
}
.products-header__img--wrap {
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.img--wrap-2 {
   margin: 0 40px;
}
.img--wrap-1::before {
   content: 'Креативная цифровая разработка';
   position: absolute;
   width: 65%;
   text-align: center;
   font-family: "Museo Sans 700";
   color: #fff;
   font-size: 18px;
   line-height: 18px;
}
.img--wrap-2::before {
   content: 'Комплексное продвижение и сопровождение';
   position: absolute;
   width: 65%;
   text-align: center;
   font-family: "Museo Sans 700";
   color: #fff;
   font-size: 18px;
   line-height: 18px;
}
.img--wrap-3::before {
   content: 'Креативная цифровая разработка';
   position: absolute;
   width: 65%;
   text-align: center;
   font-family: "Museo Sans 700";
   color: #fff;
   font-size: 18px;
   line-height: 18px;
}

.products-header__img--wrap:hover img{
   transform: scale(1.1)
}
.products-header__img--wrap img {
   height: 100%;
   transition: transform .7s;
}
.active-circle {
   animation: active-circle .5s linear infinite;
}
@keyframes active-circle {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* DIGITAL */
.products {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.products-title {
   font-family: "Museo Sans 900";
   color: #334f8d;
   font-size: 36px;
   line-height: 40px;
   margin-bottom: 40px;
   text-align: center;
}
.products-under-title--wrap {
   width: 100%;
   text-align: left;
   margin-bottom: 70px;
}
.products-under-title {
   font-family: "Museo Sans 300";
   color: #000;
   font-size: 18px;
   line-height: 2em;
}
.products-under-title span {
   font-family: "Museo Sans 500";
}
.products-content {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.products-content__title,
.products-navigation__title {
   font-family: "Museo Sans 700";
   color: #7787aa;
   font-size: 30px;
   line-height: 1.2em;
   margin-bottom: 20px;
}
.products-content__under-title,
.products-navigation__under-title {
   font-family: "Museo Sans 300";
   color: #000;
   font-size: 18px;
   line-height: 2em;
   margin-bottom: 30px;
}
.products-content__statistics {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}
.products-content__statistics-left {
   display: flex;
   flex-direction: column;
   width: 30%;
   margin-right: 50px;
}
.statistics-left__title {
   font-family: "Museo Sans 900";
   color: #396d9d;
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 1.2em;
   margin-bottom: 25px;
}
.statistics-left__line {
   font-family: "Museo Sans 900";
   color: #000;
   text-transform: uppercase;
   font-size: 16px;
   line-height: 1em;
   margin-bottom: 25px;
   position: relative;
}
.statistics-left__line::before {
   content: '';
   position: absolute;
   left: 100%;
   color: #000;
   text-transform: uppercase;
   white-space: nowrap;
   font-family: "Museo Sans 900";
   font-size: 16px;
   line-height: 1em;
}
.products-content__statistics-left .line-digital-1::before {
   content: '- 22%';
}
.products-content__statistics-left .line-digital-2::before {
   content: '- 42%';
}
.products-content__statistics-left .line-digital-3::before {
   content: '- 9%';
}
.products-content__statistics-left .line-digital-4::before {
   content: '- 11%';
}
.products-content__statistics-left .line-digital-5::before {
   content: '- 6%';
}
.products-content__statistics-left .line-digital-6::before {
   content: '- 10%';
}

.products-content__statistics-diagram {
  width: 28%;
  align-self: flex-start;
}
.products-content__statistics-right {
   width: 28%;
   display: flex;
   flex-direction: column;
}
.products-content__statistics-right span {
   font-family: "Museo Sans 500";
   font-size: 16px;
   line-height: 1em;
   margin-bottom: 25px;
   padding-left: 30px;
   position: relative;
}
.products-content__statistics-right span::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 16px;
   height: 16px;
}
.products-content__statistics-right .line-digital-1::before {
   background-color: #4456A1;
}
.products-content__statistics-right .line-digital-2::before {
   background-color: #00A0E3;
}
.products-content__statistics-right .line-digital-3::before {
   background-color: #EF7F1A;
}
.products-content__statistics-right .line-digital-4::before {
   background-color: #B2B3B3;
}
.products-content__statistics-right .line-digital-5::before {
   background-color: #FECC00;
}
.products-content__statistics-right .line-digital-6::before {
   background-color: #7E71B1;
}
.products-content__statistics-right p {
   font-family: "Museo Sans 300";
   color: #6f6f6f;
   font-size: 16px;
   line-height: 1.2em;
   margin-top: 30px;
}
.products-navigation {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.products-navigation nav {
   width: 1200px;
   padding: 50px;
   margin-left: -50px;
   margin-right: -50px;
   display: flex;
   justify-content: space-around;
}
.products-digital-navigation {
   background-color: #78b76a;
}
.products-navigation__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: all .5s;
}
.products-navigation__item a {
   width: 160px;
   height: 160px;
   border: 5px solid #fff;
   border-radius: 10px;
   margin-bottom: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
   z-index: 1;
   transition: all .5s;
}
.products-navigation__item a::before {
   content: '';
   position: absolute;
   left: -200%;
   top: 0;
   width:200%;
   height:100%;
   background-color: rgba(255,255,255, .1);
   clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
   z-index: -1;
   transition: all .6s;
}
/* .products-navigation__item:hover {
   transform: rotateY(-20deg);
} */
.products-navigation__item:hover a{
   box-shadow: 3px 3px 10px #fff;
}
.products-digital-navigation .products-navigation__item:hover a{
   background-color: #298B00;
}
.products-navigation__item a:hover::before {
   left: 100%;
}
.products-navigation__item:hover span{
  text-shadow: 1px 1px 10px #fff;
}
.products-navigation__item a img {
   width: 130px;
   height: 130px;
   transition: transform .7s;
}
.products-navigation__item span {
   font-family: "Museo Sans 500";
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   font-size: 15px;
   line-height: 1.2em;
   width: 160px;
   transition: all .3s;
}


/* КОРПОРАТИВНЫЕ САЙТЫ */
.products-pageContent {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 80px;
}
.products-pageContent__left {
   display: flex;
   flex-direction: column;
   width: 60%;
}
.products-pageContent__left-title {
   font-family: "Museo Sans 700";
   color: #000;
   font-size: 24px;
   line-height: 1.2em;
   margin-bottom: 50px;
}
.products-pageContent__left ol {
   width: 100%;
   list-style-type: none;
}
.products-pageContent__left li {
   font-family: "Museo Sans 300";
   color: #000;
   font-size: 18px;
   line-height: 2em;
   margin-bottom: 30px;
   text-align: justify;
}
.products-pageContent__left li span {
   font-family: "Museo Sans 700";
}
.products-pageContent__left-text--other {
   font-family: "Museo Sans 300";
   color: #8b8b8b;
   font-size: 16px;
   line-height: 1.2em;
}
.products-pageContent__right {
   width: 35%;
   display: flex;
   flex-direction: column;
}
.products-pageContent__right-video--wrap {
   margin-bottom: 25px;
   width: 100%;
}
.products-pageContent__right img {
   width: 100%;
}
.products-pageContent__right-description {
   width: 100%;
   padding: 30px;
   border: 1px solid #a4a4a4;
   margin-bottom: 25px;
}
.products-pageContent__right-description  p {
   font-family: "Museo Sans 300";
   color: #000;
   font-size: 18px;
   line-height: 1.3em;
}
.products-pageContent__right-description p span {
   font-family: "Museo Sans 700";
}
.products-pageContent__right-btn--wrap {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.products-pageContent__right-btn--wrap button {
   background-color: #3c4c70;
}
.products-pageContent__right-btn--wrap a {
   background-color: #6da3d1;
}
.products-pageContent__right-btn--wrap button,
.products-pageContent__right-btn--wrap a {
   width: 45%;
   height: 40px;
   font-family: "Museo Sans 500";
   color: #fff;
   font-size: 15px;
   line-height: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid transparent;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all .7s;
   z-index: 1;
}
.products-pageContent__right-btn--wrap button:hover {
   color: #3c4c70;
   border: 1px solid #3c4c70;
   box-shadow: 1px 1px 10px #3c4c70;
}
.products-pageContent__right-btn--wrap button:hover::before {
   width: 300%;
   top: -50%;
   height: 200%;
}
.products-pageContent__right-btn--wrap button::before {
   content: '';
   position: absolute;
   left: -100%;
   top: 100%;
   background-color: rgba(255,255,255,1);
   width: 100%;
   height: 100%;
   clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
   transition: all .7s;
   z-index: -1;
}
.products-pageContent__right-btn--wrap a:hover {
   color: #6da3d1;
   border: 1px solid #6da3d1;
   box-shadow: 1px 1px 10px #6da3d1;
}
.products-pageContent__right-btn--wrap a:hover::before {
   width: 300%;
   top: -50%;
   height: 200%;
}
.products-pageContent__right-btn--wrap a::before {
   content: '';
   position: absolute;
   right: -100%;
   top: 100%;
   background-color: rgba(255,255,255,1);
   clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
   width: 100%;
   height: 100%;
   transition: all .7s;
   z-index: -1;
}

.products-pageIcons {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 80px;
}
.products-pageIcons__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 22%;
}
.products-pageIcons__item img {
   height: 75px;
}
.products-pageIcons__item p {
   font-family: "Museo Sans 300";
   color: #000;
   text-align: center;
   font-size: 18px;
   line-height: 1.5em;
   margin-top: 50px;
}

.products-pagePresentations {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.products-pagePresentations2--margin-top {
   margin-top: 100px;
}
.products-pagePresentations__title {
   width: 100%;
   color: #4a689f;
   font-family: "Museo Sans 700";
   font-size: 24px;
   line-height: 1.2em;
   margin-bottom: 50px;
   text-align: center;
}
.products-pagePresentations__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 240px;
   margin: 0 15px;
}
.products-pagePresentations__item img {
   height: 215px;
}
.products-pagePresentations__item-text {
   width: 100%;
   height: 170px;
   margin-top: 30px;
   padding: 25px 10px;
   border: 1px solid #00579a;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: relative;
   overflow: hidden;
   z-index: 0;
   transition: all .7s;
}
.products-pagePresentations__item-text::before {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 101%;
   height: 100%;
   background-color: #3C4C70;
   background-image: url(../../img/products/download.png);
   background-repeat: no-repeat;
   background-size: 90px 90px;
   background-position: center top 65%;
   clip-path: polygon(0 0, 5% 0, 25% 10%, 75% 10%, 95% 0, 100% 0, 100% 100%, 0 100%);
   opacity: 1;
   z-index: -1;
   transition: all 1s;
}
.products-pagePresentations__item-text:hover {
   box-shadow: 5px 5px 20px #3C4C70;
}
.products-pagePresentations__item-text:hover::before {
   top: -50%;
   height: 150%;
}
.products-pagePresentations__item-text:hover a {
   color: #fff;
   box-shadow: 3px 3px 10px solid #fff;
   transform: scale(1.15);
}
.products-pagePresentations__item-text:hover a::before {
   background-color: #fff;
}
.products-pagePresentations__item-text:hover a::after {
   background-color: #fff;
}
.products-pagePresentations__item-text:hover p {
   transform: translateY(-200px);
}
.products-pagePresentations__item-text p {
   font-family: "Museo Sans 700";
   text-align: center;
   color: #00579a;
   font-size: 20px;
   line-height: 22px;
   transition: all 1s;
}
.products-pagePresentations__item-text a {
   font-family: "Museo Sans 300";
   text-align: center;
   color: #6da3d1;
   background-color: transparent;
   font-size: 16px;
   line-height: 20px;
   position: relative;
   z-index: 0;
   overflow: hidden;
   transition: all 1s;
}
.products-pagePresentations__item-text a::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 1px;
   width: 100%;
   background-color: #6da3d1;
   transition: all .7s;
   z-index: -1;
}
.products-pagePresentations__item-text a:hover::before {
   left: -100%;
}
.products-pagePresentations__item-text a::after {
   content: '';
   position: absolute;
   bottom: 0;
   right: 0;
   height: 1px;
   width: 100%;
   background-color: #6da3d1;
   transition: all .7s;
   z-index: -1;
}
.products-pagePresentations__item-text a:hover::after {
   right: -100%;
}

/* КОРПОРАТИВНЫЕ САЙТЫ */
/* DIGITAL */



/* PROMOTION */
.products-content__statistics-left .line-promotion-1::before {
   content: '- 461';
}
.products-content__statistics-left .line-promotion-2::before {
   content: '- 1960';
}
.products-content__statistics-left .line-promotion-3::before {
   content: '- 397';
}
.products-content__statistics-left .line-promotion-4::before {
   content: '- 214';
}
.products-content__statistics-left .line-promotion-5::before {
   content: '- 78';
}
.products-content__statistics-left .line-promotion-6::before {
   content: '- 89';
}
.products-content__statistics-left .line-promotion-7::before {
   content: '- 10';
}
.products-content__statistics-left .line-promotion-8::before {
   content: '- 214';
}
.products-content__statistics-left .line-promotion-9::before {
   content: '- 27';
}

.products-content__statistics-right .line-promotion-1::before {
   background-color: #4456A1;
}
.products-content__statistics-right .line-promotion-2::before {
   background-color: #00A0E3;
}
.products-content__statistics-right .line-promotion-3::before {
   background-color: #EF7F1A;
}
.products-content__statistics-right .line-promotion-4::before {
   background-color: #B2B3B3;
}
.products-content__statistics-right .line-promotion-5::before {
   background-color: #FECC00;
}
.products-content__statistics-right .line-promotion-6::before {
   background-color: #7E71B1;
}
.products-content__statistics-right .line-promotion-7::before {
   background-color: #D53C3F;
}
.products-content__statistics-right .line-promotion-8::before {
   background-color: #6EC26E;
}
.products-content__statistics-right .line-promotion-9::before {
   background-color: #E385EB;
}

.products-promotion-navigation {
   background-color: #9E85CB;
}
.products-promotion-navigation .products-navigation__item:hover a{
   background-color: #7052A5;
}

/* PROMOTION */
























/* NEW */
.tech_support-header {
   background-image: url(../../img/products/marketing/tech_supprot/tech_supprot-header.png);
}
.productsPage-top {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 45px;
}
.productsPage-top__advantages {
   display: flex;
   flex-direction: column;
   width: 650px;
}
.productsPage-top__advantages-item {
   margin-bottom: 25px;
   padding: 30px;
   display: flex;
   justify-content: space-between;
   background-color: #f4f4f4;
   border-bottom: 2px solid #cfba89;
}
.advantages-item__text {
   display: flex;
   flex-direction: column;
   width: 450px;
}
.advantages-item__text-title {
   font-family: "Museo Sans 700";
   color: #2870ac;
   font-size: 24px;
   line-height: 1.5em;
   text-decoration: underline;
}
.advantages-item__text-description {
   font-family: "Museo Sans 300";
   color: #000;
   font-size: 18px;
   line-height: 1.5em;
}
.productsPage-top__advantages-item  img {
   align-self: flex-start;
   height: 50%;
}

.productsPage-top__other {
   width: 400px;
   display: flex;
   flex-direction: column;
}
.top__other-video--wrap {
   width: 100%;
   height: 300px;
   margin-bottom: 50px;
}
.top__other-video--wrap img {
   width: 100%;
}
.top__other-text{
   width: 100%;
   padding: 20px;
   border: 1px solid #a4a4a4;
   margin-bottom: 30px;
}
.top__other-text__description {
   font-family: "Museo Sans 300";
   color: #000;
   font-size: 18px;
   line-height: 1.5em;
}
.top__other-text__description span {
   font-family: "Museo Sans 700";
}
.top__other-btn--wrap {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}
.top__other-btn--wrap button {
   background-color: #3c4c70;
}
.top__other-btn--wrap a {
   background-color: #6da3d1;
}
.top__other-btn--wrap button,
.top__other-btn--wrap a {
   width: 45%;
   height: 40px;
   font-family: "Museo Sans 500";
   color: #fff;
   font-size: 15px;
   line-height: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid transparent;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all .7s;
   z-index: 1;
}
.top__other-btn--wrap button:hover {
   color: #3c4c70;
   border: 1px solid #3c4c70;
   box-shadow: 1px 1px 10px #3c4c70;
}
.top__other-btn--wrap button:hover::before {
   width: 300%;
   top: -50%;
   height: 200%;
}
.top__other-btn--wrap button::before {
   content: '';
   position: absolute;
   left: -100%;
   top: 100%;
   background-color: rgba(255,255,255,1);
   width: 100%;
   height: 100%;
   clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
   transition: all .7s;
   z-index: -1;
}
.top__other-btn--wrap a:hover {
   color: #6da3d1;
   border: 1px solid #6da3d1;
   box-shadow: 1px 1px 10px #6da3d1;
}
.top__other-btn--wrap a:hover::before {
   width: 300%;
   top: -50%;
   height: 200%;
}
.top__other-btn--wrap a::before {
   content: '';
   position: absolute;
   right: -100%;
   top: 100%;
   background-color: rgba(255,255,255,1);
   clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
   width: 100%;
   height: 100%;
   transition: all .7s;
   z-index: -1;
}
.top__other-advertising {
   width: 100%;
   height: 400px;
}

.productsPage-presentation {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.productsPage-presentation__item {
   width: 250px;
   border: 1px solid #3C4C70;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   position: relative;
   z-index: 0;
   transition: all .7s ease-in-out;
}
.productsPage-presentation__item::before {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 101%;
   height: 100%;
   background-color: #3C4C70;
   background-image: url(../../img/products/download.png);
   background-repeat: no-repeat;
   background-size: 90px 90px;
   background-position: center bottom 50px;
   clip-path: polygon(0 0, 5% 0, 25% 4%, 75% 4%, 95% 0, 100% 0, 100% 100%, 0 100%);
   transition: all .7s ease-in-out;
   z-index: -1;
}
.productsPage-presentation__item:hover{
   box-shadow: 1px 1px 10px #3C4C70;
}
.productsPage-presentation__item:hover::before {
   top: -10%;
   height: 110%;
}
.productsPage-presentation__item:hover img {
   transform: translate(0px,-500px);
}
.productsPage-presentation__item:hover .presentation__item-info__title {
   transform: translate(0px,-275px);
   text-shadow: 1px 1px 10px rgba(255,255,255,.5);
   color: #fff;
}
.productsPage-presentation__item:hover .presentation__item-description {
   transform: translate(0px,-275px);
   text-shadow: 1px 1px 10px rgba(255,255,255,.5);
   color: #fff;
}
.productsPage-presentation__item:hover .presentation__item-download {
   color: #fff;
   text-shadow: 1px 1px 10px rgba(255,255,255,.5);
   transform: scale(1.1);
}
.productsPage-presentation__item:hover .presentation__item-download::before {
  background-color: #fff;
  width: 0;
}
.productsPage-presentation__item:hover .presentation__item-download::after {
   background-color: #fff;
   width: 0;
 }
.productsPage-presentation__item img {
   height: 275px;
   transition: all .7s ease-in-out;
}
.presentation__item-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   height: 145px;
   width: 100%;
   margin-top: 30px;
}
.presentation__item-info__title {
   font-family: "Museo Sans 900";
   color: #00579a;
   text-transform: uppercase;
   font-size: 24px;
   height: 48px;
   display: flex;
   align-items: flex-end;
   line-height: 1em;
   transition: all .7s ease-in-out;
}
.presentation__item-description {
   font-family: "Museo Sans 700";
   color: #00579a;
   font-size: 20px;
   line-height: 1.1em;
   transition: all .7s ease-in-out;
}
.presentation__item-download {
   font-family: "Museo Sans 300";
   font-size: 16px;
   line-height: 1.2em;
   color: #6da3d1;
   position: relative;
   transition: all .7s ease-in-out;
}
.presentation__item-download::before {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #6da3d1;
    transition: all .7s ease-in-out;
}
.presentation__item-download::after {
   content: '';
   position: absolute;
   top: 100%;
   right: 0;
   width: 100%;
   height: 1px;
   background-color: #6da3d1;
    transition: all .7s ease-in-out;
}
