<style> 
 

</style>

<div id="configurator">
    <div class="d-flex justify-content-between bg-primary">
        
        <div class="align-self-start"><img src="/public/img/logo2.png" class="img-fluid" alt="Responsive image"></div>
        <div class="align-self-center">Шаг {{step}} из {{MaxStep}}</div>

    </div>
    
    <div v-if="step==1">
        <div class="text-center">
            <h2>Тип сайта</h2>
            <p>В первую очередь Вы должны определится, с какой целью Вам нужен сайт и выбрать соответствующий тип сайта.В зависимости от Вашего выбора, будут подобраны соответствующие модули.</p>
        </div>
        <div class="d-flex flex-wrap bd-highlight mb-3 justify-content-center">
            <div style="width: 400px;" class="bd-highlight border mx-2 mt-3" v-for="(option, index) in SiteTypPrice" v-on:click="SiteTyp=option.value">
                <div class="view overlay">
                    <img class="img-fluid" v-bind:src="option.img">
                    <div class="mask rgba-black-strong">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <p class="white-text">{{ option.desk }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" v-bind:id="'ckd'+index" v-bind:value="option.value" v-model.number="SiteTyp">
                        <label class="custom-control-label" v-bind:for="'ckd'+index">{{option.text}}</label>
                    </div>
                    <h5>всего за {{option.value}} рублей</h5>
                </div>
            </div>
        </div>
    </div>

    <div v-if="step==2">
        <div class="text-center">
            <h2>Выбор движка</h2>
            <p>CMS (в народе называют движком) – система управления контентом сайта. Это костяк, на котором все строится. От движка зависит удобство наполнения сайта, его «дружелюбность» для поискового продвижения, возможность подключения дополнительных сервисов.</p>
        </div>
         <div class="d-flex flex-wrap bd-highlight mb-3 justify-content-center">
            <div style="width: 400px;" class="bd-highlight border mx-2 mt-3" v-for="option in EnginePrice" v-on:click="EngineTyp=option.value">
                <div class="view overlay">
                    <img class="card-img-top" v-bind:src="option.img" alt="Card image cap">
                    <div class="mask rgba-black-strong">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-11">
                                <p class="white-text">{{ option.desk }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" v-bind:id="'eckd'+option.value" v-bind:value="option.value" v-model.number="EngineTyp">
                        <label class="custom-control-label" v-bind:for="'eckd'+option.value">{{option.text}} за {{option.value}} рублей</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div v-if="step==3">
        <div class="text-center">
            <h2>Перечень страниц для выбора</h2>
            <p>Дополнительные страницы позволяют расширять функционал Вашего сайта. В зависимости от типа сайта подбираются соответствующие страницы. Но даже на корпоративный сайт никто не мешает установить блог или каталог товаров.</p>
        </div>
        <div class="d-flex justify-content-between bd-highlight mb-3">
            <div class="p-2 bd-highlight col-example">
                <p class="text-success">Базовые страницы (входят в стимость)</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="basehederMenu" v-model="bStep3" value="basehederMenu">
                            <label class="custom-control-label" for="basehederMenu">Шапка(меню,контент,сайдбар)</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseNewsSalers" v-model="bStep3" value="baseNewsSalers">
                            <label class="custom-control-label" for="baseNewsSalers">Новости, Акции</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseProdukt" v-model="bStep3" value="baseProdukt">
                            <label class="custom-control-label" for="baseProdukt">О товаре, Услугах</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseKompany" v-model="bStep3" value="baseKompany">
                            <label class="custom-control-label" for="baseKompany">О компании</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseKoments" v-model="bStep3" value="baseKoments">
                            <label class="custom-control-label" for="baseKoments">Отзывы</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseKatalog" v-model="bStep3" value="baseKatalog">
                            <label class="custom-control-label" for="baseKatalog">Каталог (до 10) товаров</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p-2 bd-highlight col-example"> </div>
            <div class="p-2 bd-highlight col-example">
                <p class="text-success">Дополнительные страницы</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopWorkers" v-model.number="Step3" value="1000">
                            <label class="custom-control-label" for="DopWorkers">Комманда, сотрудники</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopFilials" v-model.number="Step3" value="1050">
                            <label class="custom-control-label" for="DopFilials">Филиалы</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopWorksHH" v-model.number="Step3" value="2500">
                            <label class="custom-control-label" for="DopWorksHH">Вакансии (API c HH)</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopWorksEXEL" v-model.number="Step3" value="1550">
                            <label class="custom-control-label" for="DopWorksEXEL">Вакансии (с управлением exel-файл)</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopKatalog" v-model.number="Step3" value="3500">
                            <label class="custom-control-label" for="DopKatalog">Каталог (до 100) товаров</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopUnikPage" v-model.number="Step3" value="5000">
                            <label class="custom-control-label" for="DopUnikPage">Уникальная страница</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div v-if="step==4">
        <h2>Дизайн</h2>
        <p>Каждый из дизайн-проектов компании AGATECH - уникальны! Мы работаем с адаптивной версткой. Стоимость разработки макета может отличаться в зависимости от сложности проекта. Количество правок к согласованному макету предложенных заказчиком в процессе создания, увеличивает его стоимость.</p>
        <div class="d-flex justify-content-between bd-highlight mb-3">
            <div class="p-2 bd-highlight col-example">
                <p class="text-success">Базовые услуги (входят в стимость)</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseServicPrototyp" v-model="bStep4" value="baseServicPrototyp">
                            <label class="custom-control-label" for="baseServicPrototyp">Разработка прототипов страниц проекта</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseServicStyles" v-model="bStep4" value="baseServicStyles">
                            <label class="custom-control-label" for="baseServicStyles">Создание карточки стилей пректа</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="baseServicDesine" v-model="bStep4" value="baseServicDesine">
                            <label class="custom-control-label" for="baseServicDesine">Создание дизайн концепции проекта</label>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="p-2 bd-highlight col-example"> </div>
            <div class="p-2 bd-highlight col-example">
                <p class="text-success">Дополнительные услуги</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopServecLogoKompany" v-model.number="Step4" value="7500">
                            <label class="custom-control-label" for="DopServecLogoKompany">Разработка логотипа и фирменного стиля</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        
                        <div class="btn-group btn-group-sm mr-2" role="group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="DopServecSliders" v-model.number="DopServecSliders" value="1500">
                                <label class="custom-control-label" for="DopServecSliders">Разработка слайдов акции</label>
                            </div>
                            <div class="input-group input-group-sm" style="width: 110px; margin-left: 10px;">
                                <div class="input-group-prepend hoverable" style="cursor: pointer;" v-on:click="DopServecSlidersCount--">
                                    <span class="input-group-text" >
                                    <i class="fas fa-minus"></i>
                                    </span>
                                </div>
                                <input type="number" min="1" max="99" class="form-control" v-model.number="DopServecSlidersCount">
                                <div class="input-group-append hoverable" style="cursor: pointer;" v-on:click="DopServecSlidersCount++">
                                    <span class="input-group-text">
                                    <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopServecBtnCreate" v-model.number="Step4" value="1300">
                            <label class="custom-control-label" for="DopServecBtnCreate">Разработка набора кнопок</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group input-group-sm mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="DopServecPictureDev" v-model.number="DopServecPictureDev" value="1600">
                                <label class="custom-control-label" for="DopServecPictureDev">Обработка изображений</label>
                            </div>
                            <div class="input-group input-group-sm" style="width: 110px; margin-left: 10px;">
                                <div class="input-group-prepend hoverable" style="cursor: pointer;" v-on:click="DopServecPictureDevCount--">
                                    <span class="input-group-text" >
                                    <i class="fas fa-minus"></i>
                                    </span>
                                </div>
                                <input type="number" min="1" max="99" class="form-control" v-model.number="DopServecPictureDevCount">
                                <div class="input-group-append hoverable" style="cursor: pointer;" v-on:click="DopServecPictureDevCount++">
                                    <span class="input-group-text">
                                    <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopServecPresent" v-model.number="Step4" value="50000">
                            <label class="custom-control-label" for="DopServecPresent">Разработка презентации</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopServecBrandBook" v-model.number="Step4" value="60000">
                            <label class="custom-control-label" for="DopServecBrandBook">Разработка брендбука</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div v-if="step==5">
        <div class="text-center">
            <h2>Наполнение</h2>
            <p>Создание сайта - это только начало. Его следует наполнить. Это можно делать самостоятельно или доверить работу профессионалам. Если Вам необходима помощь в подготовке наполнения для проекта, выберите необходимые услуги ниже.</p>
        </div>
        <div class="d-flex justify-content-between bd-highlight mb-3">
            <div class="p-2 bd-highlight col-example">

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="WriteText">
                            <label class="custom-control-label" for="WriteText">Написание текстов (500 знаков)</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="SalePictures">
                            <label class="custom-control-label" for="SalePictures">Подбор и покупка изображений</label>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="p-2 bd-highlight col-example"> </div>
            <div class="p-2 bd-highlight col-example">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopMoveCreate">
                            <label class="custom-control-label" for="DopMoveCreate">Создание видиоролика</label>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="DopPhotograph">
                            <label class="custom-control-label" for="DopPhotograph">Работа фотографа (2 часа 50 фотографий)</label>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div v-if="totalprice!==0" class="d-flex justify-content-between bd-highlight mb-3">
        <div class="p-2 bd-highlight"><button v-if="step>1" @click="prew" type="button" class="btn btn-default" >назад</button></div>
        <div class="p-2 bd-highlight"><span v-if="totalprice>0">Цена {{totalprice}} Руб.</span></div>
        <div class="p-2 bd-highlight"><button v-if="step<MaxStep" @click="next" type="button" class="btn btn-green" >далее</button></div>
    </div>
       
    
    
</div>



<script>
var configurator = new Vue({
  el: '#configurator',
  data: {
    message: 'Калькулятор сайтов',
    step:4,MaxStep:8, 
    SiteTyp:0,SiteTypPrice: [
      { text: 'Одностраничный сайт', value:25000,img:'/public/img/sample.jpg',
          desk:'Очень популярный в настоящее время формат сайтов, который не предполагает разветвленной структуры. Все содержание такого сайта умещается на одной-единственной странице и просматривается вверх и вниз при помощи прокрутки.' },
      { text: 'Интернет магазин', value:45000,img:'/public/img/ecom.jpg',
          desk:'Сайт, торгующий товарами посредством сети Интернет. Позволяет пользователям онлайн, в своём браузере или через мобильное приложение, сформировать заказ на покупку, выбрать способ оплаты и доставки заказа, оплатить заказ. При этом продажа товаров осуществляется дистанционным способом' },
      { text: 'Корпоративный сайт', value:35000,img:'/public/img/portal.jpg',
          desk:'В общем случае, веб-интерфейс для доступа сотрудника к корпоративным данным и приложениям.' },
      { text: 'Сайт визитка', value:15000,img:'/public/img/leding.jpg',
          desk:'сайт-визитку используют компании, которые не хотят нести большие затраты на создание отдельного сайта. Очень часто при покупке доменного имени для почты устанавливается сайт-заглушка или сайт-визитка.' },
      { text: 'Демо сайт', value:10000,img:'/public/img/sample.jpg',
          desk:'В общем случае, веб-интерфейс для доступа сотрудника к корпоративным данным и приложениям.' }
    ],
    EngineTyp:0,EnginePrice: [
      { text: 'Bitrix', value:0, img:'https://www.intervolga.ru/upload/medialibrary/8d0/8d09701103cc66ffedba00feb577b543.jpg',
        desk:'1С-Битрикс: Управление сайтом — система управления содержимым от российской компании 1С-Битрикс. Имеет несколько «редакций» — лицензионных версий: Старт, Стандарт, Малый бизнес, Бизнес, которые отличаются включаемыми модулями системы'},
      { text: 'Tilda', value: 10000, img:'https://d2xzmw6cctk25h.cloudfront.net/post/1738/og_cover_image/970fe5a36401ee376059ec3370a08279',
        desk:'Tilda Publishing — блочный конструктор сайтов, не требующий навыков программирования. Позволяет создавать сайты, интернет-магазины, посадочные страницы, блоги и email-рассылки. Cайты на платформе собираются из готовых блоков, которые автоматически адаптируются под мобильные устройства и выделены в смысловые категории.'},
      { text: 'Opencart', value: 15000, img:'https://www.opencart.com/application/view/image/home/hero-image.png',
        desk:'OpenCart ориентированная на создание интернет-магазинов. Является свободным программным обеспечением, распространяемым по лицензии GNU General Public License v3. Системой «OpenCart» поддерживаются дополнения. «OpenCart» создан и поддерживается Дениэлем Керром в репозитории GitHub.'},
      { text: 'Чистый код', value:25000, img:'https://wpgutenberg.top/wp-content/uploads/2019/01/PHP7.3-1024x512.png',
        desk:'PHP — скриптовый язык общего назначения, интенсивно применяемый для разработки веб-приложений. В настоящее время поддерживается подавляющим большинством хостинг-провайдеров и является одним из лидеров среди языков, применяющихся для создания динамических веб-сайтов.' }
    ],
    Step3:[],bStep3:[],
    DopServecSlidersCount:1,DopServecSliders:0,
    DopServecPictureDevCount:1,DopServecPictureDev:0, 
    Step4:[],bStep4:[]
  },
  computed: {
    totalprice() {
        //let UnikPage = this.sidebarUnikPage*5000;
        let step3 = this.arraySum(this.Step3);
        let step4 = this.arraySum(this.Step4);
        if(this.DopServecSliders){
            step4=step4+(1500*this.DopServecSlidersCount);
        }
        if(this.DopServecPictureDev){
            step4=step4+(1600*this.DopServecPictureDevCount);
        }
        return this.SiteTyp+this.EngineTyp+step3+step4;
    }
  },
  methods: {
    arraySum(arr) {
        let sum = 0;
        if (arr.length) {
            sum = arr.reduce((a, b) => {
                return (parseFloat(a) || 0) + (parseFloat(b) || 0);
            });
        } else {
            sum = 0;
        }
        return sum;
    },
    next() {
      this.step++;
      if(this.step>this.MaxStep){
          this.step = this.MaxStep;
      }
    },
    prew() {
      this.step--;
      if(this.step<1){
          this.step=1;
      }
    },
    SiteTypChange(event) {
        console.log(event.target.value);
        
    }
    
  }
})

</script>