/* BusinessCooperation */
.businessCooperation {
   overflow-x: hidden; 
}
.businessCooperationbgc {
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   z-index: -1;
   height: 500px;
}

.businessCooperation__top {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin: 0 auto;
   height: 400px;
}
.businessCooperation__top h2 {
   font-weight: bold;
   font-size: 50px;
   line-height: 60px;
   letter-spacing: 0.05em;
   margin-bottom: 40px;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
}
@media(max-width: 1400px) {
   .businessCooperation__top {
      height: 350px;
   }
   .businessCooperationbgc {
      height: 450px;
   }
   .businessCooperation__top h2 {
      font-size: 45px;
      line-height: 55px;
   }
}
@media(max-width: 1200px) {
   .businessCooperation__top {
      height: 300px;
   }
   .businessCooperationbgc {
      height: 400px;
   }
   .businessCooperation__top h2 {
      font-size: 40px;
      line-height: 50px;
   }
}
@media(max-width: 1000px) {
   .businessCooperation__top {
      height: 250px;
   }
   .businessCooperationbgc {
      height: 350px;
   }
   .businessCooperation__top h2 {
      font-size: 35px;
      line-height: 45px;
   }
}
@media(max-width: 900px) {
   .businessCooperation__top {
      height: 230px;
   }
   .businessCooperationbgc {
      height: 330px;
   }
   .businessCooperation__top h2 {
      font-size: 33px;
      line-height: 43px;
      margin-bottom: 30px;
   }
}
@media(max-width: 800px) {
   .businessCooperation__top {
      height: 200px;
   }
   .businessCooperationbgc {
      height: 300px;
   }
   .businessCooperation__top h2 {
      font-size: 30px;
      line-height: 40px;
   }
}
@media(max-width: 600px) {
   .businessCooperation__top {
      height: 150px;
   }
   .businessCooperationbgc {
      height: 250px;
   }
   .businessCooperation__top h2 {
      font-size: 25px;
      line-height: 35px;
   }
}
@media(max-width: 500px) {
   .businessCooperation__top {
      height: 130px;
   }
   .businessCooperationbgc {
      height: 220px;
   }
   .businessCooperation__top h2 {
      font-size: 23px;
      line-height: 33px;
      margin-bottom: 20px;
   }
}
@media(max-width: 400px) {
   .businessCooperation__top {
      height: 120px;
   }
   .businessCooperationbgc {
      height: 220px;
   }
   .businessCooperation__top h2 {
      font-size: 20px;
      line-height: 30px;
   }
}

.businessCooperation__center {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #E4E7F1;
   min-height: 800px;
   border-top: 17px solid #8CB0E4;
   padding-top: 30px;
}
.businessCooperation__center_menu {
   margin: 30px 0 30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.businessCooperation__center_menu_link{
   text-decoration: none;
   padding: 0 20px;
   font-size: 16px;
   line-height: 16px;
   color: #626779;
   cursor: pointer;
   transition: all .2s ease;
}
.businessCooperation__center_menu_link:hover{
   color: #626779;
   text-decoration: underline;
}
@media(max-width: 1400px) {
   .businessCooperation__center_menu {
      margin: 25px 0 25px;
   }
   .businessCooperation__center_menu_link{
      font-size: 14px;
      line-height: 14px;
   }
}
@media(max-width: 900px) {
   .businessCooperation__center_menu {
      display: none;
   }
}

.active_underline {
   text-decoration: underline;
}