

/* COLUTIONS */
.colutions {
   overflow-x: hidden;
}
.colutionsbgc {
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   height: 500px;
   z-index: -1;
}
.colutions__top {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 1000px;
   margin: 0 auto;
   height: 400px;
}
.colutions__top h2 {
   font-weight: bold;
   font-size: 60px;
   line-height: 70px;
   letter-spacing: 0.07em;
   color: #98BAED;
   text-align: center;
   text-transform: uppercase;
}
.colutions__center {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #E4E7F1;
   min-height: 1000px;
   border-top: 17px solid #8CB0E4;
}
.colutions__center_menu {
   margin: 30px 0 50px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.colutions__center_menu_link{
   text-decoration: none;
   padding: 0 20px;
   font-size: 16px;
   line-height: 36px;
   color: #626779;
   cursor: pointer;
   transition: all .2s ease;
}
.colutions__center_menu_link:hover{
   color: #626779;
   text-decoration: underline;
}
.colutions__center h6{
   font-size: 30px;
   line-height: 30px;
   color: #626779;
   margin-bottom: 30px;
}
.colutions__center_block {
   width: 1250px;
   margin: 50px auto 100px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
}
.colutions__center_block_item {
   width: 280px;
   height: 210px;
   margin: 16px;
   position: relative;
   transition: transform .7s, filter .7s;
   filter: grayscale(100%);
   background-size: cover;
   z-index: 1;
   cursor: pointer;
}
.colutions__center_block_item:nth-child(1) {
   background-image: url(../img/colutions/1-toyota.png);
}
.colutions__center_block_item:nth-child(2) {
   background-image: url(../img/colutions/2-canon.png);
}
.colutions__center_block_item:nth-child(3) {
   background-image: url(../img/colutions/3-forma.png);
}
.colutions__center_block_item:nth-child(4) {
   background-image: url(../img/colutions/4-kronos.png);
}
.colutions__center_block_item:nth-child(5) {
   background-image: url(../img/colutions/5-APB.png);
}
.colutions__center_block_item:nth-child(6) {
   background-image: url(../img/colutions/6-comet.png);
}
.colutions__center_block_item:nth-child(7) {
   background-image: url(../img/colutions/7-bebrand.png);
}
.colutions__center_block_item:nth-child(8) {
   background-image: url(../img/colutions/8-bsk.png);
}
.colutions__center_block_item:nth-child(9) {
   background-image: url(../img/colutions/9-rmh.png);
}
.colutions__center_block_item:nth-child(10) {
   background-image: url(../img/colutions/10-bl.png);
}
.colutions__center_block_item:nth-child(11) {
   background-image: url(../img/colutions/11-cirk.png);
}
.colutions__center_block_item:nth-child(12) {
   background-image: url(../img/colutions/12-evita.png);
}
.colutions__center_block_item a {
   width: 100%;
   height: 100%;
   display: block;
}
.colutions_circle {
   position: absolute;
   top: 5px;
   left: 40px;
   width: 200px;
   height: 200px;
   background-color: rgba(255,255,255, .8);
   border-radius: 50%;
   transform: scale(0);
   transition: transform .7s;
   z-index: 2;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.colutions_circle p {
   font-size: 16px;
   color: #56698f;
   font-weight: bold;
}
.colutions_border {
   position: absolute;
   top: -20px;
   left: 15px;
   width: 250px;
   height: 250px;
   background-color: rgba(255,255,255,.4);
   border-radius: 50%;
   transform: scale(0);
   transition: transform .7s;
}
.colutions_arrow {
   position: absolute;
   width: 60px;
   height: 35px;
   bottom: -15px;
   left: 110px;
   background-color: transparent;
   z-index: 3;
   transform: translateY(60px);
   transition: transform .7s;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #8CB0E4;
   visibility: hidden;
}
.colutions__center_block_item:hover {
   filter: grayscale(0%);
}
.colutions__center_block_item:hover .colutions_circle {
   transform: scale(1);
}
.colutions__center_block_item:hover .colutions_border {
   transform: scale(1);
}
.colutions__center_block_item:hover .colutions_arrow  {
   transform: translateY(0px);
   visibility: visible;
}
/* .block_item_bgc {
   width: 100%;
   height: 100%;
} */
.active_underline {
   text-decoration: underline;
}