.container-page {
   position: absolute;
   top: 100px;
   right: 0;
   width: 1200px;
   background-color: #ffffff;
   z-index: 1;
   box-shadow: -2px -2px 20px #81736c;
   padding: 50px 100px;
   display: flex;
   flex-direction: column;
   transform: scale(0);
   transition: transform 1s;
}
.container-page__back-btn {
   position: absolute;
   background-color: #8CB0E4;
   width: 70px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   left: 0;
   cursor: pointer;
}
.container-page__back-btn img {
   transform: rotate(180deg);
   width: 40px;
}
.container-page__header-title {
   color: #56698f;
   font-size: 41px;
   line-height: 41px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 50px;
}
.container-page__header-text {
   color: #56698f;
   font-size: 18px;
   margin-bottom: 40px;
}
.container-page__header-text-2{
   color: #56698f;
   font-size: 18px;
}
.container-page__header-data {
   color: #56698f;
   font-size: 41px;
   line-height: 41px;
   font-weight: bold;
   text-transform: uppercase;
}
.container-page__header,
.container-page__task-and-description {
   width: 50%;
   margin-bottom: 50px;
}
.container-page__rusult,
.container-page__additionally {
   width: 80%;
   margin-bottom: 50px;
}
.container-page__task-title,
.container-page__descriptions-title,
.container-page__result-title,
.container-page__additionally-title {
   color: #56698f;
   font-size: 24px;
   line-height: 24px;
   font-weight: bold;
   margin-bottom: 10px;
}
.container-page__task-text,
.container-page__descriptions-text,
.container-page__result-text,
.container-page__additionally-text {
   color: #56698f;
   font-size: 18px;
}

.container-page__task-text {
   margin-bottom: 40px;
}
.container-page__look-btn {
   height: 50px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.container-page__look-btn-text {
   text-transform: uppercase;
   color: #8CB0E4;
   font-size: 18px;
   padding: 20px;
}
.container-page__look-btn-arrow {
   background-color: #8CB0E4;
   width: 70px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container-page__look-btn-arrow img {
   width: 40px;
}


/* toyota */
.container-toyota__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-toyota__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-toyota__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-toyota__img-4 {
 width: 80%;
 margin: 0 auto;
 margin-bottom: 100px;
}
.container-toyota__img-1 img,
.container-toyota__img-2 img,
.container-toyota__img-3 img,
.container-toyota__img-4 img {
   width: 100%;
   height: 100%;
}


/* canon */
.container-canon__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-canon__img-2,
.container-canon__img-3{
   width: 100%;
   margin-bottom: 50px;
}
.container-canon__img-4 {
 width: 80%;
 margin: 0 auto;
 margin-bottom: 100px;
}
.container-canon__img-1 img,
.container-canon__img-2 img,
.container-canon__img-3 img,
.container-canon__img-4 img {
   width: 100%;
   height: 100%;
}


/* forma */
.container-forma__img-1,
.container-forma__img-2,
.container-forma__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-forma__img-1 img,
.container-forma__img-2 img,
.container-forma__img-3 img {
   width: 100%;
   height: 100%;
}


/* cronos */
.container-cronos__img-1 {
   width: 100%;/
   margin-bottom: 50px;
}
.container-cronos__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-cronos__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-cronos__img-4 {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 100px;
  }
.container-cronos__img-1 img,
.container-cronos__img-2 img,
.container-cronos__img-3 img,
.container-cronos__img-4 img {
   width: 100%;
   height: 100%;
}


/* arb */
.container-arb__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-arb__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-arb__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-arb__img-4 {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 100px;
  }
.container-arb__img-1 img,
.container-arb__img-2 img,
.container-arb__img-3 img,
.container-arb__img-4 img {
   width: 100%;
   height: 100%;
}


/* comet */
.container-comet__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-comet__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-comet__img-3 {
   width: 100%;
   margin-bottom: 10px;
}
.container-comet__img-4 {
   width: 100%;
   margin-bottom: 50px;
}
.container-comet__img-1 img,
.container-comet__img-2 img,
.container-comet__img-3 img,
.container-comet__img-4 img {
   width: 100%;
   height: 100%;
}


/* bebrand */
.container-bebrand__img-1,
.container-bebrand__img-2,
.container-bebrand__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-bebrand__img-1 img,
.container-bebrand__img-2 img,
.container-bebrand__img-3 img {
   width: 100%;
   height: 100%;
}


/* bsk */
.container-bsk__img-1,
.container-bsk__img-2,
.container-bsk__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-bsk__img-1 img,
.container-bsk__img-2 img,
.container-bsk__img-3 img {
   width: 100%;
   height: 100%;
}


/* rmh */
.container-rmh__img-1,
.container-rmh__img-2,
.container-rmh__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-rmh__img-4 {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 100px;
}
.container-rmh__img-1 img,
.container-rmh__img-2 img,
.container-rmh__img-3 img,
.container-rmh__img-4 img {
   width: 100%;
   height: 100%;
}


/* business */
.container-business__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-business__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-business__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-business__img-4 {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 100px;
}
.container-business__img-1 img,
.container-business__img-2 img,
.container-business__img-3 img,
.container-business__img-4 img {
   width: 100%;
   height: 100%;
}



/* circus */
.container-circus__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-circus__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-circus__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-circus__img-1 img,
.container-circus__img-2 img,
.container-circus__img-3 img {
   width: 100%;
   height: 100%;
}


/* evita */
.container-evita__img-1 {
   width: 100%;
   margin-bottom: 50px;
}
.container-evita__img-2 {
   width: 100%;
   margin-bottom: 50px;
}
.container-evita__img-3 {
   width: 100%;
   margin-bottom: 50px;
}
.container-evita__img-4 {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 100px;
}
.container-evita__img-1 img,
.container-evita__img-2 img,
.container-evita__img-3 img,
.container-evita__img-4 img {
   width: 100%;
   height: 100%;
}




@media(max-width: 1600px) {
   .container-page {
      width: 1100px;
   }
}
@media(max-width: 1400px) {
   .container-page {
      width: 1000px;
   }
   .container-page__header-title {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 40px;
   }
   .container-page__header-text {
      font-size: 16px;
      margin-bottom: 30px;
   }
   .container-page__header-text-2{
      font-size: 16px;
   }
   .container-page__header-data {
      font-size: 35px;
      line-height: 35px;
   }
   .container-page__task-title,
   .container-page__descriptions-title,
   .container-page__result-title,
   .container-page__additionally-title {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
   }
   .container-page__task-text,
   .container-page__descriptions-text,
   .container-page__result-text,
   .container-page__additionally-text {
      font-size: 16px;
   }
   .container-page__task-text {
      margin-bottom: 40px;
   }
   .container-page__look-btn-text {
      font-size: 16px;
   }
}
@media(max-width: 1200px) {
   .container-page {
      width: 800px;
   }
   .container-page__look-btn-arrow {
      width: 60px;
      height: 40px;
   }
   .container-page__look-btn-arrow img {
      width: 30px;
   }
}
@media(max-width: 1000px) {
   .container-page {
      width: 700px;
   }
   .container-page__header,
   .container-page__task-and-description {
      width: 80%;
      margin-bottom: 40px;
   }
   .container-page__rusult,
   .container-page__additionally {
      width: 80%;
      margin-bottom: 40px;
   }
   .container-page__header-title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
   }
   .container-page__header-text {
      font-size: 14px;
      margin-bottom: 20px;
   }
   .container-page__header-text-2{
      font-size: 14px;
   }
   .container-page__header-data {
      font-size: 30px;
      line-height: 30px;
   }
   .container-page__task-title,
   .container-page__descriptions-title,
   .container-page__result-title,
   .container-page__additionally-title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
   }
   .container-page__task-text,
   .container-page__descriptions-text,
   .container-page__result-text,
   .container-page__additionally-text {
      font-size: 14px;
   }
   .container-page__task-text {
      margin-bottom: 30px;
   }
   .container-page__look-btn-text {
      font-size: 14px;
   }
   .container-toyota__img-4,
   .container-canon__img-4,
   .container-cronos__img-4,
   .container-arb__img-4,
   .container-rmh__img-4,
   .container-business__img-4,
   .container-evita__img-4{
      margin-bottom: 50px;
   }
}
@media(max-width: 900px) {
   .container-page {
      top: 80px;
   }
}
@media(max-width: 800px) {
   .container-page {
      width: 90%;
      padding: 40px 75px;
   }
   .container-page__back-btn {
      width: 55px;
      height: 35px;
   }
   .container-page__back-btn img {
      width: 35px;
   }
   .container-page__header,
   .container-page__task-and-description {
      width: 100%;
      margin-bottom: 35px;
   }
   .container-page__rusult,
   .container-page__additionally {
      width: 100%;
      margin-bottom: 35px;
   }
   .container-page__header-title {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 25px;
   }
   .container-page__header-text {
      font-size: 13px;
      margin-bottom: 15px;
   }
   .container-page__header-text-2{
      font-size: 13px;
   }
   .container-page__header-data {
      font-size: 25px;
      line-height: 25px;
   }
   .container-page__task-title,
   .container-page__descriptions-title,
   .container-page__result-title,
   .container-page__additionally-title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
   }
   .container-page__task-text,
   .container-page__descriptions-text,
   .container-page__result-text,
   .container-page__additionally-text {
      font-size: 13px;
   }
   .container-page__task-text {
      margin-bottom: 25px;
   }
   .container-page__look-btn-text {
      font-size: 13px;
   }
   .container-toyota__img-4,
   .container-canon__img-4,
   .container-cronos__img-4,
   .container-arb__img-4,
   .container-rmh__img-4,
   .container-business__img-4,
   .container-evita__img-4{
      margin-bottom: 40px;
   }
   .container-page__look-btn-arrow {
      width: 50px;
      height: 30px;
   }
   .container-page__look-btn-arrow img {
      width: 20px;
   }
}
@media(max-width: 600px) {
   .container-page {
      padding: 30px 60px;
   }
   .container-page__back-btn {
      width: 45px;
      height: 30px;
   }
   .container-page__back-btn img {
      width: 25px;
   }
   .container-page__header,
   .container-page__task-and-description {
      margin-bottom: 25px;
   }
   .container-page__rusult,
   .container-page__additionally {
      margin-bottom: 25px;
   }
   .container-page__header-title {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 22px;
   }
   .container-page__header-text {
      font-size: 12px;
      margin-bottom: 10px;
   }
   .container-page__header-text-2{
      font-size: 12px;
   }
   .container-page__header-data {
      font-size: 22px;
      line-height: 22px;
   }
   .container-page__task-title,
   .container-page__descriptions-title,
   .container-page__result-title,
   .container-page__additionally-title {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
   }
   .container-page__task-text,
   .container-page__descriptions-text,
   .container-page__result-text,
   .container-page__additionally-text {
      font-size: 12px;
   }
   .container-page__task-text {
      margin-bottom: 20px;
   }
   .container-page__look-btn-text {
      font-size: 12px;
   }
   .container-toyota__img-4,
   .container-canon__img-4,
   .container-cronos__img-4,
   .container-arb__img-4,
   .container-rmh__img-4,
   .container-business__img-4,
   .container-evita__img-4{
      margin-bottom: 30px;
   }
}
@media(max-width: 500px) {
   .container-page {
      top: 60px;
      padding: 25px 0 25px 40px;
   }
   .container-page__back-btn {
      width: 30px;
      height: 20px;
   }
   .container-page__back-btn img {
      width: 20px;
   }
   .container-page__header,
   .container-page__task-and-description {
      margin-bottom: 15px;
   }
   .container-page__rusult,
   .container-page__additionally {
      margin-bottom: 15px;
   }
   .container-page__header-title {
      margin-bottom: 15px;
   }
   .container-page__header-text {
      margin-bottom: 10px;
   }
   .container-page__task-text {
      margin-bottom: 10px;
   }
   .container-toyota__img-4,
   .container-canon__img-4,
   .container-cronos__img-4,
   .container-arb__img-4,
   .container-rmh__img-4,
   .container-business__img-4,
   .container-evita__img-4{
      margin-bottom: 20px;
   }
}









