.preloader {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background: #2D3555;
   z-index: 1001;
 }
 .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
}

 .preloader__item--wrap-1 {
   transform: rotateX(70deg) rotateY(55deg);
 }
 .preloader__item--wrap-1 .preloader__item {
  animation: preloader-bounce 1s 0s infinite linear;
}
.preloader__item--wrap-2 {
  transform: rotateX(70deg) rotateY(-55deg);
}
.preloader__item--wrap-2 .preloader__item {
  top: 100px;
  animation: preloader-bounce 2s 0s infinite linear;
}
 .preloader__item--wrap-3 {
  transform: rotateX(77deg) rotateY(0deg);
}
.preloader__item--wrap-3  .preloader__item  {
    top: 125px;
    left: -12px;
    animation: preloader-bounce 3s 0s infinite linear;
}
 .preloader__item {
   position: absolute;
   display: inline-block;
   top: 0;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   border-top: 1px solid #BFA082;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   border-bottom: 10px solid #BFA082;
   animation: preloader-bounce 1s 0s infinite linear;
 }
 
 @keyframes preloader-bounce {
  0% {
    transform:  rotate( 0deg);
  }

  100% {
    transform:  rotate( 360deg);
  }
}

.preloader-center {
  width: 10px;
  height: 10px;
  background-color: #BFA082;
  border-radius: 50%;
  position: absolute;
  left: 85px;
  top: 50px;
  animation:scaleCenter 1s 0s infinite linear;
}
@keyframes scaleCenter {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.preloader__atom {
  /* width: 20px;
  height: 20px;
  background-color: #BFA082;
  border-radius: 50%;
  position: absolute;
  top: -5px; */
  /* border: 3px solid #fff; */
}




 .loaded_hiding .preloader {
   transition: 0.3s opacity;
   opacity: 0;
 }

 .loaded .preloader {
   display: none;
 }