/* PRODUCTS */
.products {
   overflow-x: hidden; 
}
.products_top_bgc {
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   height: 500px;
   z-index: -1;
   background-color: #06093C;
}
.products_top {
   height: 400px;
   width: 60%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.products_top__circle { 
   width: 500px; 
   height: 80%;
}
.products_top__circle:hover .circle {
   transform: scale(1.05);
}
.circle {
   height: 100%;
   transition: transform 1s ease;
 }
.active-circle {
   animation: rotateCircle 10s linear 0s infinite;
}
.products_top__circle-text1,
.products_top__circle-text2,
.products_top__circle-text3 {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
}
.products_top__circle-text1:after,
.products_top__circle-text2:after,
.products_top__circle-text3:after {
   position: absolute;
   color: #fff;
   width: 50%;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 25px;
   font-weight: bold;
}
.products_top__circle-text1:after{
   content: "Креативная цифровая разработка";
}
.products_top__circle-text2:after{
   content: "Комплексное продвижение и сопровождение";
}
.products_top__circle-text3:after{
   content: "Автоматизация вашего бизнеса";
}


.products_center {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #E4E7F1;
   min-height: 1000px;
   border-top: 17px solid #8CB0E4;
   text-align: center;
}
.products__center_menu {
   margin: 30px 0 50px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.products__center_menu_link{
   text-decoration: none;
   padding: 0 20px;
   font-size: 16px;
   line-height: 36px;
   color: #626779;
   cursor: pointer;
   transition: all .2s ease;
}
.products__center_menu_link:hover{
   color: #626779;
   text-decoration: underline;
}
.products_center h6{
   font-size: 30px;
   line-height: 30px;
   color: #626779;
   margin-bottom: 30px;
}


.products_center__block {
   width: 1600px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.products_center__block-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/products-img-1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: -85px -20px;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-top-text {
   width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.products_center__block-top-text__top {
   font-weight: bold;
   font-size: 50px;
   line-height: 50px;
   color: #FFFFFF;
   margin-bottom: 10px;
}
.products_center__block-top-text__bottom {
   font-size: 70px;
   line-height: 70px;
   color: #FFFFFF;
}
.products_center__block-top-text__small {
   font-weight: bold;
   font-size: 25px;
   line-height: 25px;
   color: #FFFFFF;
}
.products_center__block-top-text__very-small {
   font-size: 22px;
   line-height: 22px;
   color: #FFFFFF;
   margin-top: 30px;
}
.products_center__block-text__center {
   font-size: 200px;
   font-weight: bold;   
   line-height: 50px;
   color: #FFFFFF;
}
.products_center__block-text__center span {
   font-weight: bold;
   font-size: 28px;
   line-height: 32px;
   color: #FFFFFF;
}
.products_center__block-top-advantages {
   width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.products_center__block-top-advantages__title {
   font-weight: bold;
   font-size: 28px;
   line-height: 32px;
   color: #FFFFFF;
   margin-bottom: 20px;
}
.products_center__block-top-advantages__item-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-top-advantages__item {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.products_center__block-top-advantages__item img {
   width: 100px;
   height: 100px;
}
.products_center__block-top-advantages__item-text {
   margin-top: 10px;
   font-size: 18px;
   line-height: 28px;
   color: #FFFFFF;
}


.products_center__block-center {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 100px;
}
.products_center__block-center__hieroglyph {
   width: 60%;
   margin-bottom: 20px;
}
.products_center__block-center__text {
   font-weight: bold;
   font-size: 26px;
   line-height: 28px;
   color: #626779;
   margin-bottom: 80px;
}
.products_center__block-internetCatalog-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/products-img-2.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-promoSite-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/products-img-3.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-mobileApps-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/products-img-4.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-individualSolutions-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/products-img-5.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.active_underline {
   text-decoration: underline;
}
