/* SLIDER */
.slider_block {
   position: absolute;
   top: 0; left: 0;
   width: 100vw;
   height: 100vh;
   z-index: -1;
   overflow: hidden;
}
.sll, .slr {
   width: 5%;
   z-index: 10;
}
.video {
   width: 100vw;
   height: 100vh;
   background: #010304;
}
.slide-2 {
   background-color: #06093C;
   height: 100vh;
   width: 100vw;
}
.slide-2_flex {
   height: 100%;
   width: 85%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.slide-2__content {
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
}

.slide-2__content_top {
   align-self: center;
   height: 450px;
   width: 100%;
}
.circle {
  height: 100%;
  transition: transform 1s ease;
}
.slide-2__content_top:hover .circle {
   transform: scale(1.1);
}
.circle_text1, .circle_text2, .circle_text3 {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
}
.circle_text1:after,
.circle_text2:after,
.circle_text3:after {
   position: absolute;
   color: #fff;
   width: 50%;
   text-transform: uppercase;
   font-size: 25px;
   line-height: 30px;
   font-weight: bold;
}
.circle_text1:after{
   content: "Креативная цифровая разработка";
}
.circle_text2:after{
   content: "Комплексное продвижение и сопровождение";
}
.circle_text3:after{
   content: "Автоматизация вашего бизнеса";
}
.slide-2__content_bottom {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   height: 160px;
   width: 100%;
}
.icons_block {
   text-align: center;
   width: 80px;
   margin: 0 5px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   position: relative;
   z-index: 1;
}
.icons_block p {
   display: none;
   color: #fff;
   margin-top: 10px;
   font-size: 18px;
   line-height: 18px;
}
.icons_block:hover p{
    display:block;
    position: relative;
}
.icons {
   border-radius: 10px;
   width: 70px;
   height: 70px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: transform .5s, box-shadow .5s;
}
.icons-circle-1 {
   border: 1px solid #47A04B;
}
.icons-circle-1:hover {
   box-shadow: 2px 2px 5px #47A04B;
   transform: scale(1.1);
}
.icons-circle-2 {
   border: 1px solid #7F12E3;
}
.icons-circle-2:hover {
   box-shadow: 2px 2px 5px #7F12E3;
   transform: scale(1.1);
}
.icons-circle-3 {
   border: 1px solid #2D6EAB;
}
.icons-circle-3:hover {
   box-shadow: 2px 2px 5px #2D6EAB;
   transform: scale(1.1);
}
.icons img {
   width: 40px;
   height: 40px;
}
@media(max-width: 1700px) {
   .circle_text1:after,
   .circle_text2:after,
   .circle_text3:after {
      font-size: 23px;
      line-height: 28px;
   }
}
@media(max-width: 1600px) {
   .slide-2__content {
      width: 400px;
      height: 500px;
    }
    .slide-2__content_top {
      height: 400px;
   }
    .circle_text1:after,
   .circle_text2:after,
   .circle_text3:after {
      font-size: 20px;
      line-height: 25px;
   }
    .icons_block {
      width: 70px;
      margin: 0 5px;
   }
   .icons {
      width: 60px;
      height: 60px;
   }
   .icons img {
      width: 35px;
      height: 35px;
   }
}
@media(max-width: 1400px) {
   .slide-2_flex {
      width: 90%;
   }
   .slide-2__content {
      width: 360px;
      height: 460px;
    }
    .slide-2__content_top {
      height: 350px;
   }
   .circle_text1:after,
   .circle_text2:after,
   .circle_text3:after {
      font-size: 19px;
      line-height: 24px;
   }
    .icons_block {
      width: 65px;
   }
   .icons {
      width: 55px;
      height: 55px;
   }
   .icons img {
      width: 30px;
      height: 30px;
   }
   .icons_block p {
      font-size: 16px;
      line-height: 16px;
   }
}
@media(max-width: 1200px) {
   .slide-2__content {
      width: 310px;
      height: 410px;
    }
    .slide-2__content_top {
      height: 300px;
   }
   .circle_text1:after,
   .circle_text2:after,
   .circle_text3:after {
      font-size: 16px;
      line-height: 21px;
   }
   .icons_block {
      width: 55px;
   }
   .icons {
      width: 50px;
      height: 50px;
   }
   .icons img {
      width: 30px;
      height: 30px;
   }
   .icons_block p {
      margin-top: 5px;
      font-size: 14px;
      line-height: 14px;
   }
}
@media(max-width: 1000px) {
   .slide-2__content {
      width: 280px;
      height: 380px;
    }
    .slide-2__content_top {
      height: 250px;
   }
   .circle_text1:after,
   .circle_text2:after,
   .circle_text3:after {
      font-size: 14px;
      line-height: 18px;
   }
    .icons_block {
      width: 50px;
   }
   .icons {
      width: 40px;
      height: 40px;
   }
   .icons img {
      width: 20px;
      height: 20px;
   }
   .icons_block p {
      font-size: 12px;
      line-height: 12px;
   }
}


.slide-3 {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background: url(../img/slider/slide-3-bgc.jpg) no-repeat center;
   background-size: 100%;
   background-color: #180D2E;
}


.slide-4 {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background: linear-gradient(#06B1E7,#56CBBE);
   position: relative;
   cursor: pointer;
}
.slide-4-content {
   width: 100%;
   height: 100%;
   position: absolute; z-index: 2;
   padding-top: 150px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-decoration: none;
}
.slide-4-bitrix24 {
   width: 400px;
}
.slide-4-content-price {
   width: 90%;
   margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
}
.slslide-4-content__price-item {
   flex-basis: 33%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.slide-4-content__price-item--top {
   color: #fff;
   text-align: center;
   font-size: 40px;
   line-height: 40px;
   font-family: 'Helvetica Neue Cyr Roman';
   font-weight: bold;
}
.slide-4-content__price-item--procent-wrap {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin: 10px 0;
}
.slide-4-content__price-item--number {
   font-size: 200px;
   line-height: 150px;
   font-weight: bold;
   color: #fff;
   font-family: 'Helvetica Neue Cyr Roman';
}
.slide-4-content__price-item--procent {
   color: #fff;
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 70px;
   line-height: 70px;
   font-weight: bold;
}
.slide-4-content__price-item--bottom {
   color: #fff;
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 30px;
   line-height: 30px;
   text-align: center;
}
.slide-4-mountains {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 150px;
}
@media(max-width: 1600px) {
   .slide-4-bitrix24 {
      width: 350px;
   }
   .slide-4-content-price {
      margin-top: 40px;
   }
   .slide-4-content__price-item--top {
      font-size: 36px;
      line-height: 36px;
   }
   .slide-4-content__price-item--number {
      font-size: 180px;
      line-height: 130px;
   }
   .slide-4-content__price-item--procent {
      font-size: 65px;
      line-height: 65px;
   }
   .slide-4-content__price-item--bottom {
      font-size: 28px;
      line-height: 28px;
   }
   .slide-4-mountains {
      height: 140px;
   }
}
@media(max-width: 1400px) {
   .slide-4-content__price-item--top {
      font-size: 32px;
      line-height: 32px;
   }
   .slide-4-content__price-item--number {
      font-size: 160px;
      line-height: 110px;
   }
   .slide-4-content__price-item--procent {
      font-size: 60px;
      line-height: 60px;
   }
   .slide-4-content__price-item--bottom {
      font-size: 26px;
      line-height: 26px;
   }
   .slide-4-mountains {
      height: 130px;
   }
}
@media(max-width: 1200px) {
   .slide-4-bitrix24 {
      width: 300px;
   }
   .slide-4-content__price-item--top {
      font-size: 26px;
      line-height: 26px;
   }
   .slide-4-content__price-item--number {
      font-size: 130px;
      line-height: 80px;
   }
   .slide-4-content__price-item--procent {
      font-size: 50px;
      line-height: 50px;
   }
   .slide-4-content__price-item--bottom {
      font-size: 20px;
      line-height: 22px;
   }
   .slide-4-mountains {
      height: 110px;
   }
}
@media(max-height: 750px) {
   .slide-4-bitrix24 {
      width: 300px;
   }
   .slide-4-content__price-item--top {
      font-size: 26px;
      line-height: 26px;
   }
   .slide-4-content__price-item--number {
      font-size: 130px;
      line-height: 80px;
   }
   .slide-4-content__price-item--procent {
      font-size: 50px;
      line-height: 50px;
   }
   .slide-4-content__price-item--bottom {
      font-size: 20px;
      line-height: 22px;
   }
   .slide-4-mountains {
      height: 110px;
   }
}
@media(max-height: 600px) {
   .slide-4-bitrix24 {
      width: 250px;
   }
   .slide-4-content__price {
      margin-top: 30px;
   }
   .slide-4-content__price-item--top {
      font-size: 24px;
      line-height: 24px;
   }
   .slide-4-content__price-item--number {
      font-size: 120px;
      line-height: 70px;
   }
   .slide-4-content__price-item--procent {
      font-size: 45px;
      line-height: 45px;
   }
   .slide-4-content__price-item--bottom {
      font-size: 18px;
      line-height: 18px;
   }
   .slide-4-mountains {
      height: 100px;
   }
}
.new-year {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background: url(../img/slider/new-year.png) no-repeat center;
   background-size: 100%;
}
.mobile-slider {
   display: none;
}

@media(max-width: 900px) {
   .slider_block {
      display: none;
   }
   .mobile-slider {
      background-color: #06093C;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .mobile-slider__top {
      width: 80%;
      height: 500px;
      margin: 0;
      padding-top: 100px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
   }
   .mobile-slider__circle_text1,
   .mobile-slider__circle_text2,
   .mobile-slider__circle_text3 {
      width: 250px;
      height: 200px;
      margin: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .mobile-slider_circle {
      width: 100%;
      animation: rotateCircle 10s linear 0s infinite;
   }
   .mobile-slider__circle_text1::after {
      content: "Креативная цифровая разработка";
   }
   .mobile-slider__circle_text2::after {
      content: "Комплексное продвижение и сопровождение";
   }
   .mobile-slider__circle_text3::after {
      content: "Автоматизация вашего бизнеса";
   }
   .mobile-slider__circle_text1::after,
   .mobile-slider__circle_text2::after,
   .mobile-slider__circle_text3::after {
      position: absolute;
      color: #fff;
      width: 60%;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
   }
   .mobile-slider__bottom {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 80%;
      margin: 0 auto;
   }

   .mobile-slider__icons_container {
      text-align: center;
      margin: 10px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 1;
      cursor: pointer;
      height: initial;
      width: 100%;
   }
   .mobile-slider__icons_container p {
      color: #fff; 
      font-size: 14px;
      line-height: 14px;
      text-align: left;
   }
   .mobile-slider__icons {
      border-radius: 10px;
      width: 55px;
      height: 55px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .mobile-slider__icons img{
      width: 25px;
      height: 25px;
   }
}
@media(max-width: 650px) {
   .mobile-slider__top {
      width: 100%;
   }
}
@media(max-width: 500px) {
   .mobile-slider__top {
      height: 400px;
      padding-top: 100px;
   }
   .mobile-slider__circle_text1,
   .mobile-slider__circle_text2,
   .mobile-slider__circle_text3 {
      width: 200px;
      height: 150px;
   }
   .mobile-slider__circle_text1::after,
   .mobile-slider__circle_text2::after,
   .mobile-slider__circle_text3::after {
      width: 60%;
      font-size: 12px;
      line-height: 12px;
   }
   .mobile-slider__bottom {
      width: 90%;
   }
   .mobile-slider__icons_container p {
      font-size: 12px;
      line-height: 12px;
   }
   .mobile-slider__icons {
      width: 50px;
      height: 50px;
      margin-right: 10px;
   }
   .mobile-slider__icons img{
      width: 20px;
      height: 20px;
   }
}
@media(max-width: 400px) {
   .mobile-slider__circle_text1,
   .mobile-slider__circle_text2,
   .mobile-slider__circle_text3 {
      width: 160px;
      height: 160px;
   }
   .mobile-slider__circle_text1::after,
   .mobile-slider__circle_text2::after,
   .mobile-slider__circle_text3::after {
      width: 63%;
      font-size: 9px;
      line-height: 9px;
   }
   .mobile-slider__bottom {
      width: 90%;
   }
   .mobile-slider__icons_container p {
      font-size: 12px;
      line-height: 12px;
   }
   .mobile-slider__icons {
      width: 40px;
      height: 40px;
      margin-right: 10px;
   }
   .mobile-slider__icons img{
      width: 15px;
      height: 15px;
   }
}