/*DIGITAL AGATECH MAIN */
.digitalAgatech--bgc {
   background-color: #fff;;   
   box-shadow: 0px 10px 20px rgba(0,0,0, .1);
   margin-bottom: 50px;
}
.digitalAgatech--wrap {
   padding: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.digitalAgatech-history,
.digitalAgatech-clients,
.digitalAgatech-firstStep,
.digitalAgatech-newSolutions,
.digitalAgatech-lvlup,
.digitalAgatech-newpeak,
.digitalAgatech-services,
.digitalAgatech-tasks,
.digitalAgatech-culture,
.digitalAgatech-contacts {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 80px;
}
.digitalAgatech-history__title, 
.digitalAgatech-clients__title,
.digitalAgatech-firstStep__title,
.digitalAgatech-newSolutions__title,
.digitalAgatech-lvlup__title,
.digitalAgatech-newpeak__title,
.digitalAgatech-services__title,
.digitalAgatech-tasks__title,
.digitalAgatech-culture__title {
   color: #000;
   font-size: 30px;
   line-height: 30px;
   font-weight: bold;
   margin-bottom: 30px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-history__description,
.digitalAgatech-firstStep__description,
.digitalAgatech-newSolutions__description,
.digitalAgatech-lvlup__description,
.digitalAgatech-newpeak__description,
.digitalAgatech-services__description{
   color: #000;
   font-size: 18px;
   line-height: 18px;
   margin-bottom: 50px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-history img {
   width: 100%;
}

.digitalAgatech-clients__img--wrap {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.digitalAgatech-clients__img--wrap img {
   margin: 30px 50px;
}
.digitalAgatech-clients__img--wrap img:nth-child(1) {
   width: 160px;
   height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(2) {
   width: 90px;
   height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(3) {
   width: 150px;
   height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(4) {
   width: 85px;
   height: 85px;
}
.digitalAgatech-clients__img--wrap img:nth-child(5) {
   width: 200px;
   height: 80px;
}
.digitalAgatech-clients__img--wrap img:nth-child(6) {
   width: 100px;
   height: 100px;
}
.digitalAgatech-clients__img--wrap img:nth-child(7) {
   width: 143px;
   height: 90px;
}

.digitalAgatech-firstStep__ul--wrap,
.digitalAgatech-newSolutions__ul--wrap,
.digitalAgatech-lvlup__ul--wrap,
.digitalAgatech-newpeak__ul--wrap {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.digitalAgatech-firstStep__ul--wrap ul,
.digitalAgatech-newSolutions__ul--wrap ul,
.digitalAgatech-lvlup__ul--wrap ul,
.digitalAgatech-newpeak__ul--wrap ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   margin-right: 80px;
   margin-bottom: 50px;
}
.digitalAgatech-firstStep__ul--wrap li,
.digitalAgatech-newSolutions__ul--wrap li,
.digitalAgatech-lvlup__ul--wrap li,
.digitalAgatech-newpeak__ul--wrap li {
   color: #0074CD;
   font-size: 18px;
   line-height: 18px;
   margin-bottom: 15px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-firstStep img {
   width: 70%;
   align-self: center;
}

.digitalAgatech-newSolutions img {
   width: 100%;
   align-self: center;
}

.digitalAgatech-lvlup img {
   width: 80%;
   align-self: center;
}

.digitalAgatech-newpeak__ul--wrap ul {
   margin-bottom: 0;
}
.digitalAgatech-newpeak__description-wt,
.digitalAgatech-tasks__description-wt {
   color: #000;
   font-size: 18px;
   line-height: 18px;
   margin-bottom: 25px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-newpeak__description-wt span,
.digitalAgatech-tasks__description-wt span {
   color: #0074CD;
   line-height: 25px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-newpeak img {
   width: 50%;
   align-self: center;
}

.digitalAgatech-services img {
   width: 90%;
   align-self: center;
}

.digitalAgatech-culture__content {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}
.digitalAgatech-culture__content-item {
   flex-basis: 33%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.digitalAgatech-culture__content-item--top {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px;
}
.digitalAgatech-culture__content-item--top img {
   height: 60%;
}
.digitalAgatech-culture__content-item--bottom {
   width: 100%;
   padding: 0 25px;
   height: 350px;
}
.culture-border {
   border-left: 1px solid rgba(0,0,0, .15);
   border-right: 1px solid rgba(0,0,0, .15);
}
.digitalAgatech-culture__content-item--bottom p {
   color: #000;
   font-size: 18px;
   line-height: 18px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-culture > img {
   width: 100%;
   align-self: center;
}

.digitalAgatech-contacts ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   margin-bottom: 50px;
}
.digitalAgatech-contacts li {
   color: #000;
   font-size: 18px;
   line-height: 18px;
   margin-bottom: 15px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-contacts span {
   text-transform: uppercase;
   font-family: 'Helvetica Neue Cyr Roman';
}
.digitalAgatech-contacts__content {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.digitalAgatech-contacts__content--left,
.digitalAgatech-contacts__content--right {
   flex-basis: 50%;
}
.digitalAgatech-contacts__content--left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.digitalAgatech-contacts__content--left__title {
   color: #000A6C;
   font-weight: bold;
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 26px;
   line-height: 26px;
   margin-bottom: 30px;
}
.digitalAgatech-contacts__content--left__cities {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.digitalAgatech-contacts__content--left__cities-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   margin: 0 15px;
}
.digitalAgatech-contacts__content--left__cities-item img {
   height: 120px;
   margin-bottom: 10px;
}
.digitalAgatech-contacts__content--left__cities-item p {
   color: #000A6C;
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 16px;
   line-height: 16px;
}
.digitalAgatech-contacts__content--left__contacts {
   width: 300px;
   display: flex;
   flex-direction: column;
}
.digitalAgatech-contacts__content--left__contacts a {
   color: #000A6C;
   font-family: 'Helvetica Neue Cyr Roman';
   position: relative;
   font-weight: bold; 
   height: 40px;
   display: flex;
   align-items: center;
}
.digitalAgatech-contacts__content--left__contacts-adress {
   font-size: 18px;
   line-height: 18px;
   margin-bottom: 10px;
}
.digitalAgatech-contacts__content--left__contacts-adress::before {
   content: '';
   position: absolute;
   right: 105%;
   top: 0;
   width: 40px;
   height: 40px;
   background-image: url(../img/digital_agency/digitalAgatec-main/digitalAgatech-main-contacts/address.svg);
   background-size: contain;
}
.digitalAgatech-contacts__content--left__contacts-tel {
   font-size: 34px;
   line-height: 34px;
}
.digitalAgatech-contacts__content--left__contacts-tel::before {
   content: '';
   position: absolute;
   right: 105%;
   top: 0;
   width: 40px;
   height: 40px;
   background-image: url(../img/digital_agency/digitalAgatec-main/digitalAgatech-main-contacts/tel.svg);
   background-size: contain;
}
.digitalAgatech-contacts__content--right img{
   width: 100%;
}
#Ulsk {
   border-bottom: 1px solid #000A6C;
}
#MoscowContacts {
   display: none;
}


@media(max-width: 1400px) {
   /* .digitalAgatech--bgc {
      margin-bottom: 50px;
   } */
   /* .digitalAgatech--wrap {
      padding: 50px;
   } */
   /* .digitalAgatech-history,
   .digitalAgatech-clients,
   .digitalAgatech-firstStep,
   .digitalAgatech-newSolutions,
   .digitalAgatech-lvlup,
   .digitalAgatech-newpeak,
   .digitalAgatech-services,
   .digitalAgatech-tasks,
   .digitalAgatech-culture,
   .digitalAgatech-contacts {
      margin-bottom: 80px;
   } */
   /* .digitalAgatech-history__title, 
   .digitalAgatech-clients__title,
   .digitalAgatech-firstStep__title,
   .digitalAgatech-newSolutions__title,
   .digitalAgatech-lvlup__title,
   .digitalAgatech-newpeak__title,
   .digitalAgatech-services__title,
   .digitalAgatech-tasks__title,
   .digitalAgatech-culture__title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
   }
   .digitalAgatech-history__description,
   .digitalAgatech-firstStep__description,
   .digitalAgatech-newSolutions__description,
   .digitalAgatech-lvlup__description,
   .digitalAgatech-newpeak__description,
   .digitalAgatech-services__description{
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 50px;
   } */
   
   /* .digitalAgatech-clients__img--wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   } */
   /* .digitalAgatech-clients__img--wrap img {
      margin: 30px 50px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(1) {
      width: 160px;
      height: 80px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(2) {
      width: 90px;
      height: 80px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(3) {
      width: 150px;
      height: 80px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(4) {
      width: 85px;
      height: 85px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(5) {
      width: 200px;
      height: 80px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(6) {
      width: 100px;
      height: 100px;
   }
   .digitalAgatech-clients__img--wrap img:nth-child(7) {
      width: 143px;
      height: 90px;
   } */
   
   /* .digitalAgatech-firstStep__ul--wrap ul,
   .digitalAgatech-newSolutions__ul--wrap ul,
   .digitalAgatech-lvlup__ul--wrap ul,
   .digitalAgatech-newpeak__ul--wrap ul {
      margin-right: 80px;
      margin-bottom: 50px;
   } */
   /* .digitalAgatech-firstStep__ul--wrap li,
   .digitalAgatech-newSolutions__ul--wrap li,
   .digitalAgatech-lvlup__ul--wrap li,
   .digitalAgatech-newpeak__ul--wrap li {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 15px;
   } */
   /* .digitalAgatech-firstStep img {
      width: 70%;
      align-self: center;
   }
   
   .digitalAgatech-newSolutions img {
      width: 100%;
      align-self: center;
   }
   
   .digitalAgatech-lvlup img {
      width: 80%;
      align-self: center;
   }
    */

   /* .digitalAgatech-newpeak__description-wt,
   .digitalAgatech-tasks__description-wt {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 25px;
   }
   .digitalAgatech-newpeak__description-wt span,
   .digitalAgatech-tasks__description-wt span {
      line-height: 25px;
   } */
   /* .digitalAgatech-newpeak img {
      width: 50%;
      align-self: center;
   }
   
   .digitalAgatech-services img {
      width: 90%;
      align-self: center;
   } */
   
   /* .digitalAgatech-culture__content {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
   } */
   /* .digitalAgatech-culture__content-item {
      flex-basis: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
   } */
   /* .digitalAgatech-culture__content-item--top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
   }
   .digitalAgatech-culture__content-item--top img {
      height: 60%;
   }
   .digitalAgatech-culture__content-item--bottom {
      width: 100%;
      padding: 0 25px;
      height: 350px;
   } */
   /* .culture-border {
      border-left: 1px solid rgba(0,0,0, .15);
      border-right: 1px solid rgba(0,0,0, .15);
   } */
   /* .digitalAgatech-culture__content-item--bottom p {
      font-size: 18px;
      line-height: 18px;
   }
   .digitalAgatech-culture > img {
      width: 100%;
      align-self: center;
   } */
   
   /* .digitalAgatech-contacts ul {
      margin-bottom: 50px;
   } */
   /* .digitalAgatech-contacts li {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 15px;
   } */
   /* .digitalAgatech-contacts__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
   } */
   /* .digitalAgatech-contacts__content--left,
   .digitalAgatech-contacts__content--right {
      flex-basis: 50%;
   } */
   /* .digitalAgatech-contacts__content--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   } */
   /* .digitalAgatech-contacts__content--left__title {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 30px;
   } */
   /* .digitalAgatech-contacts__content--left__cities {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
   }
   .digitalAgatech-contacts__content--left__cities-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      margin: 0 15px;
   }
   .digitalAgatech-contacts__content--left__cities-item img {
      height: 120px;
      margin-bottom: 10px;
   }
   .digitalAgatech-contacts__content--left__cities-item p {
      font-size: 16px;
      line-height: 16px;
   }
   .digitalAgatech-contacts__content--left__contacts {
      width: 300px;
      display: flex;
      flex-direction: column;
   }*/
   /* .digitalAgatech-contacts__content--left__contacts a {
      height: 40px;
   }
   .digitalAgatech-contacts__content--left__contacts-adress {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
   } */
   /* .digitalAgatech-contacts__content--left__contacts-adress::before {
      right: 105%;
      top: 0;
      width: 40px;
      height: 40px;
   } */
   /* .digitalAgatech-contacts__content--left__contacts-tel {
      font-size: 34px;
      line-height: 34px;
   } */
   /* .digitalAgatech-contacts__content--left__contacts-tel::before {
      right: 105%;
      top: 0;
      width: 40px;
      height: 40px;
   } */
}










/* КОМАНДА */
.team_bgc {
  background-image: linear-gradient(rgba(140,176,228, .4), rgba(255,255,255, 1)), url(../img/digital_agency/mountains1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team {
   width: 100%;
   min-height: 100px;
   text-align: center;
   margin-bottom: 80px;
}
.team__top {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}
.team__top-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 214px;
   height: 350px;
   margin-bottom: 20px;
}
.team__top-item img {
   width: 200px;
   height: 250px;
   border: 7px solid #BFA082;
   box-sizing: content-box;
}
.cart__text {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-top: 15px;
   width: 100%;
}
.surname {
   color: #626779;
   font-size: 31px;
   line-height: 33px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.name {
   color: #626779;
   font-size: 21px;
   line-height: 23px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.post {
   color: #626779;
   font-size: 16px;
   line-height: 19px;
   font-family: 'Helvetica Neue Cyr Roman';
}

.team__center {
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.team__center-item {
   flex-basis: 250px;
   /* position: relative; */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   cursor: pointer;
}
.team__center-item img {
   width: 100%;
   height: 300px;
}

.team__bottom {
   width: 90%;
   margin: 50px auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.team__bottom-item {
   width: 160px;
   height: 130px;
   margin: 0px 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center; 
}
.team__bottom-item img{
   width: 80px;
   height: 80px;
}
.team__bottom-item span{
   color: #626779;
   font-size: 16px;
   line-height: 16px;
   margin-top: 10px;
   font-family: 'Helvetica Neue Cyr Roman';
}
#lenaIcons, #guzelIcons {
   display: none;
}
@media(max-width: 1600px) {
    .team {
      margin-bottom: 70px;
   } 
    .team__top-item {
      width: 192px;
      height: 310px;
      margin-bottom: 15px;
   }
   .team__top-item img {
      width: 180px;
      height: 230px;
      border: 6px solid #BFA082;
   } 
   .cart__text {
      margin-top: 10px;
   }
   .surname {
      font-size: 28px;
      line-height: 30px;
   }
   .name {
      font-size: 18px;
      line-height: 20px;
   }
   .post {
      font-size: 14px;
      line-height: 16px;
   }
   .team__center-item {
      flex-basis: 200px;
   }
   .team__center-item img {
      height: 250px;
   }
   .team__bottom-item {
      width: 145px;
      height: 115px;
      margin: 0px 10px; 
   }
   .team__bottom-item img{
      width: 70px;
      height: 70px;
   }
   .team__bottom-item span{
      font-size: 14px;
      line-height: 14px;
      margin-top: 8px;
   }
}
@media(max-width: 1200px) {
   .team {
     margin-bottom: 60px;
  } 
   .team__top-item {
      width: 170px;
      height: 275px;
      margin-bottom: 10px;
   }
   .team__top-item img {
      width: 160px;
      height: 200px;
      border: 5px solid #BFA082;
   } 
  .cart__text {
     margin-top: 5px;
  }
  .surname {
     font-size: 24px;
     line-height: 26px;
  }
  .name {
     font-size: 15px;
     line-height: 16px;
  }
  .post {
     font-size: 12px;
     line-height: 14px;
  }
  .team__center {
     width: 95%;
  }
  .team__center-item {
     flex-basis: 170px;
  }
  .team__center-item img {
     height: 200px;
  }
  .team__bottom {
     width: 95%;
     margin: 40px auto;
  }
  .team__bottom-item {
     width: 125px;
     height: 100px;
     margin: 0px 5px; 
  }
  .team__bottom-item img{
     width: 60px;
     height: 60px;
  }
  .team__bottom-item span{
     font-size: 12px;
     line-height: 12px;
     margin-top: 5px;
  }
}
@media(max-width: 1000px) {
   .team__top-item {
      width: 148px;
      height: 250px;
      margin-bottom: 5px;
   }
   .team__top-item img {
      width: 140px;
      height: 180px;
      border: 4px solid #BFA082;
   } 
  .cart__text {
     margin-top: 5px;
  }
  .surname {
     font-size: 22px;
     line-height: 24px;
  }
  .name {
     font-size: 14px;
     line-height: 16px;
  }
  .post {
     font-size: 11px;
     line-height: 13px;
  }
  .team__center-item {
     flex-basis: 130px;
  }
  .team__center-item img {
     height: 160px;
  }
  .team__bottom {
     margin: 30px auto;
  }
  .team__bottom-item {
     width: 110px;
     height: 80px;
     margin: 0px 5px; 
  }
  .team__bottom-item img{
     width: 50px;
     height: 50px;
  }
  .team__bottom-item span{
     font-size: 11px;
     line-height: 11px;
     margin-top: 5px;
  }
}
@media(max-width: 900px) {
   .team {
      margin: 40px 0px;
   } 
}
@media(max-width: 800px) {
   .team {
      margin: 30px 0px;
   } 
   .team__center {
      flex-wrap: wrap;
   }
   .team__center-item {
      margin: 10px;
   }
}
@media(max-width: 600px) {
   .team {
      margin: 20px 0px;
   } 
   .team__top-item {
      width: 126px;
      height: 210px;
      margin-bottom: 5px;
   }
   .team__top-item img {
      width: 120px;
      height: 150px;
      border: 3px solid #BFA082;
   } 
   .cart__text {
      margin-top: 0px;
   }
   .surname {
      font-size: 20px;
      line-height: 22px;
   }
   .name {
      font-size: 12px;
      line-height: 14px;
   }
   .post {
      font-size: 10px;
      line-height: 12px;
   }

   .team__center-item {
      flex-basis: 130px;
      margin: 10px;
   }
   .team__center-item img {
      height: 160px;
   }
   .team__bottom {
      margin: 20px auto;
      flex-wrap: wrap;
   }
   .team__bottom-item {
      width: 100px;
      height: 70px;
      margin: 0px 5px; 
   }
   .team__bottom-item img{
      width: 40px;
      height: 40px;
   }
   .team__bottom-item span{
      font-size: 10px;
      line-height: 10px;
      margin-top: 5px;
   }
}



/* ACHIEVEMENTS */
.achievements_bgc {
   background-color: #E5E5E5;
   min-height: 100px;
}
.achievements {
   width: 70%;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.ach {
   width: 100%;
   cursor: pointer;
   transition: transform .4s, filter .4s;
   filter: grayscale(.7);
   position: relative;
   z-index: 0;
}
.ach:hover {
   transform: scale(1.01);
   filter: grayscale(0);
   z-index: 1;
}
.achievements__row-top {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.achievements__row-top--column-left {
   flex-basis: 27%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.achievements__row-top--column-left img,
.achievements__row-top--column-right img {
   margin-bottom: 15px;
}
.achievements__row-top--column-center {
   flex-basis: 44%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.achievements__row-top--column-right {
   flex-basis: 27%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.achievements__row-bottom {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
}
.achievements__row-bottom--container-img {
   flex-basis: 23%;
   margin: 1%;
}
@media(max-width: 900px) {
   .achievements {
      width: 90%;
   }
}
@media(max-width: 600px) {
   .achievements {
      margin: 40px auto;
   }
   .achievements__row-top--column-left img,
   .achievements__row-top--column-right img {
      margin-bottom: 10px;
   }
}
@media(max-width: 400px) {
   .achievements {
      margin: 30px auto;
   }
   .achievements__row-top--column-left img,
   .achievements__row-top--column-right img {
      margin-bottom: 5px;
   }
}

   


/* CONTACTS */
.digitalAgatechBGC-contacts {
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   z-index: -1;
   height: 500px;
}
.contacts_bgc {
   background-color: #E5E5E5;
   min-height: 100px;
}
.contacts-header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   flex-wrap: wrap;
}
.contacts-header h2 {
   font-weight: bold;
   font-size: 50px;
   line-height: 60px;
   letter-spacing: 0.07em;
   margin-bottom: 20px;
   margin-top: 100px;
   width: 100%;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
}
.contacts-header__item {
   margin: 0 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   position: relative;
   transition: all .3s;
   border-bottom: 2px solid transparent;
}
.contacts-header__item:hover {
   border-bottom: 2px solid #FFFFFF;
}
.contacts-header__item span {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 18px;
   line-height: 28px;
   color: #fff;
}
.contacts-header__item img {
   width: 80px;
   height: 130px;
}
#headerUlsk{
   border-bottom: 2px solid #FFFFFF;
   font-weight: bold;
}
@media(max-width: 1400px) {
   .contacts-header h2 {
      font-size: 45px;
      line-height: 55px;
   }
   .digitalAgatechBGC-contacts {
      height: 450px;
   }
}
@media(max-width: 1200px) {
   .contacts-header h2 {
      font-size: 40px;
      line-height: 50px;
   }
   .digitalAgatechBGC-contacts {
      height: 400px;
   }
   .contacts-header__item span {
      font-size: 16px;
      line-height: 26px;
   }
   .contacts-header__item img {
      width: 70px;
      height: 120px;
   }
}
@media(max-width: 1000px) {
   .contacts-header h2 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 15px;
   }
   .digitalAgatechBGC-contacts {
      height: 350px;
   }
   .contacts-header__item span {
      font-size: 16px;
      line-height: 26px;
   }
   .contacts-header__item img {
      width: 60px;
      height: 100px;
   }
}
@media(max-width: 900px) {
   .contacts-header h2 {
      font-size: 33px;
      line-height: 43px;
      margin-top: 80px;
   }
   .digitalAgatechBGC-contacts {
      height: 330px;
   }
}
@media(max-width: 800px) {
   .contacts-header h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
   }
   .digitalAgatechBGC-contacts {
      height: 300px;
   }
   .contacts-header__item {
      margin: 0 15px;
   }
   .contacts-header__item span {
      font-size: 14px;
      line-height: 24px;
   }
   .contacts-header__item img {
      width: 30px;
      height: 70px;
   }
}
@media(max-width: 600px) {
   .contacts-header h2{
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 5px;
      margin-top: 70px;
   }
   .digitalAgatechBGC-contacts {
      height: 250px;
   }
   .contacts-header__item {
      margin: 0 15px;
   }
   .contacts-header__item span {
      font-size: 12px;
      line-height: 22px;
   }
   .contacts-header__item img {
      width: 30px;
      height: 65px;
   }
}
@media(max-width: 500px) {
   .contacts-header h2 {
      font-size: 20px;
      line-height: 30px;
      margin-top: 60px;
   }
   .digitalAgatechBGC-contacts {
      height: 230px;
   }
   .contacts-header__item {
      margin: 0 10px;
   }
   .contacts-header__item span {
      font-size: 12px;
      line-height: 22px;
   }
   .contacts-header__item img {
      width: 27px;
      height: 60px;
   }
}
@media(max-width: 400px) {
   .contacts-header h2 {
      font-size: 18px;
      line-height: 20px;
   }
   .digitalAgatechBGC-contacts {
      height: 220px;
   }
   .contacts-header__item span {
      font-size: 10px;
      line-height: 14px;
   }
   .contacts-header__item img {
      width: 25px;
      height: 55px;
   }
}

#contactMoscow, #contactLiny, #contactVilnus {
   display: none;
   width: 100%;
}
#contactsUlsk {
   display: block;
   width: 100%;
}
.digital-agatech__contacts {
   width: 90%;
   margin: 40px auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.digital-agatech__contacts-top {
   width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 50px;
}
.contacts-top__item {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}
.contacts-top__item img{
   width: 43px;
   height: 43px;
   margin-right: 10px;
}
.contacts-top__item-address, .contacts-top__item-phone, .contacts-top__item-time {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 7px 0px;
}
.contacts-top__item-time  {
   justify-content: center;
}
.contacts-top__item--small-text {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 20px;
   line-height: 20px;
   color: #626779;
}
.contacts-top__item--big-text {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 35px;
   line-height: 35px;
   color: #626779;
}
.contacts-top__item-title {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 25px;
   line-height: 25px;
   color: #626779;
   display: block;
   text-align: center;
   align-self: center;
}
.digital-agatech__contacts-bottom {
   width: 1100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.contacts-bottom__item {
   flex-basis: 30%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-align: center;
   margin-bottom: 40px;
}
.contacts-bottom__item--small-text {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 18px;
   line-height: 18px;
   color: #626779;
   margin-bottom: 5px;
}
.contacts-bottom__item-phone {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.contacts-bottom__item--big-text {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 24px;
   line-height: 24px;
   color: #626779;
   font-weight: bold;
}
.contacts_bgc iframe {
   width: 1100px;
   height: 600px;
}
@media(max-width: 1400px) {
   .digital-agatech__contacts-top {
      width: 330px;
      margin-bottom: 40px;
   }
   .contacts-top__item-address, .contacts-top__item-phone, .contacts-top__item-time {
      padding: 5px 0px;
   }
   .contacts-top__item-title {
      font-size: 22px;
      line-height: 22px;
   }
   .contacts-top__item--small-text {
      font-size: 18px;
      line-height: 18px;
   }
   .contacts-top__item--big-text {
      font-size: 32px;
      line-height: 32px;
   }
   .digital-agatech__contacts-bottom {
      width: 900px;
   }
   .contacts-bottom__item {
      flex-basis: 30%;
      margin-bottom: 30px;
   }
   .contacts-bottom__item--small-text {
      font-size: 16px;
      line-height: 16px;
   }
   .contacts-bottom__item--big-text {
      font-size: 22px;
      line-height: 22px;
   }
   .contacts_bgc iframe {
      width: 900px;
      height: 500px;
   }
}
@media(max-width: 1000px) {
   .digital-agatech__contacts {
      margin: 30px auto;
   }
   .digital-agatech__contacts-top {
      width: 300px;
      margin-bottom: 35px;
   } 
   .contacts-top__item img{
      width: 40px;
      height: 40px;
      margin-right: 8px;
   } 
   .contacts-top__item-address, .contacts-top__item-phone, .contacts-top__item-time {
      padding: 4px 0px;
   }
   .contacts-top__item-title {
      font-size: 20px;
      line-height: 20px;
   }
   .contacts-top__item--small-text {
      font-size: 16px;
      line-height: 16px;
   }
   .contacts-top__item--big-text {
      font-size: 30px;
      line-height: 30px;
   }
   .digital-agatech__contacts-bottom {
      width: 700px;
   }
   .contacts-bottom__item {
      flex-basis: 30%;
      margin-bottom: 20px;
   }
   .contacts-bottom__item--small-text {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 5px;
   }
   .contacts-bottom__item--big-text {
      font-size: 20px;
      line-height: 20px;
   }
   .contacts_bgc iframe {
      width: 700px;
      height: 400px;
   }
}
@media(max-width: 800px) {
   .digital-agatech__contacts {
      margin: 30px auto 0;
      width: 100%;
   }
   .digital-agatech__contacts-top {
      width: 250px;
      margin-bottom: 35px;
   } 
   .contacts-top__item img{
      width: 35px;
      height: 35px;
      margin-right: 5px;
   } 
   .contacts-top__item-address, .contacts-top__item-phone, .contacts-top__item-time {
      padding: 3px 0px;
   }
   .contacts-top__item-title {
      font-size: 18px;
      line-height: 18px;
   }
   .contacts-top__item--small-text {
      font-size: 14px;
      line-height: 14px;
   }
   .contacts-top__item--big-text {
      font-size: 26px;
      line-height: 26px;
   }
   .digital-agatech__contacts-bottom {
      width: 90%;
      justify-content: center;
   }
   .contacts-bottom__item {
      flex-basis: 190px;
      margin: 0px 10px 20px 10px;
   }
   .contacts_bgc iframe {
      width: 100%;
      height: 400px;
   }
}
@media(max-width: 600px) {
   .digital-agatech__contacts-top {
      width: 210px;
      margin-bottom: 30px;
   }  
   .contacts-top__item img{
      width: 30px;
      height: 30px;
      margin-right: 3px;
   } 
   .contacts-top__item-address, .contacts-top__item-phone, .contacts-top__item-time {
      padding: 2px 0px;
   }
   .contacts-top__item-title {
      font-size: 16px;
      line-height: 16px;
   }
   .contacts-top__item--small-text {
      font-size: 12px;
      line-height: 12px;
   }
   .contacts-top__item--big-text {
      font-size: 22px;
      line-height: 22px;
   }
   .digital-agatech__contacts-bottom {
      width: 100%;
   }
   .contacts-bottom__item {
      flex-basis: 190px;
   }
    .contacts-bottom__item--small-text {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 4px;
   }
   .contacts-bottom__item--big-text {
      font-size: 18px;
      line-height: 18px;
   } 
   .contacts_bgc iframe {
      height: 350px;
   }
}
@media(max-width: 400px) {
   .digital-agatech__contacts-top {
      width: 190px;
      margin-bottom: 30px;
   }  
   .contacts-top__item img{
      width: 25px;
      height: 25px;
      margin-right: 2px;
   } 
   .contacts-top__item-address, .contacts-top__item-phone, .contacts-top__item-time {
      padding: 1px 0px;
   }
   .contacts-top__item-title {
      font-size: 15px;
      line-height: 15px;
   }
   .contacts-top__item--small-text {
      font-size: 11px;
      line-height: 11px;
   }
   .contacts-top__item--big-text {
      font-size: 18px;
      line-height: 18px;
   }

    .contacts-bottom__item--small-text {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 2px;
   }
   .contacts-bottom__item--big-text {
      font-size: 16px;
      line-height: 16px;
   } 
   .contacts_bgc iframe {
      height: 300px;
   }
}



/* FILES */
.files_bgc {
   background-color: #E5E5E5;
   min-height: 100px;
}
.files {
   width: 100%;
   margin: 50px auto 150px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.files__agatech {
   width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #F4F4F4;
   box-shadow: 10px 10px 10px #888;
   padding: 50px;
   height: 1000px;
   position: relative;
}
.files__agatech-menu {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
.files__agatech-menu li {
   list-style-type: none;
   padding: 30px;
   cursor: pointer;
   color: #626779;
   font-size: 18px;
   line-height: 18px;
   text-transform: uppercase;
   font-family: 'Helvetica Neue Cyr Roman';
}
.files__agatech-menu li:hover {
   text-decoration: underline;
}
.files__agatech_content {
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 30px;
   transform: scale(0);
   transition: transform 1s;
   position: absolute;
   top: 200px;
}
#docs {
   transform: scale(1);
}
#li_docs {
   text-decoration: underline;
}
.files__agatech_content h6 {
   font-size: 30px;
   line-height: 30px;
   color: #626779;
   margin-bottom: 60px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.files_row {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 30px;
}
.files_row-document {
   flex-basis: 10%;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 40%;
   overflow: hidden;
   border: 3px solid #BFA082;;
}
.files_row-document img {
   height: 100%;
   width: 100%;
}
.files_row-document-logo {
   flex-basis: 10%;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 40%;
   overflow: hidden;
   border: 3px solid #BFA082;
   background-color: rgba(191,160,130, .8);
}
.files_row-document-logo img {
   width: 100%;
}
.line_border {
   flex-basis: 77%;
   border-bottom: 1px solid #CCD0DF;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}
.line_border p {
   font-size: 18px;
   line-height: 20px;
   color: #626779;
   margin: 0;
   overflow: hidden;
   font-family: 'Helvetica Neue Cyr Roman';
}
.files_row-download {
   text-decoration: none;
   cursor: pointer;
   flex-basis: 5%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.files_row-download  img {
   width: 30px;
   height: 30px;
}

@media(max-width: 1400px) {
    .files {
      margin: 40px auto 130px;
   }
   .files__agatech {
      width: 800px;
      box-shadow: 8px 8px 8px #888;
      padding: 40px;
      height: 800px;
   } 
   .files__agatech-menu {
      margin-top: 15px;
      margin-bottom: 15px;
   }
   .files__agatech-menu li {
      padding: 25px;
      font-size: 16px;
      line-height: 16px;
   }
   .files__agatech_content {
      margin-bottom: 25px;
      top: 160px;
   }
   .files__agatech_content h6 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 50px;
   }
   .files_row {
      margin-bottom: 25px;
   }
   .files_row-document {
      height: 75px;
      border: 2px solid #BFA082;
   }
   .files_row-document-logo {
      height: 75px;
      border: 2px solid #BFA082;
   }
   .line_border p {
      font-size: 16px;
      line-height: 18px;
   }
   .files_row-download  img {
      width: 25px;
      height: 25px;
   }
}
@media(max-width: 1000px) {
   .files {
     margin: 30px auto 110px;
  }
  .files__agatech {
     width: 650px;
     box-shadow: 6px 6px 6px #888;
     padding: 30px;
     height: 650px;
  } 
  .files__agatech-menu {
     margin-top: 10px;
     margin-bottom: 10px;
  }
  .files__agatech-menu li {
     padding: 15px;
     font-size: 14px;
     line-height: 14px;
  }
  .files__agatech_content {
     margin-bottom: 20px;
     top: 120px;
  }
  .files__agatech_content h6 {
     font-size: 24px;
     line-height: 24px;
     margin-bottom: 40px;
  }
  .files_row {
     margin-bottom: 20px;
  }
  .files_row-document {
     height: 60px;
     border: 2px solid #BFA082;
  }
  .files_row-document-logo {
     height: 60px;
     border: 2px solid #BFA082;
  }
  .line_border p {
     font-size: 14px;
     line-height: 16px;
  }
  .files_row-download  img {
     width: 20px;
     height: 20px;
  }
}
@media(max-width: 800px) {
   .files {
     margin: 30px auto 90px;
  }
  .files__agatech {
     width: 90%;
     box-shadow: 5px 5px 5px #888;
     padding: 20px;
     height: 550px; 
  } 
  .files__agatech-menu {
     margin-top: 5px;
     margin-bottom: 5px;
  }
  .files__agatech-menu li {
     padding: 10px;
     font-size: 12px;
     line-height: 12px;
  }
  .files__agatech_content {
     margin-bottom: 15px;
     top: 80px;
  }
  .files__agatech_content h6 {
     font-size: 22px;
     line-height: 22px;
     margin-bottom: 30px;
  }
  .files_row {
     margin-bottom: 15px;
  }
  .files_row-document {
     flex-basis: 60px;
     height: 60px;
     border: 2px solid #BFA082;
  }
  .files_row-document-logo {
     flex-basis: 60px;
     height: 60px;
     border: 2px solid #BFA082;
  }
  .line_border p {
     font-size: 12px;
     line-height: 14px;
  }
}
@media(max-width: 600px) {
   .files {
     margin: 30px auto 90px;
  }
  .files__agatech {
     padding: 15px;
     height: 450px; 
  } 
  .files__agatech-menu li {
     padding: 5px;
     font-size: 10px;
     line-height: 12px;
  }
  .files__agatech_content {
     margin-bottom: 10px;
     top: 65px;
  }
  .files__agatech_content h6 {
     font-size: 20px;
     line-height: 20px;
     margin-bottom: 20px;
  }
  .files_row-document {
     flex-basis: 50px;
     height: 50px;
     border: 1px solid #BFA082;
  }
  .files_row-document-logo {
     flex-basis: 50px;
     height: 50px;
     border: 1px solid #BFA082;
  }
  .line_border p {
     font-size: 10px;
     line-height: 12px;
  }
   .files_row-download  img {
     width: 17px;
     height: 17px;
  } 
}
@media(max-width: 400px) {
   .files {
     margin: 25px auto 70px;
  }
  .files__agatech {
     box-shadow: 4px 4px 4px #888;
     padding: 10px;
     height: 400px; 
  } 
  .files__agatech-menu  {
      flex-wrap: wrap;
   }  
  .files__agatech-menu li {
     padding: 5px;
     font-size: 9px;
     line-height: 11px;
  }
  .files__agatech_content {
     margin-bottom: 10px;
     top: 65px;
  }
  .files__agatech_content h6 {
     font-size: 18px;
     line-height: 18px;
     margin-bottom: 15px;
  }
  .files_row-document {
     flex-basis: 40px;
     height: 40px;
  }
  .files_row-document-logo {
     flex-basis: 40px;
     height: 40px;
  }
  .line_border p {
     font-size: 9px;
     line-height: 11px;
  }
   .files_row-download  img {
     width: 15px;
     height: 15px;
  } 
}