.products-tariff {
   position: fixed;
   top: 100px;
   right: 0;
   width: 900px;
   z-index: 1;
   box-shadow: -2px -2px 20px #81736c;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   background-color: #F5F7FD;
   transform: scale(0);
   transition: transform 1s;
}
@media(max-width: 900px) { 
   .products-tariff {
      top: 80px;
   }
}
@media(max-width: 500px) { 
   .products-tariff {
      top: 60px;
   }
}
.products-tariff__left {
   flex-basis: 300px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #fff;
}
.products-tariff__left-container-img {
   width: 100%;
   margin-bottom: 20px;
}
.products-tariff__left-container-img img {
   width: 100%;
}
.products-tariff__left-title {
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: #626779;
   margin-top: 20px;
   padding: 0 10px;
   text-align: center;
}
.products-tariff__left-form {
   width: 100%;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.products-tariff__left-form input {
   width: 100%;
   margin-bottom: 15px;
}
.products-tariff__left-name,
.products-tariff__left-tel {
   background-color: transparent;
   border-top: none;
   border-right: none;
   border-left: none;
   border-bottom: 1px solid #626779;
   color: #626779;
   outline: none;
   font-size: 16px;
   padding: 5px;
}
.products-tariff__left-btn {
   background-color: #BFA082;
   color: #fff;
   border-radius: 40px;
   border: none;
   padding: 15px 30px;
   font-size: 16px;
   line-height: 16px;
   cursor: pointer;
   transition: box-shadow 1s, color 1s, border 1s;
   outline: none;
   margin-top: 20px;
   border: 1px solid transparent;
}
.products-tariff__left-btn:hover {
   transition: box-shadow 1s, color 1s;
   background-color: #ffffff;
   border: 1px solid #BFA082;
   color: #BFA082;
}

.products-tariff__right {
   flex-basis: 600px;
   height: 100%;
   padding: 40px;
   position: relative;
}
.products-tariff__right-title {
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   color: #626779;
   margin-bottom: 40px;
   width: 80%;
}
.products-tariff__right ul {
   width: 80%;
   padding-left: 20px;
}
.products-tariff__right li {
   font-size: 16px;
   line-height: 20px;
   color: #626779;
   margin-bottom: 20px;
}
.products-tariff__right-cross {
   position: absolute;
   top: 30px;
   right: 20px;
   width: 25px;
   cursor: pointer;
}
@media(max-width: 1400px) {
   .products-tariff {
      width: 700px;
   }
   .products-tariff__left {
      flex-basis: 200px;
   }
   .products-tariff__left-container-img {
      margin-bottom: 15px;
   }
   .products-tariff__left-title {
      font-size: 16px;
      line-height: 16px;
   }
   .products-tariff__left-form {
      padding: 20px;
   }
   .products-tariff__left-name,
   .products-tariff__left-tel {
      font-size: 14px;
   }
   .products-tariff__left-btn {
      font-size: 14px;
      line-height: 14px;
   }
   .products-tariff__right {
      flex-basis: 500px;
      padding: 30px;
   }
   .products-tariff__right-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
   }
   .products-tariff__right li {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
   }
}
@media(max-width: 1200px) {
   .products-tariff {
      width: 600px;
   }
   .products-tariff__left {
      flex-basis: 150px;
   }
   .products-tariff__left-container-img {
      margin-bottom: 10px;
   }
   .products-tariff__left-form {
      padding: 15px;
   }
   .products-tariff__right {
      flex-basis: 450px;
      padding: 20px;
   }
   .products-tariff__right-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 25px;
   }
   .products-tariff__right-cross {
      top: 15px;
      right: 15px;
      width: 20px;
   }
}
@media(max-width: 1000px) {
   .products-tariff {
      width: 500px;
   }
   .products-tariff__left {
      flex-basis: 100px;
   }
   .products-tariff__left-container-img {
      margin-bottom: 10px;
   }
   .products-tariff__left-title {
      font-size: 14px;
      line-height: 14px;
   }
   .products-tariff__left-form {
      padding: 10px;
   }
   .products-tariff__left-form input {
      margin-bottom: 10px;
   } 
   .products-tariff__left-name,
   .products-tariff__left-tel {
      font-size: 12px;
   } 
   .products-tariff__left-btn {
      font-size: 12px;
      line-height: 12px;
      margin-top: 15px;
      padding: 10px 20px;
   }
   .products-tariff__right {
      flex-basis: 400px;
      padding: 10px;
   }
   .products-tariff__right-title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
   }
   .products-tariff__right li {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px;
   }
   .products-tariff__right-cross {
      top: 10px;
      right: 10px;
   }
}
@media(max-width: 600px) {
   .products-tariff {
      width: 90%;
   }
   .products-tariff__left {
      flex-basis: 30%;
   }
   .products-tariff__left-container-img {
      margin-bottom: 5px;
   } 
   .products-tariff__left-title {
      font-size: 13px;
      line-height: 13px;
   }
   .products-tariff__left-form {
      padding: 5px;
   }
   .products-tariff__left-form input {
      margin-bottom: 5px;
   } 
   .products-tariff__left-name,
   .products-tariff__left-tel {
      font-size: 11px;
   } 
   .products-tariff__left-btn {
      font-size: 11px;
      line-height: 11px;
      margin-top: 10px;
   }
   .products-tariff__right {
      flex-basis: 70%;
      padding: 10px;
   }
   .products-tariff__right-title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
      width: 95%;
   }
   .products-tariff__right ul {
      width: 95%;
   }
   .products-tariff__right li {
      font-size: 11px;
      line-height: 15px;
      margin-bottom: 7px;
   }
   .products-tariff__right-cross {
      width: 15px;
   }
}
@media(max-width: 450px) {
   .products-tariff__left {
      width: 40%;
   }
   .products-tariff__left-container-img {
      margin-bottom: 0px;
   } 
   .products-tariff__left-title {
      font-size: 12px;
      line-height: 12px;
   }
   .products-tariff__left-name,
   .products-tariff__left-tel {
      font-size: 10px;
   } 
   .products-tariff__left-btn {
      font-size: 9px;
      line-height: 9px;
      margin-top: 10px;
      padding: 7px 15px;
   }
   .products-tariff__right {
      width: 60%;
      padding: 8px;
   }
   .products-tariff__right-title {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 8px;
   }
   .products-tariff__right ul {
      width: 100%;
      padding: 0;
   }
   .products-tariff__right li {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 4px;
      list-style-type: none;
   }
}
