.products-header {
   background-color: #06093C;
   width: 100%;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
}
.products_top__circle {
   width: 230px;
}
.products_top__circle:nth-child(2) {
   margin: 0 25px;
}
.products_top__circle:nth-child(3) {
   width: 260px;
}
.products_top__circle-text1,
.products_top__circle-text2,
.products_top__circle-text3 {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
}
.products_top__circle-text1::before {
   content: 'Креативная цифровая разработка';
   position: absolute;
   color: #fff;
   font-size: 18px;
   line-height: 18px;
   width: 170px
}
.products_top__circle-text2::before {
   content: 'Комплексное продвижение и сопровождение';
   position: absolute;
   color: #fff;
   font-size: 18px;
   line-height: 18px;
   width: 170px
}
.products_top__circle-text3::before {
   content: 'Автоматизация вашего бизнеса';
   position: absolute;
   color: #fff;
   font-size: 18px;
   line-height: 18px;
   width: 170px
}
.products_top__circle img {
   width: 100%;
}
.circle {
   transition: transform 1s;
}
.products_top__circle:hover .circle {
    transform: rotate(25deg);
}
.active-circle {
   animation: rotateCircle 10s linear 0s infinite;
}
@media(max-width: 1400px) {
   .products-header {
      height: 300px;
   }
   .products_top__circle {
      width: 200px;
   }
   .products_top__circle:nth-child(3) {
      width: 230px;
   }
   .products_top__circle-text1::before {
      font-size: 17px;
      line-height: 17px;
      width: 140px
   }
   .products_top__circle-text2::before {
      font-size: 17px;
      line-height: 17px;
      width: 140px
   }
   .products_top__circle-text3::before {
      font-size: 17px;
      line-height: 17px;
      width: 140px
   }
}
@media(max-width: 1200px) {
   .products-header {
      height: 250px;
      padding-top: 70px;
   }
   .products_top__circle {
      width: 190px;
   }
   .products_top__circle:nth-child(3) {
      width: 220px;
   }
   .products_top__circle-text1::before {
      font-size: 16px;
      line-height: 16px;
      width: 120px
   }
   .products_top__circle-text2::before {
      font-size: 16px;
      line-height: 16px;
      width: 120px
   }
   .products_top__circle-text3::before {
      font-size: 16px;
      line-height: 16px;
      width: 120px
   }
}
@media(max-width: 1000px) {
   .products-header {
      height: 200px;
      padding-top: 60px;
   }
   .products_top__circle {
      width: 145px;
   }
   .products_top__circle:nth-child(2) {
      margin: 0 20px;
   } 
   .products_top__circle:nth-child(3) {
      width: 175px;
   }
   .products_top__circle-text1::before {
      font-size: 13px;
      line-height: 13px;
      width: 100px
   }
   .products_top__circle-text2::before {
      font-size: 13px;
      line-height: 13px;
      width: 100px
   }
   .products_top__circle-text3::before {
      font-size: 13px;
      line-height: 13px;
      width: 100px
   }
}
@media(max-width: 800px) {
   .products-header {
      height: 150px;
      padding-top: 30px;
   }
   .products_top__circle {
      width: 50px;
   }
   .products_top__circle:nth-child(2) {
      margin: 0 150px;
   }  
   .products_top__circle:nth-child(3) {
      width: 60px;
   }
   .products_top__circle-text1::before {
      top: 100%;
      font-size: 12px;
      line-height: 12px;
      width: 200px
   }
   .products_top__circle-text2::before {
      top: 100%;
      font-size: 12px;
      line-height: 12px;
      width: 200px
   }
   .products_top__circle-text3::before {
      top: 100%;
      font-size: 12px;
      line-height: 12px;
      width: 180px
   }
}
@media(max-width: 600px) {
   .products-header {
      height: 125px;
      padding-top: 25px;
   }
   .products_top__circle {
      width: 25px;
   }
   .products_top__circle:nth-child(2) {
      margin: 0 70px;
   }  
   .products_top__circle:nth-child(3) {
      width: 30px;
   }
   .products_top__circle-text1::before {
      font-size: 11px;
      line-height: 11px;
      width: 100px
   }
   .products_top__circle-text2::before {
      font-size: 11px;
      line-height: 11px;
      width: 100px
   }
   .products_top__circle-text3::before {
      font-size: 11px;
      line-height: 11px;
      width: 100px
   }
}

