/* products digital */
.products-digital__row {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}
.products-digital__row-reverse {
   flex-direction: row-reverse;
}
.products-digital__row-img--wrap {
   flex-basis: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.products-digital__row-img--wrap img {
   width: 200px;
}
.products-digital__row-text--wrap {
   flex-basis: 50%;
   flex-direction: column;
   text-align: left;
   padding: 50px;
}
.products-digital__row-text--title {
   font-family: 'Helvetica Neue Cyr Roman';
   font-weight: bold;
   font-size: 22px;
   line-height: 22px;
   margin-bottom: 30px;
   color: #626779;
}
.products-digital__row-text--description {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 16px;
   line-height: 22px;
   color: #626779;
   margin-bottom: 15px;
}
.products-digital__row-text--link {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 16px;
   line-height: 16px;
   color: #06093C;
   border: 2px solid #06093C;
   padding: 5px 10px;
   transition: all .5s;
}
.products-digital__row-text--link:hover {
   color: #fff;
   box-shadow: inset 150px 0 0 #06093C;;
}
@media(max-width: 1400px) {
   .products-digital__row-img--wrap img {
      width: 160px;
   }
}
@media(max-width: 1200px) {
   .products-digital__row-img--wrap img {
      width: 140px;
   }
   .products-digital__row-text--wrap {
      padding: 20px;
   }
   .products-digital__row-text--title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 25px;
   }
   .products-digital__row-text--description {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
   }
   .products-digital__row-text--link {
      font-size: 14px;
      line-height: 14px;
   }
}
@media(max-width: 1000px) {
   .products-digital__row-img--wrap img {
      width: 120px;
   }
   .products-digital__row-text--wrap {
      padding: 10px;
   }
}
@media(max-width: 600px) {
   .products-digital__row {
      flex-direction: column;
   }
    .products-digital__row-img--wrap {
      flex-basis: 100%;
      width: 100%;
   } 
   .products-digital__row-text--wrap {
       flex-basis: 100%; 
       width: 100%;
      padding: 30px 0;
   }
   .products-digital__row-text--title {
      margin-bottom: 15px;
   }
}
@media(max-width: 400px) {
   .products-digital {
      margin-bottom: 20px;
   }
    .products-digital__row-img--wrap img {
      width: 150px;
   } 
   .products-digital__row-text--wrap {
      padding: 20px 0;
   }
   .products-digital__row-text--title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
   }
   .products-digital__row-text--description {
      font-size: 12px;
      line-height: 18px;
   }
   .products-digital__row-text--link {
      font-size: 12px;
      line-height: 12px;
   }
}




/* PRODUCTS */
.products_center__block-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/digital/products-img-1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: -85px -20px;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-internetCatalog-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/digital/products-img-2.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-promoSite-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/digital/products-img-3.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-mobileApps-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/digital/products-img-4.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-individualSolutions-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/digital/products-img-5.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-top-text {
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.products_center__block-top-text__top {
   font-weight: bold;
   font-size: 50px;
   line-height: 50px;
   color: #FFFFFF;
   margin-bottom: 10px;
}
.products_center__block-top-text__small {
   font-weight: bold;
   font-size: 25px;
   line-height: 25px;
   color: #FFFFFF;
}
.products_center__block-text__center {
   font-size: 200px;
   font-weight: bold;   
   line-height: 50px;
   color: #FFFFFF;
}
.products_center__block-text__center span {
   font-weight: bold;
   font-size: 28px;
   line-height: 32px;
   color: #FFFFFF;
}
.products_center__block-top-advantages {
   width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.products_center__block-top-advantages__title {
   font-weight: bold;
   font-size: 28px;
   line-height: 32px;
   color: #FFFFFF;
   margin-bottom: 20px;
}
.products_center__block-top-advantages__item-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-top-advantages__item {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0 10px;
}
.products_center__block-top-advantages__item img {
   width: 100px;
   height: 100px;
}
.products_center__block-top-advantages__item-text {
   margin-top: 10px;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
}
@media(max-width: 1500px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 700px;
      margin-bottom: 70px;
   }
   .products_center__block-top-text__top {
      font-size: 40px;
      line-height: 40px;
   }
   .products_center__block-top-text__small {
      font-size: 23px;
      line-height: 23px;
   }
   .products_center__block-text__center {
      font-size: 150px;  
      line-height: 30px;
   }
   .products_center__block-text__center span {
      font-size: 24px;
      line-height: 28px;
   }
   .products_center__block-top-advantages__title {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 20px;
   }
   .products_center__block-top-advantages__item img {
      width: 90px;
      height: 90px;
   }
   .products_center__block-top-advantages__item-text {
      font-size: 16px;
      line-height: 16px;
   }
}
@media(max-width: 1300px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 600px;
      margin-bottom: 60px;
   }
   .products_center__block-top-text__top {
      font-size: 35px;
      line-height: 35px;
   }
   .products_center__block-top-text__small {
      font-size: 21px;
      line-height: 21px;
   }
   .products_center__block-text__center {
      font-size: 130px;  
      line-height: 25px;
   }
   .products_center__block-text__center span {
      font-size: 22px;
      line-height: 26px;
   }
   .products_center__block-top-advantages__title {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 15px;
   }
   .products_center__block-top-advantages__item img {
      width: 80px;
      height: 80px;
   }
   .products_center__block-top-advantages__item-text {
      font-size: 14px;
      line-height: 14px;
   }
}
@media(max-width: 1100px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 500px;
      margin-bottom: 50px;
   }
   .products_center__block-top-text__top {
      font-size: 30px;
      line-height: 30px;
   }
   .products_center__block-top-text__small {
      font-size: 19px;
      line-height: 19px;
   }
   .products_center__block-text__center {
      font-size: 120px;  
      line-height: 20px;
   }
   .products_center__block-text__center span {
      font-size: 20px;
      line-height: 24px;
   }
   .products_center__block-top-advantages__title {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 15px;
   }
   .products_center__block-top-advantages__item img {
      width: 70px;
      height: 70px;
   }
}
@media(max-width: 900px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 400px;
      margin-bottom: 40px;
   }
   .products_center__block-top-text__top {
      font-size: 25px;
      line-height: 25px;
   }
   .products_center__block-top-text__small {
      font-size: 18px;
      line-height: 18px;
   }
   .products_center__block-text__center {
      font-size: 90px;  
   }
   .products_center__block-text__center span {
      font-size: 18px;
      line-height: 22px;
   }
   .products_center__block-top-advantages {
      width: 55%;
   }
   .products_center__block-top-advantages__title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
   }
   .products_center__block-top-advantages__item img {
      width: 55px;
      height: 55px;
   }
   .products_center__block-top-advantages__item-text {
      font-size: 13px;
      line-height: 13px;
   }
}
@media(max-width: 800px) {
   .products_center__block-top-advantages {
      width: 60%;
   }
}
@media(max-width: 700px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 350px;
      margin-bottom: 30px;
   }
   .products_center__block-top-text__top {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 5px;
   }
   .products_center__block-top-text__small {
      font-size: 16px;
      line-height: 16px;
   }
   .products_center__block-text__center {
      font-size: 75px;  
      line-height: 15px;
   }
   .products_center__block-text__center span {
      font-size: 16px;
      line-height: 20px;
   }
   .products_center__block-top-advantages {
      width: 70%;
   }
   .products_center__block-top-advantages__title {
      font-size: 18px;
      line-height: 18px;
   }
   .products_center__block-top-advantages__item img {
      width: 45px;
      height: 45px;
   }
   .products_center__block-top-advantages__item-text {
      font-size: 12px;
      line-height: 12px;
      margin-top: 5px;
   }
}
@media(max-width: 500px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 300px;
      margin-bottom: 25px;
   }
   .products_center__block-top-text__top {
      font-size: 18px;
      line-height: 18px;
   }
   .products_center__block-top-text__small {
      font-size: 14px;
      line-height: 14px;
   }
   .products_center__block-text__center {
      font-size: 65px;  
   }
   .products_center__block-text__center span {
      font-size: 14px;
      line-height: 18px;
   }
   .products_center__block-top-advantages {
      width: 80%;
   }
   .products_center__block-top-advantages__title {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
   }
   .products_center__block-top-advantages__item img {
      width: 35px;
      height: 35px;
   }
   .products_center__block-top-advantages__item-text {
      font-size: 11px;
      line-height: 11px;
   }
}
@media(max-width: 400px) {
   .products_center__block-top-advantages {
      width: 90%;
   }
}
@media(max-width: 350px) {
   .products_center__block-top,
   .products_center__block-internetCatalog-top,
   .products_center__block-promoSite-top,
   .products_center__block-mobileApps-top,
   .products_center__block-individualSolutions-top {
      height: 250px;
      margin-bottom: 20px;
   }
   .products_center__block-top-text__top {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 3px;
   }
   .products_center__block-top-text__small {
      font-size: 12px;
      line-height: 12px;
   }
   .products_center__block-text__center {
      font-size: 50px;  
      line-height: 10px;
   }
   .products_center__block-text__center span {
      font-size: 12px;
      line-height: 14px;
   }
   .products_center__block-top-advantages {
      width: 100%;
   }
   .products_center__block-top-advantages__title {
      font-size: 14px;
      line-height: 14px;
   }
   .products_center__block-top-advantages__item img {
      width: 25px;
      height: 25px;
   }
   .products_center__block-top-advantages__item-text {
      font-size: 10px;
      line-height: 10px;
      margin-top: 3px;
   }
}



.products_center__block-center {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 100px;
}
.products_center__block-center__hieroglyph {
   width: 60%;
   margin-bottom: 20px;
}
.products_center__block-center__text {
   font-weight: bold;
   font-size: 26px;
   line-height: 28px;
   color: #626779;
   margin-bottom: 80px;
}
@media(max-width: 1400px) {
   .products_center__block-center {
      margin-bottom: 70px;
   }
   .products_center__block-center__hieroglyph {
      width: 60%;
   }
   .products_center__block-center__text {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 60px;
   }
}
@media(max-width: 1200px) {
   .products_center__block-center {
      margin-bottom: 60px;
   }
   .products_center__block-center__text {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 50px;
   }
}
@media(max-width: 1000px) {
   .products_center__block-center {
      margin-bottom: 50px;
   }
   .products_center__block-center__hieroglyph {
      margin-bottom: 20px;
   }
   .products_center__block-center__text {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 40px;
   }
}
@media(max-width: 800px) {
   .products_center__block-center {
      margin-bottom: 40px;
   }
   .products_center__block-center__hieroglyph {
      width: 70%;
      margin-bottom: 15px;
   }
   .products_center__block-center__text {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 30px;
   }
}
@media(max-width: 600px) {
   .products_center__block-center {
      margin-bottom: 30px;
   }
   .products_center__block-center__hieroglyph {
      width: 100%;
      margin-bottom: 10px;
   }
   .products_center__block-center__text {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
   }
}
@media(max-width: 400px) {
   .products_center__block-center {
      margin-bottom: 20px;
      width: 70%;
   }
   .products_center__block-center__hieroglyph {
      margin-bottom: 5px;
   }
   .products_center__block-center__text {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
   }
}



.active_underline {
   text-decoration: underline;
}
