.products-promotionANDsupport {
   width: 70%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}
.products-promotionANDsupport__row {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 50px;
}
.products-promotionANDsupport__row-reverse {
   flex-direction: row-reverse;
}
.products-promotionANDsupport__row-img--wrap {
   flex-basis: 50%;
   justify-content: center;
   align-items: center;
}
.products-promotionANDsupport__row-img--wrap img {
   width: 300px;
}
.products-promotionANDsupport__row-text--wrap {
   flex-basis: 50%;
   flex-direction: column;
   text-align: left;
   padding: 50px;
}
.products-promotionANDsupport__row-text--title {
   font-family: 'Helvetica Neue Cyr Roman';
   font-weight: bold;
   font-size: 22px;
   line-height: 22px;
   margin-bottom: 30px;
   color: #626779;
}
.products-promotionANDsupport__row-text--description {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 16px;
   line-height: 22px;
   color: #626779;
   margin-bottom: 10px;
}
.products-promotionANDsupport__row-text--link {
   font-family: 'Helvetica Neue Cyr Roman';
   font-size: 16px;
   line-height: 16px;
}
@media(max-width: 1400px) {
   .products-promotionANDsupport__row-img--wrap img {
      width: 250px;
   }
}
@media(max-width: 1200px) {
   .products-promotionANDsupport {
      width: 80%;
      margin-bottom: 80px;
   }
   .products-promotionANDsupport__row {
      padding: 30px;
   }
   .products-promotionANDsupport__row-img--wrap img {
      width: 200px;
   }
   .products-promotionANDsupport__row-text--wrap {
      padding: 20px;
   }
   .products-promotionANDsupport__row-text--title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 25px;
   }
   .products-promotionANDsupport__row-text--description {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
   }
   .products-promotionANDsupport__row-text--link {
      font-size: 14px;
      line-height: 14px;
   }
}
@media(max-width: 1000px) {
   .products-promotionANDsupport {
      width: 90%;
      margin-bottom: 60px;
   }
   .products-promotionANDsupport__row {
      padding: 30px 0;
   }
   .products-promotionANDsupport__row-img--wrap img {
      width: 170px;
   }
   .products-promotionANDsupport__row-text--wrap {
      padding: 10px;
   }
}
@media(max-width: 600px) {
   .products-promotionANDsupport {
      width: 90%;
      margin-bottom: 40px;
   }
   .products-promotionANDsupport__row {
      padding: 30px 0;
      flex-direction: column;
   }
    .products-promotionANDsupport__row-img--wrap {
      flex-basis: 100%;
      width: 100%;
   } 
   .products-promotionANDsupport__row-text--wrap {
       flex-basis: 100%; 
       width: 100%;
      padding: 30px 0;
   }
   .products-promotionANDsupport__row-text--title {
      margin-bottom: 15px;
   }
}
@media(max-width: 400px) {
   .products-promotionANDsupport {
      margin-bottom: 20px;
   }
   .products-promotionANDsupport__row {
      padding: 20px 0;
      flex-direction: column;
   }
    .products-promotionANDsupport__row-img--wrap img {
      width: 150px;
   } 
   .products-promotionANDsupport__row-text--wrap {
      padding: 20px 0;
   }
   .products-promotionANDsupport__row-text--title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
   }
   .products-promotionANDsupport__row-text--description {
      font-size: 12px;
      line-height: 18px;
   }
   .products-promotionANDsupport__row-text--link {
      font-size: 12px;
      line-height: 12px;
   }
}

.products_center__block-top-text__bottom {
   font-size: 70px;
   line-height: 70px;
   color: #FFFFFF;
}
.products_center__block-top-text__very-small {
   font-size: 22px;
   line-height: 22px;
   color: #FFFFFF;
   margin-top: 30px;
}

/* SMM */
.products_center__block-smm-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/promotionANDsupport/smm/smm-image.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__block-container-form {
   width: 50%;
   margin: 0 auto;
   margin-bottom: 80px;
}
.products_center__block-container-form form {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.products_center__block-form {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}
.products_center__block-form__title {
   font-weight: bold;
   font-size: 20px;
   line-height: 25px;
   color: #626779;
   margin-bottom: 15px;
   flex-basis: 100%;
   text-align: center;
}
.products_center__block-form__label {
   display: flex;
   flex-direction: column-reverse;
   justify-content: flex-start;
   align-items: center;
   margin: 15px;
   cursor: pointer;
   position: relative;
}
.products_center__block-form__label input {
   display: none;
}
.checkbox-visible {
   position: absolute;
   width: 16px;
   height: 16px;
   background-color: #ffffff;
   border: 1px solid #8D92A5;
   border-radius: 5px;
   top: 120%;
   transition: border-color .5s;
}
.products_center__block-form__label:hover .checkbox-visible {
   border: 2px solid #249170;
}
.products_center__block-form__label input:checked + .checkbox-visible{
   border: 2px solid #249170;
   background-image: url(../img/products/promotionANDsupport/smm/checked.png);
   background-repeat: no-repeat;
   background-position: -1px 0;
}
.products_center__block-form__label-text {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 16px;
   line-height: 16px;
}
.products_center__block-form__label img {
   width: 50px;
   height: 50px;
}
.products_center__block-container-form__btn {
   background-color: #BFA082;
   color: #fff;
   border-radius: 40px;
   border: none;
   padding: 20px 30px;
   font-weight: bold;
   font-size: 20px;
   line-height: 20px;
   cursor: pointer;
   transition: box-shadow 1s, color 1s, border 1s;
   outline: none;
}
.products_center__block-container-form__btn:hover {
   transition: box-shadow 1s, color 1s, border 1s;
   box-shadow: inset 400px 0 0 #fff;
   color: #BFA082;
}
.products_center__promotionANDsupport {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 100px;
   text-align: center;
}
.products_center__promotionANDsupport h6 {
   font-size: 30px;
   line-height: 30px;
   color: #626779;
   margin-bottom: 30px;
   width: 90%;
}
.products_center__promotionANDsupport-under-title {
   font-size: 20px;
   line-height: 20px;
}
@media(max-width: 1400px) {
   .products_center__promotionANDsupport h6 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 25px;
   } 
   .products_center__promotionANDsupport-under-title {
      font-size: 17px;
      line-height: 17px;
   }
}
@media(max-width: 900px) {
   .products_center__promotionANDsupport h6 {
      font-size: 23px;
      line-height: 23px;
      margin-bottom: 23px;
   } 
   .products_center__promotionANDsupport-under-title {
      font-size: 14px;
      line-height: 14px;
   }
}
@media(max-width: 600px) {
   .products_center__promotionANDsupport h6 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
   } 
   .products_center__promotionANDsupport-under-title {
      font-size: 11px;
      line-height: 11px;
   }
}

.products_center__smm__container-img {
   width: 60%;
   margin-bottom: 30px;
}
.products_center__promotionANDsupport img {
  width: 100%;
}
/* SMM */
@media(max-width: 1400px) {
   .products_center__block-container-form {
      margin-bottom: 60px;
   }
   .products_center__block-form__title {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 10px;
   }
   .products_center__block-form__label-text {
      height: 45px;
   }
   .products_center__block-form__label img {
      width: 45px;
      height: 45px;
   }
   .products_center__block-container-form__btn {
      font-size: 18px;
      line-height: 18px;
   }
   .products_center__promotionANDsupport {
      margin-bottom: 80px;
   }
}
@media(max-width: 1000px) {
   .products_center__block-container-form {
      width: 60%;
      margin-bottom: 40px;
   }
   .products_center__block-form {
      margin-bottom: 40px;
   }
   .products_center__block-form__label-text {
      height: 40px;
   }
   .products_center__block-form__label img {
      width: 40px;
      height: 40px;
   }
   .products_center__block-container-form__btn {
      font-size: 16px;
      line-height: 16px;
      padding: 15px 25px;
   }
   .products_center__promotionANDsupport {
      margin-bottom: 60px;
   }
   .products_center__smm__container-img {
      width: 70%;
      margin-bottom: 20px;
   }
}
@media(max-width: 800px) {
   .products_center__block-container-form {
      width: 70%;
      margin-bottom: 30px;
   }
   .products_center__block-form {
      margin-bottom: 30px;
   }
   .products_center__block-form__title {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 5px;
   }
   .products_center__block-form__label-text {
      height: 35px;
      font-size: 14px;
      line-height: 14px;
   }
   .products_center__block-form__label img {
      width: 35px;
      height: 35px;
   }
   .products_center__block-container-form__btn {
      font-size: 14px;
      line-height: 14px;
   }
   .products_center__promotionANDsupport {
      margin-bottom: 50px;
   }
   .products_center__smm__container-img {
      width: 80%;
      margin-bottom: 20px;
   }
}
@media(max-width: 600px) {
   .products_center__block-container-form {
      width: 90%;
      margin-bottom: 20px;
   }
   .products_center__block-form {
      margin-bottom: 20px;
   }
   .products_center__block-form__title {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 0;
   }
   .products_center__block-form__label-text {
      height: 30px;
      font-size: 12px;
      line-height: 12px;
   }
   .products_center__block-form__label img {
      width: 30px;
      height: 30px;
   }
   .products_center__block-container-form__btn {
      font-size: 12px;
      line-height: 12px;
      padding: 10px 20px;
   }
   .products_center__promotionANDsupport {
      margin-bottom: 40px;
   }
   .products_center__smm__container-img {
      width: 90%;
      margin-bottom: 15px;
   }
}
@media(max-width: 400px) {
   .products_center__block-form__label-text {
      height: 25px;
      font-size: 10px;
      line-height: 10px;
   }
   .products_center__block-form__label img {
      width: 25px;
      height: 25px;
   }
   .products_center__block-container-form__btn {
      font-size: 10px;
      line-height: 10px;
   }
}


/* Комплексные решения */
.products_center__block-completeSolutions-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/promotionANDsupport/completeSolutions/completeSolutions-image.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__completeSolutions-top {
   width: 70%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 50px;
}
.products_center__completeSolutions-top__container-img {
   flex-basis: 49%;
   margin-bottom: 20px;
}
.products_center__completeSolutions-top__container-img img {
   width: 100%;
}
.products_center__completeSolutions-bottom-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   color: #626779;
   margin-bottom: 15px;
   width: 90%;
}
.products_center__completeSolutions-bottom-text {
   font-size: 18px;
   line-height: 28px;
   color: #626779;
   margin-bottom: 30px;
   width: 90%;
}
.products_center__completeSolutions-bottom {
   width: 70%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.completeSolutions-container-form {
   flex-basis: 48%;
   background-color: #F9F6F1;
}
.completeSolutions-container-form-title {
   font-weight: bold;
   font-size: 28px;
   line-height: 28px;
   color: #1F4B8B;
   margin: 30px auto;
}
.completeSolutions-form {
   width: 100%;
   background-color: #ffffff;
   padding: 40px;
}
.completeSolutions-form-title {
   font-weight: bold;
   font-size: 16px;
   line-height: 16px;
   color: #626779;
   text-align: left;
}
.completeSolutions-input {
   width: 100%;
   margin-bottom: 15px;
   background-color: transparent;
   border-top: none;
   border-right: none;
   border-left: none;
   border-bottom: 1px solid #B2B6C7;
   color: #626779;
   outline: none;
   font-size: 16px;
   padding: 5px;
}
.completeSolutions-form input[type="submit"] {
   width: 80%;
   margin-top: 40px;
}

.completeSolutions-right {
   flex-basis: 48%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 40px;
}
.completeSolutions-right p {
   font-weight: bold;
   font-size: 24px;
   line-height: 24px;
   color: #1F4B8B;
   margin-bottom: 10px;
   text-align: left;
}
.completeSolutions-right span {
   font-weight: normal;
}
@media(max-width: 1400px) {
   .products_center__completeSolutions-top {
      width: 80%;
      margin-bottom: 40px;
   }
   .products_center__completeSolutions-bottom {
      width: 80%;
   }
   .products_center__completeSolutions-bottom-title {
      font-size: 22px;
      line-height: 26px;
   }
   .products_center__completeSolutions-bottom-text {
      font-size: 16px;
      line-height: 26px;
   }
   .completeSolutions-container-form-title {
      font-size: 26px;
      line-height: 26px;
   }
    .completeSolutions-form {
      padding: 30px;
   }
   .completeSolutions-form-title {
      font-size: 14px;
      line-height: 14px;
   }
   .completeSolutions-input {
      font-size: 14px;
   }
   .completeSolutions-right {
      padding: 30px;
   }
   .completeSolutions-right p {
      font-size: 22px;
      line-height: 22px;
   }
}
@media(max-width: 1000px) {
   .products_center__completeSolutions-top { 
      width: 90%;
      margin-bottom: 30px;
   }
   .products_center__completeSolutions-bottom {
      width: 90%;
   }
   .products_center__completeSolutions-bottom-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
   } 
   .products_center__completeSolutions-bottom-text {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
   }
   .completeSolutions-container-form-title {
      font-size: 24px;
      line-height: 24px;
      margin: 25px auto;
   }
   .completeSolutions-form {
      padding: 20px;
   }
   .completeSolutions-form-title {
      font-size: 13px;
      line-height: 13px;
   }
   .completeSolutions-input {
      font-size: 13px;
      margin-bottom: 10px;
   }
   .completeSolutions-form input[type="submit"] {
      margin-top: 30px;
   }
   .completeSolutions-right {
      padding: 20px;
   }
   .completeSolutions-right p {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
   }
}
@media(max-width: 800px) {
   .products_center__completeSolutions-top { 
      margin-bottom: 20px;
   }
   .products_center__completeSolutions-top__container-img {
      margin-bottom: 15px;
   }
   .products_center__completeSolutions-bottom-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
   } 
   .products_center__completeSolutions-bottom-text {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 15px;
   }
   .completeSolutions-container-form {
      flex-basis: 49%;
   }
   .completeSolutions-container-form-title {
      font-size: 20px;
      line-height: 20px;
      margin: 20px auto;
   }
   .completeSolutions-form {
      padding: 15px;
   }
   .completeSolutions-form-title {
      font-size: 12px;
      line-height: 12px;
   }
   .completeSolutions-input {
      font-size: 12px;
   }
   .completeSolutions-form input[type="submit"] {
      margin-top: 20px;
   }
   .completeSolutions-right {
      padding: 15px;
      flex-basis: 49%;
   }
   .completeSolutions-right p {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 5px;
   }
}
@media(max-width: 600px) {
   .products_center__completeSolutions-top { 
      margin-bottom: 10px;
   }
   .products_center__completeSolutions-top__container-img {
      margin-bottom: 10px;
   }
   .products_center__completeSolutions-bottom-title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
   } 
   .products_center__completeSolutions-bottom-text {
      font-size: 11px;
      line-height: 18px;
      margin-bottom: 10px;
   }
   .completeSolutions-container-form {
      flex-basis: 54%;
   }
   .completeSolutions-container-form-title {
      font-size: 18px;
      line-height: 18px;
      margin: 15px auto;
   }
   .completeSolutions-form {
      padding: 10px;
   }
   .completeSolutions-form-title {
      font-size: 11px;
      line-height: 11px;
   }
   .completeSolutions-input {
      font-size: 11px;
   }
   .completeSolutions-form input[type="submit"] {
      margin-top: 10px;
   }
   .completeSolutions-right {
      padding: 10px;
      flex-basis: 44%;
   }
   .completeSolutions-right p {
      font-size: 16px;
      line-height: 16px;
   }
}
@media(max-width: 500px) {
   .products_center__completeSolutions-bottom {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .completeSolutions-container-form {
      width: 90%;
      flex-basis: initial;
      margin: 10px 0;
   }
   .completeSolutions-right {
      width: 90%;
      flex-basis: initial;
   }
}


/* target and seo*/
.products_center__block-targetseo-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/promotionANDsupport/target-seo/target-seo-image.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__targetseo {
   width: 70%;
   display: flex;
   flex-direction: column;
}
.products_center__targetseo-container-img {
   width: 100%;
   margin-bottom: 40px;
}
.products_center__targetseo-container-img img {
   width: 100%;
}
@media(max-width: 1000px) {
   .products_center__targetseo {
      width: 90%;
   }
   .products_center__targetseo-container-img {
      margin-bottom: 30px;
   }
}
@media(max-width: 800px) {
   .products_center__targetseo-container-img {
      margin-bottom: 20px;
   }
}
@media(max-width: 400px) {
   .products_center__targetseo-container-img {
      margin-bottom: 10px;
   }
}


/* Контекстаная реклама*/
.products_center__block-contextualAdvertising-top {
   width: 100%;
   height: 800px;
   background-image: url(../img/products/promotionANDsupport/contextualAdvertising/contextualAdvertising-image.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__top-contextualAdvertising{
   width: 70%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}
.products_center__top-contextualAdvertising__container-img {
   flex-basis: 49%;
   margin-bottom: 20px;
}
.products_center__top-contextualAdvertising__container-img img {
   width: 100%;
}
.products_center__bottom-contextualAdvertising {
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.products_center__bottom-contextualAdvertising__container-img {
   width: 100%;
   margin-bottom: 40px;
}
.products_center__bottom-contextualAdvertising__container-img img {
   width: 100%;
}
@media(max-width: 1000px) {
   .products_center__top-contextualAdvertising{
      width: 90%;
   }
   .products_center__bottom-contextualAdvertising {
      width: 90%;
   }
   .products_center__bottom-contextualAdvertising__container-img {
      margin-bottom: 30px;
   }
}
@media(max-width: 800px) {
   .products_center__bottom-contextualAdvertising__container-img {
      margin-bottom: 20px;
   }
}
@media(max-width: 400px) {
   .products_center__bottom-contextualAdvertising__container-img {
      margin-bottom: 10px;
   }
}


/* Сопровождение сайтов*/
.products_center__block-maintenance-top{
   width: 100%;
   height: 800px;
   background-image: url(../img/products/promotionANDsupport/maintenance/maintenance-image.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.products_center__top-maintenance {
   width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}
.products_center__top-maintenance__left {
   flex-basis: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.products_center__top-maintenance__left img {
   width: 80%;
}
.products_center__top-maintenance__right {
   flex-basis: 300px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   text-align: left;
}
.products_center__top-maintenance__right-text1 {
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   color: #626779;
}
.products_center__top-maintenance__right-text2 {
   font-weight: bold;
   font-size: 64px;
   line-height: 64px;
   color: #626779;
   margin-bottom: 10px;
}
.products_center__top-maintenance__right-text3 {
   font-size: 18px;
   line-height: 18px;
   color: #626779;
   margin-bottom: 10px;
}
.products_center__top-maintenance__right-text4 {
   font-size: 14px;
   line-height: 14px;
   color: #626779;
}
.products_center__bottom-maintenance {
   width: 1300px;
   margin: 50px auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.products_center__bottom-maintenance__container-img {
   cursor: pointer;
   display: block;
   flex-basis: 300px;
   transition: transform 1s;
}
.products_center__bottom-maintenance__container-img:hover {
   transform: scale(1.1);
}
.products_center__bottom-maintenance__container-img img {
   width: 100%;
}
@media(max-width: 1400px) {
   .products_center__top-maintenance {
      margin-bottom: 40px;
   }
   .products_center__top-maintenance__left {
      flex-basis: 160px;
   }
   .products_center__top-maintenance__right-text1 {
      font-size: 22px;
      line-height: 26px;
   }
   .products_center__top-maintenance__right-text2 {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 8px;
   }
   .products_center__top-maintenance__right-text3 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 8px;
   }
   .products_center__top-maintenance__right-text4 {
      font-size: 12px;
      line-height: 12px;
   }
   .products_center__bottom-maintenance {
      width: 1100px;
      margin: 40px auto;
   }
   .products_center__bottom-maintenance__container-img {
      flex-basis: 250px;
   }
}
@media(max-width: 1200px) {
   .products_center__top-maintenance {
      width: 50%;
      margin-bottom: 40px;
   }
   .products_center__top-maintenance__left {
      flex-basis: 140px;
   } 
    .products_center__top-maintenance__right {
      flex-basis: 280px;
   } 
   .products_center__top-maintenance__right-text1 {
      font-size: 21px;
      line-height: 25px;
   }
   .products_center__top-maintenance__right-text2 {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 6px;
   }
   .products_center__top-maintenance__right-text3 {
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 6px;
   }
   .products_center__top-maintenance__right-text4 {
      font-size: 12px;
      line-height: 12px;
   } 
   .products_center__bottom-maintenance {
      width: 900px;
   }
   .products_center__bottom-maintenance__container-img {
      flex-basis: 200px;
   }
}
@media(max-width: 1000px) {
   .products_center__top-maintenance {
      width: 90%;
      margin-bottom: 30px;
   }
   .products_center__top-maintenance__left {
      flex-basis: 120px;
   } 
    .products_center__top-maintenance__right {
      flex-basis: 260px;
   } 
   .products_center__top-maintenance__right-text1 {
      font-size: 20px;
      line-height: 24px;
   }
   .products_center__top-maintenance__right-text2 {
      font-size: 52px;
      line-height: 52px;
      margin-bottom: 5px;
   }
   .products_center__top-maintenance__right-text3 {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 5px;
   }
   .products_center__top-maintenance__right-text4 {
      font-size: 11px;
      line-height: 11px;
   }  
   .products_center__bottom-maintenance {
      width: 90%;
      margin: 40px auto;
      justify-content: center;
   }
   .products_center__bottom-maintenance__container-img {
      flex-basis: 200px;
      margin: 10px 10px;
   }
}
@media(max-width: 600px) {
   .products_center__top-maintenance {
      margin-bottom: 20px;
   }
   .products_center__top-maintenance__left {
      flex-basis: 110px;
   } 
    .products_center__top-maintenance__right {
      flex-basis: 240px;
   } 
   .products_center__top-maintenance__right-text1 {
      font-size: 19px;
      line-height: 23px;
   }
   .products_center__top-maintenance__right-text2 {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 4px;
   }
   .products_center__top-maintenance__right-text3 {
      font-size: 13px;
      line-height: 13px;
      margin-bottom: 4px;
   }
   .products_center__top-maintenance__right-text4 {
      font-size: 10px;
      line-height: 10px;
   }  
   .products_center__bottom-maintenance {
      width: 100%;
      margin: 30px auto;
   }
}
@media(max-width: 400px) {
   .products_center__top-maintenance {
      margin-bottom: 10px;
   }
   .products_center__top-maintenance__left {
      flex-basis: 100px;
   } 
    .products_center__top-maintenance__right {
      flex-basis: 230px;
   } 
   .products_center__top-maintenance__right-text1 {
      font-size: 18px;
      line-height: 22px;
   }
   .products_center__top-maintenance__right-text2 {
      font-size: 44px;
      line-height: 44px;
      margin-bottom: 3px;
   }
   .products_center__top-maintenance__right-text3 {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 3px;
   }
   .products_center__top-maintenance__right-text4 {
      font-size: 9px;
      line-height: 9px;
   }  
   .products_center__bottom-maintenance {
      margin: 20px auto;
   }
}


@media(max-width: 1500px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top{
      height: 700px;
      margin-bottom: 70px;
   }
   .products_center__block-top-text__bottom {
      font-size: 60px;
      line-height: 60px;
   }
   .products_center__block-top-text__very-small {
      font-size: 20px;
      line-height: 20px;
      margin-top: 20px;
   }
}
@media(max-width: 1300px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top {
      height: 600px;
      margin-bottom: 60px;
   }
   .products_center__block-top-text__bottom {
      font-size: 50px;
      line-height: 50px;
   }
   .products_center__block-top-text__very-small {
      font-size: 18px;
      line-height: 18px;
      margin-top: 15px;
   }
}
@media(max-width: 1100px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top {
      height: 500px;
      margin-bottom: 50px;
   }
   .products_center__block-top-text__bottom {
      font-size: 45px;
      line-height: 45px;
   }
   .products_center__block-top-text__very-small {
      font-size: 16px;
      line-height: 16px;
      margin-top: 15px;
   }
}
@media(max-width: 900px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top {
      height: 400px;
      margin-bottom: 40px;
   }
   .products_center__block-top-text__bottom {
      font-size: 40px;
      line-height: 40px;
   }
   .products_center__block-top-text__very-small {
      font-size: 15px;
      line-height: 15px;
      margin-top: 10px;
   }
}
@media(max-width: 700px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top {
      height: 350px;
      margin-bottom: 30px;
   }
   .products_center__block-top-text__bottom {
      font-size: 35px;
      line-height: 35px;
   }
   .products_center__block-top-text__very-small {
      font-size: 14px;
      line-height: 14px;
      margin-top: 5px;
   }
}
@media(max-width: 500px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top {
      height: 300px;
      margin-bottom: 25px;
   }
   .products_center__block-top-text__bottom {
      font-size: 30px;
      line-height: 30px;
   }
   .products_center__block-top-text__very-small {
      font-size: 12px;
      line-height: 12px;
   }
}
@media(max-width: 350px) { 
   .products_center__block-smm-top,
   .products_center__block-completeSolutions-top,
   .products_center__block-targetseo-top,
   .products_center__block-contextualAdvertising-top,
   .products_center__block-maintenance-top {
      height: 250px;
      margin-bottom: 20px;
   }
   .products_center__block-top-text__bottom {
      font-size: 25px;
      line-height: 25px;
   }
   .products_center__block-top-text__very-small {
      font-size: 10px;
      line-height: 10px;
   }
}


.active_underline {
   text-decoration: underline;
}