*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
ul {
    margin: 0;
}
header {
    /* width: 100vw; */
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 0;
}
.header {
    height: 7rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__logo {
    flex-basis: 15%;
    align-self: center;
}
.header__logo img{
    width: 100%;
    height: 100%;
}


.header__menu {
    flex-basis: 60%;
    height: 100%;
    text-align: center;
}
.header__lang {
    flex-basis: 5%;
    display: flex;
    justify-content: center;

}
.header__lang a {
    align-self: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #5F9FC7;
}
.header__menu nav {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header__menu_link {
    height: 100%;
    display: flex;
    align-items: center;
}
.header__menu_link_btn {
    height: 100%;
    padding: 3rem 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}
.header__menu_link_btn:hover {
    text-decoration: none;
    color: #ffffff;
}
.header__menu_link:hover .header_bottom {
    visibility: visible;
    opacity: 1;
}
.header_bottom {
    visibility: hidden;
    width: 100%;
    min-height: 4rem;
    background-color: rgba(83,92,112,.75);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all .5s ease;
    opacity: 0;
}
.header_bottom__content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.empty_block {
    flex-basis: 20%;
}
/* .empty_block1 {
   flex-basis: 5%;
} */
.header_bottom__content_menu {
    flex-basis: 72%;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.header_bottom__content_menu_link {
    list-style-type: none;
    padding: 1.5rem 1rem;
    text-align: left;
}
.header_bottom__content_menu_link_btn_title{
    text-decoration: none;
    color: #fff;
    font-size: .8rem;

}
.header_bottom__content_menu_link_btn_title:hover {
    color: #ffffff;
}
.header_bottom__content_menu_link ul {
    text-align: left;
    margin-top: .7rem;
}
.header_bottom__content_menu_link ul>li {
    list-style-type: none;

}
.header_bottom__content_menu_link ul>li>a{
    text-decoration: none;
    font-size: 0.7rem;
    color: #e9e9e9;
}





.slider_block {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
.sll, .slr {
    width: 5%;
}


.slide-1 img {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 0.1;
}


.slide-2 {
    background-color: #06093C;
    height: 100vh;
    width: 100vw;
    padding-top: 8rem;
}
.slide-2_flex {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.slide-2__content {
    width: 375px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 30px;
}
.slide-2__content_top {
    align-self: center;
}
.circle {
    width: 325px;
    height: 325px;
}
.slide-2__content_top:hover .circle {
    transition: all .5s ease;
    transform: rotate(15deg);
}
.circle_text1, .circle_text2, .circle_text3 {
    position: relative;
    text-align: center;
    display: block;
}
.circle_text1:after{
    content: "agatech digital agency";
    position: absolute;
    width: 40%;
    margin: 0 auto;
    top: 40%;
    left: 30%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.circle_text2:after{
    content: "agatech продвижение и сопровождение";
    position: absolute;
    width: 60%;
    margin: 0 auto;
    top: 40%;
    left: 20%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.circle_text3:after{
    content: "agatech crm (управление)";
    position: absolute;
    width: 50%;
    margin: 0 auto;
    top: 45%;
    left: 20%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.slide-2__content_bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.icons_block {
    text-align: center;
    width: 65px;
    margin: 0 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.icons_block p {
    margin-top: 5px;
    color: #fff;
    font-size: 9px;
    line-height: 9px;
}
.icons {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.icons-circle-1 {
    border: 2px solid #47A04B;
}
.icons-circle-1:hover {
    box-shadow: 2px 2px 5px #47A04B;
}
.icons-circle-2 {
    border: 2px solid #7F12E3;
}
.icons-circle-2:hover {
    box-shadow: 2px 2px 5px #7F12E3;
}
.icons-circle-3 {
    border: 2px solid #2D6EAB;
}
.icons-circle-3:hover {
    box-shadow: 2px 2px 5px #2D6EAB;
}
.icons:hover {
    width: 52px;
    height: 52px;
}
.icons img {
    width: 25px;
    height: 25px;
}


.slide-3 {
    background-color:#015368;;
    height: 100vh;
    width: 100vw;
    padding-top: 8rem;
    overflow: hidden;
}
.slide-3_flex {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.slide-3__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 450px;
}
.slide-3__top_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}
.slide-3__top_title h2 {
    color: #EC6A9A;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}
.slide-3__top_title h3 {
    color: #6EC5CA;;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
}
.slide-3__content_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 550px;
    margin-top: 10px;
}
.slide-3__content_top span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-right: 10px;
    text-transform: uppercase;
}
.slide-3__content_top span:nth-child(1) {
    color: #F2669A;
}
.slide-3__content_top span:nth-child(2) {
    color: #FAD730;
}
.slide-3__content_top span:nth-child(3) {
    color: #6EC5CA;
}
.slide-3__content_top span:nth-child(4) {
    color: #ffffff;
}
.slide-3__content_top span:nth-child(5) {
    color: #ffffff;
}
.slide-3__content_top span:nth-child(6) {
    color: #6EC5CA;
}
.slide-3__content_top span:nth-child(7) {
    color: #ffffff;
}
.slide-3__content_top span:nth-child(8) {
    color: #FAD730;
}
.slide-3__content_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-top: 35px;
}
.slide-3__content_bottom_question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slide-3__content_bottom_question span{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #F8D628;
}
.slide-3__content_bottom_question:nth-child(1)::before {
    content: '';
    background: url(../img/slider/question3.png);
    display: inline-block;
    width: 20px;
    height: 22px;
    margin-right: 8px;
}
.slide-3__content_bottom_question:nth-child(2)::before {
    content: '';
    background: url(../img/slider/question1.png);
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-right: 8px;
}
.slide-3__content_bottom_question:nth-child(3)::before {
    content: '';
    background: url(../img/slider/question2.png);
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-right: 8px;
}
.slide-3__content_bottom_question span:nth-child(1){
    color: #F8D628;
    margin-right: 4px;
}
.slide-3__content_bottom_question span:nth-child(2){
    color: #ffffff;
}
.slide-3__button {
    margin-top: 45px;
}
.slide-3__button a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 11px 32px;
    border: 3px solid #FE6476;
    border-radius: 40px;
    cursor: pointer;
    transition: all 1s ease;
}
.slide-3__button a:hover {
    color: #fff;
    background-color: #FE6476;
    box-shadow: 300px 0 0 0 #FE6476 inset;
}
/* BLUE */
.slide-3 img:nth-child(2) {
    position: absolute;
    z-index: 10;
    right: 3.67%; top: -12%;
}
.slide-3 img:nth-child(3) {
    position: absolute;
    z-index: 10;
    right: -4.17%; top: 6.67%;
}
.slide-3 img:nth-child(4) {
    position: absolute;
    z-index: 10;
    right: -7.42%; top: 60.47%;
}
.slide-3 img:nth-child(5) {
    position: absolute;
    z-index: 10;
    right: -4.83%; top: 76.67%;
}
.slide-3 img:nth-child(6) {
    position: absolute;
    z-index: 10;
    right: 84.28%; top: 95.87%;
}
.slide-3 img:nth-child(7) {
    position: absolute;
    z-index: 10;
    right: 86.18%; top: 90%;
}
/* PINK */
.slide-3 img:nth-child(8) {
    position: absolute;
    z-index: 10;
    right: -9%; top: 7.6%;
}
.slide-3 img:nth-child(9) {
    position: absolute;
    z-index: 10;
    right: -12%; top: 15.6%;
}
.slide-3 img:nth-child(10) {
    position: absolute;
    z-index: 10;
    right: 77.58%; top: 95%;
}
.slide-3 img:nth-child(11) {
    position: absolute;
    z-index: 10;
    left: -1%; top: 65.51%;
}
/* YELLOW */
.slide-3 img:nth-child(12) {
    position: absolute;
    z-index: 10;
    right: 13.33%; top: 78%;
}
.slide-3 img:nth-child(13) {
    position: absolute;
    z-index: 10;
    right: 14.83%; top: 86.4%;
}
.slide-3 img:nth-child(14) {
    position: absolute;
    z-index: 10;
    right: 0.05%;top: 87.66%;
}
.slide-3 img:nth-child(15) {
    position: absolute;
    z-index: 10;
    right: 0.05%;top: 96.66%;
}
.slide-3 img:nth-child(16) {
    position: absolute;
    z-index: 10;
    left: -3%; top: 70.2%;
}
.slide-3 img:nth-child(17) {
    position: absolute;
    z-index: 10;
    left: -5%; top: 83.2%;
}
.slide-3 img:nth-child(18) {
    position: absolute;
    z-index: 10;
    left: -7%; top: 93.2%;
}


.slide-4-bgc{
    height: 100vh;
    width: 100vw;
}


.slide-5 {
    background-color: #233268;
    height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    overflow: hidden;
}
.slide-5_flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.slide-5__content_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 45%;
}
.slide-5__content_left h5 {
    font-size: 24px;
    line-height: 32px;
    color: #FCF9F9;
    margin-bottom: 33px;
}
.slide-5__content_left p {
    font-size: 18px;
    line-height: 24px;
    color: #FCF9F9;
}
.slide-5__content_right {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-5__content_right img {
    width: 500px;
    height: 350px;
}


.slide-6 {
    background-color: #233268;
    height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    overflow: hidden;
}
.slide-6_flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.slide-6__content_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 45%;
}
.slide-6__content_left p {
    font-size: 24px;
    line-height: 32px;
    color: #FCF9F9;
}
.slide-6__content_right {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-6__content_right img {
    width: 450px;
    height: 350px;
}



.slide-7 {
    background-color: #233268;
    height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    overflow: hidden;
}
.slide-7_flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.slide-7__content_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 45%;
}
.slide-7__content_left h5 {
    font-size: 24px;
    line-height: 32px;
    color: #FCF9F9;
    margin-bottom: 33px;
}
.slide-7__content_left p {
    font-size: 18px;
    line-height: 24px;
    color: #FCF9F9;
}
.slide-7__content_right {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-7__content_right img {
    width: 500px;
    height: 350px;
}

.triangle {
    position: absolute;
    left: 76px;
    top: 5.3rem;
    z-index: 0;
}
.line {
    position: absolute;
    left: 0;
    top: 170px;
    z-index: 0;
}
.data {
    position: absolute;
    left: 55px;
    top: 170px;
    z-index: 0;
    font-size: 12px;
    line-height: 32px;
    color: #5F9FC7;
}






/* DIGITAL AGATECH */
.active_menu {
    border-bottom: 3px solid #fff;
    height: 100%;
    padding: 2.7rem 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.active_menu:hover .header_bottom {
    visibility: visible;
    opacity: 1;
}





.digital-agatech {
    overflow-x: hidden;  
}
.digitalAgatechBGC{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: -1;
}
.digital-agatech__content_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.digital-agatech__content_top h2 {
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0.07em;
    color: #98BAED;
    text-align: center;
    margin-top: 70px;
}
.digital-agatech__content_top_menu {
    margin-top: 35px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.digital-agatech__content_top_menu_link{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease;
}
.digital-agatech__content_top_menu_link:hover{
    text-shadow: 1px 1px 5px #fff;
    color: #fff;
    text-decoration: none;
}



.digital-agatech-gradient {
    width: 100%;
    position: absolute;
    top: 1000px;
    background: linear-gradient(180deg, rgba(74, 121, 189, 0) -2.23%, #4A79BD 43.49%);
    height: 250px;
    z-index: -1;
}
.digital-agatech__content_center{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.digital-agatech__content_center_block1 {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.digital-agatech__content_center_block1 h6 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.digital-agatech__content_center_block1 p {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
    height: 150px;
}


.digital-agatech__content_center_block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.digital-agatech__content_center_block2 h6 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.digital-agatech__content_center_block2_graphic {
    background-color: #e1e1e1;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}


.digital-agatech__content_center_block3 {
    position: relative;
    width: 100%;
    height: 750px;
} 
.mountains{
    width: 100%;
}
.undermountains {
    width: 100%;
    height: 420px;
    position: absolute;
    top: 330px;
    left: 0;
}
.contacts {
    position: absolute;
    width: 30%;
    bottom: 10%;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contacts__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #8D92A5;
}
.contacts__city {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.contacts__city span {
    font-size: 14px;
    line-height: 28px;
    color: #8D92A5;
    cursor: pointer;
    border-bottom: 1px solid grey;
}
.contacts__address {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.contacts__address span{
    font-size: 16px;
    line-height: 16px;
    color: #8D92A5;
    font-weight: bold;
    margin-left: 15px;
}
.contacts__phone {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.contacts__phone span{
    font-size: 26px;
    line-height: 26px;
    color: #8D92A5;
    font-weight: bold;
    margin-left: 15px;
}

footer {
    width: 100%;
    background-color: #484F56;
    position: relative;
    bottom: 0;
}
.active_menu_footer {
    border-bottom: 3px solid #fff;
    height: 100%;
    padding: 2.7rem 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.active_menu_footer:hover .footer_bottom {
    visibility: visible;
    opacity: 1;
}
.footer {
    height: 7rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer__logo {
    flex-basis: 15%;
    align-self: center;
}
.footer__logo img{
    width: 100%;
    height: 100%;
}


.footer__menu {
    flex-basis: 60%;
    height: 100%;
    text-align: center;
}
.footer__lang{
    flex-basis: 5%;
    display: flex;
    justify-content: center;

}
.footer__lang a {
    align-self: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #5F9FC7;
}
.footer__menu nav {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.footer__menu_link {
    height: 100%;
    display: flex;
    align-items: center;
}
.footer__menu_link_btn {
    height: 100%;
    padding: 3rem 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}
.footer__menu_link_btn:hover {
    text-decoration: none;
    color: #ffffff;
}
.footerr__menu_link:hover .footer_bottom {
    visibility: visible;
    opacity: 1;
}
.footer_bottom {
    visibility: hidden;
    width: 100%;
    min-height: 4rem;
    background-color: rgba(83,92,112,.75);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    bottom: 100%;
    left: 0;
    transition: all .5s ease;
    opacity: 0;
}
.footer_bottom__content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.empty_block {
    flex-basis: 20%;
}
.footer_bottom__content_menu {
    flex-basis: 72%;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer_bottom__content_menu_link {
    list-style-type: none;
    padding: 1.5rem 1rem;
    text-align: left;
}
.footer_bottom__content_menu_link_btn_title{
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
}
.footer_bottom__content_menu_link_btn_title:hover {
    color: #ffffff;
}
.footer_bottom__content_menu_link ul {
    text-align: left;
    margin-top: .7rem;
}
.footer_bottom__content_menu_link ul>li {
    list-style-type: none;
}
.footer_bottom__content_menu_link ul>li>a{
    text-decoration: none;
    font-size: 0.7rem;
    color: #e9e9e9;
}