@font-face {
   font-family: 'Helvetica Neue Cyr Light';
   src: url('../fonts/HelveticaNeueCyr-Light.eot');
   src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
   url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
   url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Helvetica Neue Cyr Roman';
   src: url('../fonts/HelveticaNeueCyr-Roman.eot');
   src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
   url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
   url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Helvetica Neue Cyr Medium';
   src: url('../fonts/HelveticaNeueCyr-Medium.eot');
   src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
   url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
   url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
::selection {
   color: #fff;
   background-color: #444;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Helvetica Neue Cyr Medium';
}
ul {
   margin: 0;
}
p {
   margin-bottom: 0;
}

.active_underline {
   text-decoration: underline;
}
@keyframes rotateCircle{
   0% {
      transform: rotate(360deg);
   }
   100% {
      transform: rotate(0deg);
   }
}


div.fixed {
  position: fixed;
  bottom: 30%;
  left: -450px;
  width: 500px;
  border: 3px solid #73AD21;
  background-color: #45cafc;
  padding: 10px;
  z-index: 9999;
}
div.fixed:hover{
    left: 0;
    height: 300px;
}