@font-face {
   font-family: 'Helvetica Neue Cyr Light';
   src: url('../fonts/HelveticaNeueCyr-Light.eot');
   src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
   url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
   url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Helvetica Neue Cyr Roman';
   src: url('../fonts/HelveticaNeueCyr-Roman.eot');
   src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
   url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
   url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Helvetica Neue Cyr Medium';
   src: url('../fonts/HelveticaNeueCyr-Medium.eot');
   src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
   url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
   url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
::selection {
   color: #fff;
   background-color: #444;
}
body::-webkit-scrollbar {
   width: 5px;
   background: #e1e1e1;
}   
body::-webkit-scrollbar-thumb {
   background-color: #344D73;
   border-radius: 10px;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Helvetica Neue Cyr Medium';
}
ul {
   margin: 0;
}
p {
   margin-bottom: 0;
}
main {
   overflow-x: hidden;
}
.main-header {
   position: relative;
   top: 0; 
   left: 0;
   width: 100%;
   height: 350px;
   z-index: -1;
}
.main-header > img {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index:-2;
}
.main-header__content {
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding-top: 120px;
}
.main-header__content-title {
   width: 70%;
   font-size: 48px;
   line-height: 48px;
   letter-spacing: 0.05em;
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 15px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.main-header__content-description {
   width: 70%;
   color: #fff;
   font-size: 18px;
   line-height: 20px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.main-content {
   width: 100%;
   min-height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #E4E7F1;
}
.main-content__menu {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   box-shadow: 0px 10px 20px rgba(0,0,0, .1);
}
.main-content__menu_link {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   color: #000;
   padding: 0 25px;
   font-size: 16px;
   line-height: 16px;
   transition: all .7s ease;
}
.main-content__menu_link:hover {
   color: #fff;
   box-shadow: inset 0 -80px 0 #344D73;
}
.main-content__container {
   width: 1200px;
   height: 100%;
   padding: 30px 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

@media(max-width: 1400px) {
   .main-header {
      height: 325px;
   }
   .main-header__content-title {
      font-size: 42px;
      line-height: 42px;
   }
   .main-header__content-description {
      font-size: 16px;
      line-height: 18px;
   }
   .main-content__menu_link {
      font-size: 14px;
      line-height: 14px;
   }
   .main-content__container {
      width: 1000px;
   }
}
@media(max-width: 1200px) {
   .main-header {
      height: 300px;
   }
    .main-header__content {
      width: 90%;
      padding-top: 100px;
   } 
   .main-header__content-title {
      font-size: 34px;
      line-height: 34px;
   }
   .main-header__content-description {
      font-size: 15px;
      line-height: 17px;
   }
    .main-content__menu {
      height: 60px;
   } 
   .main-content__menu_link {
      padding: 0 20px; 
      font-size: 13px;
      line-height: 13px;
   }
   .main-content__menu_link:hover {
      box-shadow: inset 0 -60px 0 #344D73;
   } 
   .main-content__container {
      width: 800px;
      padding: 25px 0; 
   }
}
@media(max-width: 1000px) {
   .main-header {
      height: 275px;
   }
    .main-header__content {
      padding-top: 90px;
   } 
   .main-header__content-title {
      margin-bottom: 10px; 
      font-size: 28px;
      line-height: 28px;
   }
   .main-header__content-description {
      font-size: 14px;
      line-height: 16px;
   }
   .main-content__menu_link {
      padding: 0 15px; 
      font-size: 12px;
      line-height: 12px;
   }
   .main-content__container {
      width: 700px;
      padding: 25px 0; 
   }
}
@media(max-width: 800px) {
   .main-header {
      height: 225px;
   }
    .main-header__content {
      padding-top: 80px;
      width: 90%;
   } 
   .main-header__content-title {
      font-size: 24px;
      line-height: 24px;
      width: 90%;
   }
   .main-header__content-description {
      font-size: 13px;
      line-height: 14px;
   }
   .main-content__menu {
      width: 90%;
      align-self: flex-start;
      height: initial;
      flex-direction: column;
      border-bottom-right-radius: 20px;
   }  
   .main-content__menu_link {
      justify-content: flex-start;
      text-align: left;
      width: 100%;
      padding: 15px 20px;
      font-size: 12px;
      line-height: 12px;
   }
   .main-content__menu_link:last-child {
      border-bottom-right-radius: 20px;
   }  
   .main-content__menu_link:hover {
      box-shadow: inset 0 -50px 0 #344D73;
   } 
   .main-content__container {
      width: 550px;
      padding: 25px 0; 
   }
}
@media(max-width: 600px) {
   .main-header {
      height: 200px;
   }
    .main-header__content {
      padding-top: 75px;
   } 
   .main-header__content-title {
      font-size: 20px;
      line-height: 20px;
      width: 100%;
      margin-bottom: 5px;
   }
   .main-header__content-description {
      width: 100%;
      font-size: 12px;
      line-height: 13px;
   }
   .main-content__container {
      width: 350px;
      padding: 20px 0; 
   } 
}
@media(max-width: 400px) {
   .main-header {
      height: 160px;
   }
    .main-header__content {
      width: 95%; 
      padding-top: 60px;
   } 
   .main-header__content-title {
      font-size: 18px;
      line-height: 18px;
   }
   .main-header__content-description {
      font-size: 11px;
      line-height: 12px;
   }
   .main-content__menu {
      width: 100%;
   }  
   .main-content__menu_link {
      padding: 10px 15px;
      font-size: 11px;
      line-height: 11px;
   }
   .main-content__menu_link:hover {
      box-shadow: inset 0 -35px 0 #344D73;
   } 
   .main-content__container {
      width: 90%;
      padding: 20px 0; 
   } 
}



.active_underline {
   background-color: #344D73;
   color: #fff;
}
@keyframes rotateCircle{
   0% {
      transform: rotate(360deg);
   }
   100% {
      transform: rotate(0deg);
   }
}


