/* FOOTER */
footer {
   width: 100%;
   background: #2D3555;
   position: relative;
   bottom: 0;
}
.footer {
   width: 70%;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: flex-start;
}
.footer__menu {
   text-align: center;
   padding: 60px 0;
   width: 100%;
}
.footer__menu nav {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: flex-start;
}
.footer__menu_link {
   margin: 0 40px 0 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}
.footer__menu_link_btn {
   text-align: left;
   text-decoration: none;
   color: #fff;
   cursor: pointer;
   font-style: normal;
   font-size: 16px;
   line-height: 16px;
   margin-bottom: 20px;
   transition: all .2s ease;
}
.footer__menu_link_btn:hover {
   text-decoration: none;
   color: #fff;
}
.footer__menu_link_btn ul {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}
.footer__menu_link_btn_link {
   list-style-type: none;
   text-align: left;
   line-height: 14px;
   padding: 10px 0;
}
.footer__menu_link_btn_link_title{
   text-decoration: none;
   color: #999;
   font-size: 14px;
}
.footer__menu_link_btn_link_title:hover{
   color: #999;
   text-decoration: underline;
}
.footer-socials {
   width: 70%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 10px;
   border-bottom: 2px solid #BFA082;
}
.footer-social__tel {
   color: #fff;
   text-transform: uppercase;
   white-space: nowrap;
   font-size: 16px;
   line-height: 16px;
}
.footer-social__tel:hover {
   color: #fff;
}
.footer-socials__icons {
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer-socials img {
   width: 35px;
   height: 35px;
   transition: transform .5s;
}
.footer-socials img:hover {
   transform: scale(1.03);
}
.footer__copyright {
   width: 70%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 0;
}
.footer__copyright p{
   color: #999999;
   font-size: 12px;
   text-align: center;
}
.footer__copyright img {
   width: 90px;
   margin-left: 10px;
}




@media(max-width: 1600px) {
   .footer {
      width: 80%;
   }
   .footer__menu_link {
      margin: 0 30px 0 0;
   }
   .footer__copyright {
      width: 80%;
   }
   .footer-socials {
      width: 80%;
   }
}
@media(max-width: 1400px) {
   .footer__menu_link_btn {
      font-size: 14px;
      line-height: 14px;
   }
   .footer__menu_link_btn_link {
      line-height: 12px;
      padding: 5px 0;
   }
   .footer__menu_link_btn_link_title{
      font-size: 12px;
   }
   .footer-social__tel {
      font-size: 14px;
      line-height: 14px;
   }
   .footer-socials img {
      width: 30px;
      height: 30px;
   }
   .footer__copyright p {
      font-size: 10px;
   }
}
@media(max-width: 1200px) {
   .footer {
      width: 90%;
   }
   .footer-socials {
      width: 90%;
   }
   .footer__copyright {
      width: 90%;
   }
   .footer__menu {
      text-align: center;
      padding: 50px 0 0;
   }
   .footer__menu nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .footer__menu_link {
      margin: 0px 40px 40px 0;
   }
}
@media(max-width: 740px) {
   .footer {
      width: 80%;
   }
   .footer__copyright {
      width: 80%;
      flex-wrap: wrap;
   }
   .footer__copyright img {
      width: 65px;
      margin-left: 5px;
   }
   .footer__menu nav {
      justify-content: space-between;
   }
   .footer-social__tel {
      font-size: 12px;
      line-height: 12px;
   }
   .footer-socials img {
      width: 25px;
      height: 25px;
   }
}