.news-block-all__row {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 50px;
}

.new-block-all {
   width: 330px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background: #fff;
   border: 1px solid #C8CBD6;
   position: relative;
}
.news-block-all__row-title{
   font-size: 30px;
   line-height: 30px;
   color: #626779;
   margin: 20px 0;
   width: 90%;
   text-align: center;
   font-family: 'Helvetica Neue Cyr Roman';
}
.news-block-all__row-title:hover{
   color: #555;
}
.news-block-all__img {
   width: 100%;
   height: 220px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #333333;
}
.news-block-all__img img {
   height: 100%;
   width: 100%;
}
.news-block-all__container-text {
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.news-block-all__title {
   font-size: 18px;
   line-height: 18px;
   font-weight: bold;
   color: #444;
   margin-bottom: 10px;
   text-transform: uppercase;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-family: 'Helvetica Neue Cyr Roman';
   transition: color .3s;
}
.news-block-all__other {
   width: 100%;
   margin-bottom: 5px;
}
.news-block-all__other-title {
   text-transform: uppercase;
   color: #4889E4;
   font-size: 12px;
   margin-right: 5px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.news-block-all__other-data {
   font-size: 11px;
   color: #999999;
   font-family: 'Helvetica Neue Cyr Roman';
}
.news-block-all__text {
   font-size: 14px;
   line-height: 16px;
   height: 48px;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #555;
   font-family: 'Helvetica Neue Cyr Roman';
   margin-bottom: 15px;
}
.new-block-all:hover {
   border-bottom: 1px solid #4889E4;
}
.new-block-all:hover .news-block-all__arrow{
   transform: scale(1);
}
.new-block-all:hover .news-block-all__title{
   color: #4889E4;
}
.news-block-all__arrow {
   position: absolute;
   bottom: 10px;
   right: 10px;
   width: 25px;
   height: 25px;
   transform: scale(0);
   transition: transform .5s;
}
.news-block-all__btn-more {
   color: #4889E4;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Helvetica Neue Cyr Roman';
   margin: 20px auto;
   width: 90%;
   text-align: center;
}
