.news-page {
   width: 800px;
   margin: 0 auto 100px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.news-page h6 {
   font-weight: bold;
   font-size: 36px;
   line-height: 36px;
   color: #626779;
   margin-bottom: 50px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.news-page_block-text {
   width: 100%;
}
.news-page_block-text p {
   font-size: 15px;
   line-height: 22px;
   color: #83969C;
   margin-bottom: 15px;
   font-family: 'Helvetica Neue Cyr Roman';
}
.news-page_block-text p::first-letter {
   padding-left: 25px;
}

.news-page_container-img img {
   width: 100%;
   margin-top: 50px;
}