/* SOLUTIONS */

.solutions{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
}
.solutions-item {
   width: 280px;
   height: 210px;
   margin: 10px;
   position: relative;
   transition: transform .7s, filter .7s;
   filter: grayscale(100%);
   background-size: cover;
   z-index: 1;
   cursor: pointer;
}
.solutions-item:nth-child(1) {
   background-image: url(../img/colutions/1-toyota.png);
}
.solutions-item:nth-child(2) {
   background-image: url(../img/colutions/2-canon.png);
}
.solutions-item:nth-child(3) {
   background-image: url(../img/colutions/3-forma.png);
}
.solutions-item:nth-child(4) {
   background-image: url(../img/colutions/4-kronos.png);
}
.solutions-item:nth-child(5) {
   background-image: url(../img/colutions/5-APB.png);
}
.solutions-item:nth-child(6) {
   background-image: url(../img/colutions/6-comet.png);
}
.solutions-item:nth-child(7) {
   background-image: url(../img/colutions/7-bebrand.png);
}
.solutions-item:nth-child(8) {
   background-image: url(../img/colutions/8-bsk.png);
}
.solutions-item:nth-child(9) {
   background-image: url(../img/colutions/9-rmh.png);
}
.solutions-item:nth-child(10) {
   background-image: url(../img/colutions/10-bl.png);
}
.solutions-item:nth-child(11) {
   background-image: url(../img/colutions/11-cirk.png);
}
.solutions-item:nth-child(12) {
   background-image: url(../img/colutions/12-evita.png);
}
.solutions-item__circle {
   position: absolute;
   top: 5px;
   left: 40px;
   width: 200px;
   height: 200px;
   background-color: rgb(52,77,115,.9);
   border-radius: 50%;
   transform: scale(0);
   transition: transform .7s;
   z-index: 2;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.solutions-item__circle p {
   font-size: 16px;
   color: #fff;
   font-weight: bold;
}
.solutions-item__border {
   position: absolute;
   top: -20px;
   left: 15px;
   width: 250px;
   height: 250px;
   background-color: rgb(52,77,115,.4);
   border-radius: 50%;
   transform: scale(0);
   transition: transform .7s;
}
.solutions-item__arow {
   position: absolute;
   bottom: 5px;
   left: 120px;
   width: 40px;
   z-index: 3;
   transform: translateY(60px);
   transition: transform .7s;
   visibility: hidden;
}
.solutions-item:hover {
   filter: grayscale(0%);
}
.solutions-item:hover .solutions-item__circle {
   transform: scale(1);
}
.solutions-item:hover .solutions-item__border {
   transform: scale(1);
}
.solutions-item:hover .solutions-item__arow  {
   transform: translateY(0px);
   visibility: visible;
}



@media(max-width: 1400px) {
   /* .solutions{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
   } */
   .solutions-item {
      width: 240px;
      height: 190px;
      margin: 5px;
   }

   .solutions-item__border {
      top: -15px;
      left: 10px;
      width: 220px;
      height: 220px;
   }
   .solutions-item__circle {
      top: 15px;
      left: 40px;
      width: 160px;
      height: 160px;
   }
   .solutions-item__circle p {
      font-size: 14px;
   }
   .solutions-item__arow {
      left: 100px;
      /* bottom: 5px;
      width: 40px;
      transform: translateY(60px); */
   }
   /* .solutions-item:hover {
      filter: grayscale(0%);
   }
   .solutions-item:hover .solutions-item__circle {
      transform: scale(1);
   }
   .solutions-item:hover .solutions-item__border {
      transform: scale(1);
   }
   .solutions-item:hover .solutions-item__arow  {
      transform: translateY(0px);
      visibility: visible;
   } */
}
@media(max-width: 1200px) {
   .colutions__center_block {
      width: 900px;
      margin: 25px auto 75px;
   }
   .solutions-item {
      width: 205px;
      height: 165px;
      margin: 10px;
   }
   .solutions-item__circle {
      top: 5px;
      left: 25px;
      width: 155px;
      height: 155px;
   }
   .solutions-item__circle p {
      font-size: 14px;
   }
   .solutions-item__border {
      top: -15px;
      left: 5px;
      width: 195px;
      height: 195px;
   }
   .solutions-item__arow {
      width: 55px;
      height: 30px;
      bottom: -15px;
      left: 75px;
   }
}
@media(max-width: 1000px) {
   .colutions__center_block {
      width: 100%;
      margin: 20px auto 70px;
      justify-content: center;
      align-items: flex-start;
   }
   .solutions-item__circle p {
      font-size: 12px;
   }
}
@media(max-width: 800px) {
   .colutions__center_block {
      margin: 10px auto 70px;
   }
}


.active_underline {
   text-decoration: underline;
}