header {
   width: 100%;
   background: transparent;
   position: fixed;
   top: 0;
   z-index: 99;
   transition: background .5s;
}
.header {
   height: 100px;
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}

/* ЛОГО */
.header__logo {
   align-self: center;
   margin-right: 40px;
   transform: translateY(-5px);
}
.header__logo img{
   width: 150px;
   transition: transform 1s;
}
.header__logo:hover img {
   transform: scale(1.05);
}

/* МЕНЮ */
.header__menu {
   flex-basis: 100%;
   height: 100%;
   text-align: center;
   display: flex;
}
.header__menu nav {
   height: 100%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-start;
}
.header__menu_link {
   height: 100%;
   display: flex;
   align-items: center;
}
.header__menu_link:hover .header_bottom {
  visibility: visible;
   opacity: 1;
   transform: translateY(100px);
   min-height: initial;
}
.header__menu_link_btn {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
   font-style: normal;
   font-size: 16px;
   line-height: 16px;
   padding: 10px 0;
   margin-right: 30px;
   display: flex;
   align-items: center;
   border-bottom: 3px solid transparent;
}
.header__menu_link_btn:hover {
   transition: all .5s ease .3s;
   text-decoration: none;
   color: #ffffff;
   border-bottom: 3px solid #fff;
}
.header__menu_link img{
   display: none;
}

/* МЕНЮ СНИЗУ */
.header_bottom {
   z-index: -1;
   width: 100%;
   background-color: rgba(255,255,255,1);
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   min-height: 0;
   visibility: hidden;
   overflow: hidden;
   transition: all .7s;
}
.header_bottom__content {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   height: 100%;
}
.empty_block {
   width: 190px;
}
.empty_block1 {
   flex-basis: 0%;
}
.header_bottom__content_menu {
   width: calc(100% - 190px);  
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
}
.header_bottom__content_menu_link {
   list-style-type: none;
   height: 100%;
   padding: 20px 30px 20px 0;
   text-align: left;
}
.header_bottom__content_menu_link_btn_title{
   text-decoration: none;
   color: #444;
   font-size: 14px;
   line-height: 14px;
}
.header_bottom__content_menu_link_btn_title:hover {
   color: #344D73;
}
.title_link_product {
   border-bottom: 1px solid #d0d0d0;
   padding: 10px 0;
}
.header_bottom__content_menu_link ul {
   padding: 20px 0;
   text-align: left;
   margin-top: 15px;
}
.header_bottom__content_menu_link ul>li {
   list-style-type: none;
   font-size: 13px;
   line-height: 26px;
}
.header_bottom__content_menu_link ul>li>a{
   text-decoration: none;
   color: #444;
}
.header_bottom__content_menu_link ul>li>a:hover {
   color: #344D73;
}

/* МЕНЮ СПРАВА */
.header-right{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-right__calc,
.header-right__tel,
.header-right__social,
.header-right__lang {
   display: flex;
   justify-content: center;
   align-items: center;
}
.header-right__calc{
   margin-right: 25px;
}
.header-right__tel {
   margin-right: 40px;
}
.header-right__social {
   margin-right: 40px;
}
.header-right__calc img,
.header-right__tel img,
.header-right__social img{
   width: 35px;
   height: 35px;
   margin-right: 5px;
   filter: opacity(70%);
   transition: filter .5s;
}
.header-right__calc:hover img,
.header-right__tel:hover img,
.header-right__social img:hover {
   filter: opacity(100%);
}
 
.header-right__calc p,
.header-right__tel p {
   color: #fff;
   font-size: 16px;
   line-height: 16px;
   white-space: nowrap;
}
.header-right__lang span{
   white-space: nowrap;
   font-size: 14px;
   line-height: 14px;
   transition: color .5s;
}
.header-right__lang span:nth-child(1) {
   color: #fff;
}
.header-right__lang span:nth-child(2) {
   color: #707070;
   padding: 0 5px;
}
.header-right__lang span:nth-child(3) {
   color: #707070;
}
.header-right__lang:hover span:nth-child(1) {
   color: #707070;
}
.header-right__lang:hover span:nth-child(2) {
   color: #fff;
}
.header-right__lang:hover span:nth-child(3) {
   color: #fff;
}

/* BURGER */
.burger{
   display: none;
}
.cross_menu {
   display: none;
}
.MnuActiv {
   transform: rotate(180deg);
}

@media(max-width: 1700px) {
   /* ЛОГО */
   .header__logo {
      margin-right: 35px;
   }
   .header__logo img{
      width: 140px;
   }
   /* МЕНЮ */
   .header__menu_link_btn {
      margin-right: 25px;
   }
   /* МЕНЮ СНИЗУ */
   .empty_block {
      width: 175px;
   }
   .header_bottom__content_menu {
      width: calc(100% - 175px);  
   }
   .header_bottom__content_menu_link {
      padding: 20px 25px 20px 0;
   }
   /* МЕНЮ СПРАВА */
   .header-right__calc{
      margin-right: 20px;
   }
   .header-right__tel {
      margin-right: 35px;
   }
   .header-right__social {
      margin-right: 35px;
   }
}

@media(max-width: 1600px) {
   .header {
      width: 95%;
   } 
   /* ЛОГО */
   .header__logo {
      margin-right: 30px;
   }
   .header__logo img{
      width: 130px;
   }
   /* МЕНЮ */
   .header__menu_link_btn {
      font-size: 15px;
      line-height: 15px;
   }
   /* МЕНЮ СНИЗУ */
   .header_bottom__content {
      width: 95%;
   } 
   .empty_block {
      width: 160px;
   }
   .header_bottom__content_menu {
      width: calc(100% - 160px);  
   }
   .header_bottom__content_menu_link_btn_title{
      font-size: 13px;
      line-height: 13px;
   }
   /* МЕНЮ СПРАВА */
   .header-right__calc{
      margin-right: 15px;
   }
   .header-right__tel {
      margin-right: 30px;
   }
   .header-right__social {
      margin-right: 30px;
   } 
   .header-right__calc img,
   .header-right__tel img,
   .header-right__social img{
      width: 30px;
      height: 30px;
      margin-right: 4px; 
   }
   .header-right__calc p,
   .header-right__tel p {
      font-size: 15px;
      line-height: 15px;
   }
   .header-right__lang span{
      font-size: 13px;
      line-height: 13px;
   }
   .header-right__lang span:nth-child(2) {
      padding: 0 4px;
   } 
}
@media(max-width: 1400px) {
   .header {
       width: 98%; 
   } 
   /* ЛОГО */
   .header__logo {
      margin-right: 25px;
   }
   .header__logo img{
      width: 120px;
   }
   /* МЕНЮ */
   .header__menu_link_btn {
      font-size: 14px;
      line-height: 14px;
      padding: 8px 0;
      margin-right: 20px; 
   }
   /* МЕНЮ СНИЗУ */
    .header_bottom__content {
      width: 98%;
   }  
   .empty_block {
      width: 145px;
   }
   .header_bottom__content_menu {
      width: calc(100% - 145px);  
   }
   .header_bottom__content_menu_link {
      padding: 15px 20px 15px 0;
   } 
   .header_bottom__content_menu_link ul {
      padding: 15px 0;
      margin-top: 10px;
   } 
   /* мМЕНЮ СПРАВА */
   .header-right__calc{
      margin-right: 10px;
   }
   .header-right__tel {
      margin-right: 25px;
   }
   .header-right__social {
      margin-right: 25px;
   } 
   .header-right__calc img,
   .header-right__tel img,
   .header-right__social img{
      width: 25px;
      height: 25px;
      margin-right: 3px; 
   }
   .header-right__calc p,
   .header-right__tel p {
      font-size: 14px;
      line-height: 14px;
   }
   .header-right__lang span{
      font-size: 13px;
      line-height: 13px;
   }
   .header-right__lang span:nth-child(2) {
      padding: 0 3px;
   } 
}
@media(max-width: 1200px) {
   .header {
      width: 95%; 
      height: 80px;
   } 
   /* ЛОГО */
   .header__logo {
      transform: translateY(0px); 
   }
   /* МЕНЮ */
   .header__menu {
      width: 90%;
      position: absolute;
      top: 100%;
      left: 100%;
      height: initial;
      background-color: rgba(59,72,124,.85);
      border-bottom-left-radius: 20px;
      transition: all .7s;
   }
   .header__menu nav {
      flex-direction: column;
      width: 100%;
      height: initial;
   }
   .header__menu_link {
      width: 100%;
      height: initial;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(255,255,255, .1);
      position: relative;
      transition:  background-color .7s;
      cursor: pointer;
      background-image: url(../img/header/expand.png);
      background-repeat: no-repeat;
      background-position: 97% 10px;
      background-size: 30px;
   }
   .header__menu_link:last-child {
      border-bottom: none;
      border-bottom-left-radius: 20px;
   }
   .header__menu_link:hover .header_bottom {
      visibility: visible;
      display: block;
      opacity: 1;
      transform: translateY(0px);
   }  
   .header__menu_link:hover {
      transition:  background-color .7s;
      background-color: rgba(255,255,255,.7);
   } 
   .header__menu_link:hover .header__menu_link_btn{
      transition: color .7s;
      color: #3B487C;
   } 
   .header__menu_link_btn {
      height: initial;
      padding: 20px 25px;
      margin-right: 0px; 
      border-bottom: none; 
      transition: color .7s;
   }
   .header__menu_link_btn:hover {
      border-bottom: none;
   }
   /* МЕНЮ СНИЗУ */
   .header_bottom {
      position: relative;
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
      width: 100%;
      height: 0;
      visibility: visible;
      display: block;
      opacity: 1;
      z-index: 1;
      transform: translateY(0px);
      background-color: rgba(255,255,255,.7);
      transition: all .7s;
   }
   .header_bottom_last {
      border-bottom-left-radius: 20px;
   }
    .header_bottom__content {
      width: 100%;
      flex-direction: column;
   }  
   .header_bottom__content_menu {
      width: 100%;  
      flex-wrap: wrap;
      flex-direction: row;
   }
   .header_bottom__content_menu_link {
      padding: 0;
      padding: 10px 20px 10px 20px;
   } 
   .title_link_product {
     border-bottom: none;
     padding: 0;
   } 
   .header_bottom__content_menu_link ul {
      display: none;
   }
   .empty_block {
      width: 0px;
      flex-basis: 0%;
   }
    .empty_block1 {
      width: 0px;
      flex-basis: 0%;;
   } 
   /* BURGER */
   .burger--wrap {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .burger {
      width: 35px;
      height: 23px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      position: relative;
   }  
   .burger span {
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: #fff;
      transition: all .7s;
   }
   .line1-rotate {
      position: absolute;
      bottom: 50%;
      transform: rotate(135deg);
      transition: all .7s;
   }
   .line2-rotate {
      opacity: 0;
      transform: rotate(360deg);
      transition: all 1s;
   }
   .line3-rotate {
      position: absolute;
      bottom: 50%;
      transform: rotate(-135deg);
      transition: all .7s;
   }
}
@media(max-width: 700px) {
   /* ЛОГО */
   .header__logo {
      margin-right: 15px; 
   }
   .header__logo img{
      width: 100px; 
   } 
   /* МЕНЮ */
   .header__menu_link_btn {
      padding: 18px 23px;
      font-size: 13px;
      line-height: 13px;
   } 
   .header_bottom__content_menu_link {
      padding: 6px 15px 6px 15px;
   } 
   /* BURGER */
   .burger {
      width: 28px;
      height: 18px;
   }  
    /* МЕНЮ СПРАВА */
   .header-right__calc{
      margin-right: 8px;
   }
   .header-right__tel {
      margin-right: 15px;
   }
   .header-right__social {
      margin-right: 15px;
   } 
   .header-right__calc img,
   .header-right__tel img,
   .header-right__social img{
      width: 20px;
      height: 20px;
   }
   .header-right__calc p,
   .header-right__tel p {
      font-size: 13px;
      line-height: 13px;
   }
   .header-right__lang span{
      font-size: 12px;
      line-height: 12px;
   }
}
@media(max-width: 600px) {
   .header {
      width: 100%; 
      padding: 0 10px;
   }  
   /* ЛОГО */
   .header__logo {
      margin-right: 15px; 
   }
   .header_bottom__content_menu_link {
      padding: 6px 15px 6px 15px;
   } 
   /* BURGER */
    .burger {
      width: 25px;
      height: 15px;
   }   
    /* МЕНЮ СПРАВА */
   .header-right__calc{
      margin-right: 3px;
   }
   .header-right__tel {
      margin-right: 3px;
   }
   .header-right__calc p,
   .header-right__tel p {
      display: none;
   }
}
@media(max-width: 400px) {
   .header { 
      height: 60px;
   } 
   /* ЛОГО */
   .header__logo {
      margin-right: 10px; 
   }
    .header__logo img{
      width: 90px; 
   }  
   /* МЕНЮ СПРАВА */
   .header-right__social {
      margin-right: 10px;
   } 
}