
   <div class="digital-agatech">
      <img class="digitalAgatechBGC" src="/img/digital_agency/digitalAgatechBGC.jpg" alt="digitalAgatechBGC">
      <div class="digital-agatech__content_top">
         <h2>СОЗДАЁМ И УЛУЧШАЕМ  ЦИФРОВЫЕ ПРОДУКТЫ</h2>
      </div>
      
      
      <div class="digital-agatech__content_center_digAg contacts_bgc">
        <nav class="digital-agatech__content_top_menu_digAg">
           <a class="digital-agatech__content_top_menu_link_digAg" href="/page/digitalAgency.html">О компании</a>
           <a class="digital-agatech__content_top_menu_link_digAg" href="/page/digitalAgensy_team.html">Команда</a>
           <a class="digital-agatech__content_top_menu_link_digAg" href="/page/digitalAgensy_achievements.html">Достижения</a>
           <a class="digital-agatech__content_top_menu_link_digAg active_underline" href="/page/digitalAgensy_contacts.html">Контакты</a>
           <a class="digital-agatech__content_top_menu_link_digAg" href="/page/digitalAgensy_files.html">Файлы</a>
        </nav>
        <div id="appcontacts" >
        <div class="d-flex justify-content-center pb-2 text-center">
          <div class="contact">
            <p class="contacts__title">Контакты</p>
            <div class="contacts__city">
                <span v-if="state!=0" @click="state=0" id="Moscow">Ульяновск</span>
                <span v-else @click="state=0" id="ul">Ульяновск</span>
                <span v-if="state!=1" @click="state=1" id="Moscow">Москва</span>
                <span v-else @click="state=1" id="ul">Москва</span>
            </div>
  
            <div v-if="state==0" class="ULCITY">
               <div class="contacts__address">
                  <img src="/img/digital_agency/contactsicon1.png" alt="contactsicon1">
                  <span>Московское шоссе 55а, 3 этаж</span>
               </div> 
               <div class="contacts__phone moscowCity">
                  <img src="/img/digital_agency/contactsicon2.png" alt="contactsicon1">
                  <span>8 (422) 33-50-08</span>
               </div> 
            </div>
  
            <div v-if="state==1" class="ULCITY">
               <div class="contacts__address">
                  <img src="/img/digital_agency/contactsicon1.png" alt="contactsicon1">
                  <span>Архангельский переулок, дом 5, строение 4</span>
               </div> 
               <div class="contacts__phone">
                  <img src="/img/digital_agency/contactsicon2.png" alt="contactsicon1">
                  <span>8 (904) 181-60-04</span>
               </div> 
            </div>
         </div> 
        </div>
        <!-- contacts_container -->
        <iframe v-if="state==0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4655.684247401516!2d48.329986855313244!3d54.3067423018765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415d36dbb63dd3e1%3A0x11647ae927dbb76c!2z0JzQvtGB0LrQvtCy0YHQutC-0LUg0YguLCA1NdCQLCDQo9C70YzRj9C90L7QstGB0LosINCj0LvRjNGP0L3QvtCy0YHQutCw0Y8g0L7QsdC7LiwgNDMyMDM0!5e0!3m2!1sru!2sru!4v1573720865185!5m2!1sru!2sru" frameborder="0" style="border:0; width: 600px;" allowfullscreen=""></iframe>
        <iframe v-if="state==1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.85240253002!2d37.63573121675062!3d55.76106614494748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a609d68d07f%3A0x2f494d07485e6b35!2z0JDRgNGF0LDQvdCz0LXQu9GM0YHQutC40Lkg0L_QtdGALiwgNSDRgdGC0YDQvtC10L3QuNC1IDQsINCc0L7RgdC60LLQsCwgMTAxMDAw!5e0!3m2!1sru!2sru!4v1573720701649!5m2!1sru!2sru" frameborder="0" style="border:0; width: 600px;" allowfullscreen=""></iframe>
      </div>
<script>
    new Vue({
    el: '#appcontacts',
            data: {
            state:0
    }});
</script>
        </div>
<!-- digital-agatech -->

