<div id="ConfiguratorAdmin">
    <div class="text-center border border-light">
        
        <div class="btn-group" role="group" aria-label="Basic example">
            <button @click="AddParamSet" type="button" class="btn btn-primary mr-3">Добавить параметр</button>
            <button @click="ShowList" type="button" class="btn btn-primary mr-3">Список параметров</button>
            <button @click="State=4" type="button" class="btn btn-primary mr-3">Общие настройки</button>
        </div>
    </div>
    
    <div v-if="State==1 || State==3" class="text-center border border-light p-2 mt-5">
        <div v-if="State==3" class="form-group">
            Изменить параметр по №{{ Param.id }}
        </div>
        <div v-if="State==1" class="form-group">
            Добавить новый параметр
        </div>
        <div class="border border-danger p-3">
            <div  class="form-group text-danger">
                Эти данные обязательны к запонению
            </div>
            <div class="form-group">
                <label for="Step">№ Шага</label>
                <input v-model.number="Param.step" type="number" class="form-control" id="Step" placeholder="Шаг">
            </div>
            <div class="form-group">
                <label for="Sum">Цена</label>
                <input v-model.number="Param.sum" type="number" id="Sum" class="form-control" placeholder="Цена">
            </div>
            <div class="form-group">
                <label for="name">Имя параметра</label>
                <input v-model.trim="Param.name" type="text" id="name" class="form-control" placeholder="Текст">
            </div>
            <div class="form-group">
                <label for="text">Текст параметра</label>
                <input v-model.trim="Param.text" type="text" id="text" class="form-control" placeholder="Текст">
            </div>
        </div>
        <div class="border border-info p-3 mt-5">
            <div  class="form-group text-info">
                Эти данные не обязательны к запонению но могут потребоватся 
            </div>
            <div class="form-group">
                <label for="Img">Ссылка на картинку</label>
                <input v-model.trim="Param.img" type="text" id="Img" class="form-control" placeholder="Картинка">

                <img v-if="Param.img!=''" :src="Param.img" class="img-responsive">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input v-model="Param.counts" type="checkbox" class="custom-control-input" id="Count">
                    <label class="custom-control-label" for="Count">Имеет ли колличество</label>
                </div>
                <div v-if="Param.counts" class="form-group">
                    <label for="countval">Сколько по умолчанию</label>
                    <input v-model.number="Param.countval" type="number" id="countval" class="form-control" placeholder="Значение">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Минимум и Максимум</span>
                        </div>
                        <input v-model.number="Param.countminval" type="number" id="countminval" class="form-control" placeholder="Минимум">
                        <input v-model.number="Param.countmaxtval" type="number" id="countmaxtval" class="form-control" placeholder="Максимум">
                
                    </div>
                    
                    </div>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input v-model="Param.defaults" type="checkbox" class="custom-control-input" id="default">
                    <label class="custom-control-label" for="default">Выбрано по умолчанию</label>
                </div>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input v-model="Param.base" type="checkbox" class="custom-control-input" id="Base">
                    <label class="custom-control-label" for="Base">Входит в базовую стоимость</label>
                </div>
            </div>
            <div class="form-group">
                <label for="Description">Описание</label>
                <textarea v-model.trim="Param.description" class="form-control rounded-0" id="Description" rows="6"></textarea>
            </div>
        </div>
        <div class="p-2">
            <button v-if="State==1" class="btn btn-info btn-sm mr-3" @click="AddParam">Добавить</button>
            <button v-if="State==3" class="btn btn-info btn-sm mr-3" @click="SaveParam">Сохранить</button>
        </div> 
    </div>
    
    <div v-if="State==2" class="text-center border border-light mt-5">
        <table class="table table-hover">
            <thead class="bg-warning">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">step</th>
                    <th scope="col">text</th>
                    <th scope="col">name</th>
                    <th scope="col">sum</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in ParamList" @click="EditParam(index)">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.step }}</td>
                    <td>{{ item.text }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.sum }}</td>
                </tr>
               
            </tbody>
        </table>

    </div>
    
    <div v-if="State==4" class="text-center border border-light p-5">
        <label for="basic-url">Фоновая картинка</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="bgimg-url">URL картинки</span>
            </div>
            <input type="text" class="form-control" v-model="BgImg">
            <div class="input-group-append">
                <button class="btn btn-default m-0 px-3 py-2" type="button" id="button-addon2" @click="SaveBgImage">Сохранить</button>
            </div>
        </div>
        <label for="basic-url">Коллическво шагов</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="StepCountLbl">сколько всего шагов<a @click="showmsg">ъ</a>?</span>
            </div>
            <input v-model.number="StepCount" type="number" min="1" max="1000" class="form-control" id="StepCount" aria-describedby="basic-addon3">
            <div class="input-group-append">
                <button class="btn btn-default m-0 px-3 py-2" type="button" id="button-addon2" @click="SaveStepCount">Сохранить</button>
            </div>
        </div>
        <div v-if="StepSelekted==0" class="d-flex flex-wrap">
            <button style="width:100px;" class="p-1 m-1 bg-info" v-for="item  in StpCnts" @click="StepSel(item)">Шаг {{item}}</button>
            
        </div>
        <!-- Default form subscription -->
        <div v-if="StepSelekted>0" class="text-center border border-light p-5" >
            <p class="h4 mb-4">Настройка шага № {{StepSelekted}}</p>
            <p>Имя шага англискими буквами это системный параметр</p>
            <input type="text" class="form-control" placeholder="Имя шага">
            <p>Название шага отображаемое на сайте</p>
            <input type="text" class="form-control mb-4 pt-1" placeholder="Название шага">
            <p>Название блока с лева (там где параметры по умолчанию выбраны и входят в базовую стоимость)</p>
            <input type="text" class="form-control mb-4 pt-1" placeholder="Название левого блока">
            <p>Название блока с права (ну это место где параметры стоят денег и оне не выбраны по дефолту)</p>
            <input type="text" class="form-control mb-4 pt-1" placeholder="Название правого блока">
            <button class="btn btn-info btn-block" type="submit" @click="SaveStepParam">Сохранить</button>
            
            <p class="text-danger">да ваще покую на эту кнопку я всеравно переписываю этот функционал и работать он будет по другому... я ваще я за пивом ушол... 2Ъ</p>

        </div>

    </div>
</div>
<script type="text/javascript">
var ConfiguratorAdmin = new Vue({
    el: '#ConfiguratorAdmin',
    data: {
        ParamList:{},StepList:{},StepCount:1,StepSelekted:0,
        Param:{counts:false,base:false,default:false,step:0,sum:0,text:'Параметр',img:'',name:'Имя'},
        ParamID:0,BgImg:'',
        State:4
    },
    computed: {
        StpCnts(){
            return this.StepCount;
        }
    },
    beforeCreate(){
        fetch( '/configurator/api/getsetting/',{
                mode: 'cors',
                method: 'POST',
//                body: JSON.stringify(this.Param)
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                //this.ParamList=json.data;
                var BGImgs = _.find(json,{name:"bgimg"});
                this.BgImg = BGImgs.value;
                var StpCnt = _.find(json,{name:"StepCount"});
                this.StepCount = Number(StpCnt.value);
//                console.log(StpCnt);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });
//        this.GetAll();
    },
    methods: {
        showmsg(){
            prompt('ай маладец... ты всетаки сюды тыкнулъ ', 'Дореволюціонный Совѣтчикъ');
        },
        SaveBgImage(){
            fetch( '/configurator/api/savesetting/',{
                mode: 'cors',
                method: 'POST',
                body: JSON.stringify({'name':'bgimg','value':this.BgImg})
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                //this.ParamList=json.data;
                console.log(json);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });
            
        },
        SaveStepCount(){
            fetch( '/configurator/api/savesetting/',{
                mode: 'cors',
                method: 'POST',
                body: JSON.stringify({'name':'StepCount','value':this.StepCount})
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                //this.ParamList=json.data;
                console.log(json);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });
            
        },
        SaveStepParam(){
            console.log(0);
            this.StepSelekted = 0;
        },
        StepSel(item){
            this.StepSelekted = item;
            console.log(item);
        },
        AddParam(){
            fetch( '/configurator/api/addparam/',{
                mode: 'cors',
                method: 'POST',
                body: JSON.stringify(this.Param)
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                //this.ParamList=json.data;
                console.log(json);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });
        },
        GetAll(){
            this.ParamList = {};
            fetch( '/configurator/api/getparam/',{
                mode: 'cors',
                method: 'POST'
                //body: JSON.stringify(this.Param)
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                this.ParamList=json;
                this.State=2;
//                console.log(json);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });
        },
        EditParam(index){
            fetch( '/configurator/api/getparamid/',{
                mode: 'cors',
                method: 'POST',
                body: JSON.stringify({id:this.ParamList[index].id})
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                this.Param=json;
                    //this.Param = this.ParamList[index];
                this.Param.counts = this.Param.counts === '0' ? false :  true ;
                this.Param.base = this.Param.base === '0' ? false : true;
                this.Param.defaults = this.Param.defaults === '0' ? false : true;
                this.ParamID = this.Param.id;
    //            console.log(this.ParamList[index]);
                this.State = 3;
//                console.log(json);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });

        },
        SaveParam(){
            fetch( '/configurator/api/saveparam/',{
                mode: 'cors',
                method: 'POST',
                body: JSON.stringify({params:this.Param,id:this.ParamID})
            })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then((json) => {
                //this.ParamList=json.data;
                console.log(json);
            })
            .catch((error) => {
                console.log('Ошибка отправки данных конфигуратора ',error);
            });
        },
        AddParamSet(){
            this.State=1;
            this.Param={counts:false, countminval:1,countmaxtval:100,base:false,default:false,step:0,sum:0,text:'Параметр',img:'',name:'Имя'};
        },
        ShowList(){
            this.GetAll();
            
//            this.State=2;
        }
    }
});

</script>