<{ Addcss(/public/css/style_configurator.css) }>

<div class="configurator" id="configurator">
    <div class="configurator-wrap" @click.self="mesg=''">
        <div class="configurator-wrap__header">
            <a href="/">
                <img src="/public/img/logo_white.svg" alt="logo_white" class="configurator-wrap__header-img">
            </a>
            <div class="configurator-wrap__header-title">
                <h2>{{ message }}</h2>
                <img src="/public/img/configurator/enter.svg" alt="enter">
            </div>
            <div class="configurator-wrap__header-numpage">
                <p>Шаг {{step}} из {{MaxStep}}</p>
            </div>
            
            
        </div>
        <div v-if="step<=2" class="configurator-wrap__content" @click.self="mesg=''">
            <div v-for="(option, index) in Data" v-if="mesg==''" class="configurator-wrap__content-item">
                <img v-bind:src="option.img" @click="Set(option)"   class="configurator-wrap__content-item--img">
                <p>{{option.text}}</p>
                <img @click="mesg = option.description" src="/public/img/configurator/enter.svg" alt="enter"  class="configurator-wrap__content-item--enter-img">
            </div>
            <div v-if="mesg!=''" @click="mesg=''" class="text-center text-white p-3">
                <p>{{mesg}}</p>
            </div>

        </div>
        <div v-if="step>=3 && step<7" class="configurator-wrap__content-form">
            <div class="form-left">
                <div class="form-title">
                    <p>БАЗОВЫЕ ПАРАМЕТРЫ</p>
                    <span>(входят в стимость)</span>
                </div>
                <ul>
                    <li v-for="(option, index) in Data" v-if="option.base" >
                        <label :for="'ck'+index" :for="index">{{option.text}}
                            <input type="checkbox" :id="'ck'+index" v-model.number="option.defaults" @change="Set(option,index)">
                            <span class="checkbox-visible"></span>
                        </label>
                        <div v-if="option.counts && option.defaults" class="step4-additional">
                            <span id="basic-addon3">Колличество</span>
                            <input id="DopServecPresentCount" type="number" :min="option.countminval" :max="option.countmaxtval" v-model.number="option.countval">
                            <span>штук</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-right">
                <div class="form-title">
                    <p>ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ</p>
                </div>
                <ul>
                    <li v-for="(option, index) in Data" v-if="!option.base">
                        <label :for="'ck'+index" :for="index">{{option.text}}
                            <input type="checkbox" :id="'ck'+index" v-model="option.defaults" @change="Set(option,index)">
                            <span class="checkbox-visible"></span>
                        </label>
                        <div v-if="option.counts && option.defaults" class="step4-additional">
                            <span id="basic-addon3">Колличество</span>
                            <input id="DopServecPresentCount" type="number" :min="option.countminval" :max="option.countmaxtval" v-model.number="option.countval" @change="Set(option,index)">
                            <span>штук</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="step==7" class="step7-wrap">
            <!--<iframe src="https://calk.bitrix24.site/" frameborder="0"></iframe>--> 
            <!-- Default form subscription -->
            <form style="width: 450px;" class="text-center" @submit="CreateOrder">

                <p class="text-white">Оформить заказ</p>

                <p class="p-2 text-white">Заказали на сумму {{ totalprice }}</p>

                <input v-model="UserData.name" type="text" class="form-control mb-4" placeholder="Имя" required>
                <input v-model="UserData.email" type="email" class="form-control mb-4" placeholder="E-mail" required>
                <input v-model="UserData.tel" type="tel" class="form-control mb-4" placeholder="Номер телефона">
                <!-- Sign in button -->
                <button class="btn btn-info btn-block" type="submit">Заказать</button>


            </form>
            <!-- Default form subscription -->
        </div>
        <div v-if="step>7" class="step7-wrap">
            <h1 class="text-white">ваш заказ принят в обработку</h1>
            <!-- Default form subscription -->
        </div>
        <div v-if="step>=2 && step<MaxStep" class="configurator-wrap__bottom">
            <button v-if="step>=1" @click="prew" type="button" class="configurator-wrap__bottom--back">
                Назад
            </button>
            <span v-if="totalprice>0" class="price">Цена {{totalprice}} Руб.</span>
            <button v-if="step<MaxStep" @click="next" type="button" class="configurator-wrap__bottom--next" >Далее</button>

        </div>
    </div>
</div>

<script>
    var configurator = new Vue({
        el: '#configurator',
        data: {
            message: 'Выберите настройки сайта',mesg: '',
            UserData: {email: '<{email}>', name: '<{firstname}>', tel: '<{phone}>'},
            step: 1, MaxStep: 7,Data:{},SelectData:[],StepData:[],SendData:[],
            totalprice:0
        },
        created() {
            let self = this;
            window.onpopstate = function(event) {
                if(event.state!==null){
                    self.step = event.state;
                }
//                console.log(self.step);
            };
            this.SetState(self.step);
            this.GetStep();
        },
        computed: {
//            totalprice() {
//                return this.ArraySum(this.SelectData);
//            }
        },
        methods: {
            ArraySum(arr) {
                let sum = 0;
                this.StepData.forEach(function(item, i, arr) {
                        sum+=item;
//                        console.log(i,item);
                });
                
                arr.forEach(function(item, i, arr) {
                        sum+=item.val;
//                        console.log(i,item);
                });
                return sum;
            },
            next() {
                this.step++;
                if (this.step > this.MaxStep) {
                    this.step = this.MaxStep;
                }
                 this.SetState(this.step);
                 this.GetStep();
            },
            prew() {
                this.step--;
                if (this.step < 1) {
                    this.step = 1;
                }
                this.SetState(this.step);
                this.GetStep();
            },
            SetState(st){
                //window.history.pushState(st, "Title", "/configurator/step/"+st);
            },
            Set(Param, idx=0){
                this.SendData['Step_'+this.step+'_Data']=this.Data;
                if (this.step <= 2) {
//                    this.SelectData.push(data);
//                    this.Data.forEach((item, i, arr)=> {
//                        let datas = {     
//                            name: item.name,  
//                            val: Number(item.sum)        
//                        };
//                        this.SelectData = _.without(this.SelectData, datas);
//                        console.log(this.SelectData);
//                    });
                    this.StepData[this.step]=Number(Param.sum);
//                    this.step++;
//                    this.GetStep();
                    this.next();
                }else{
                    let data = {     
                        name: Param.name,  
                        val: Number(Param.sum),
                        kol_vo:0
                    };
                    if(Param.countval>1){
                        data.val = Number(Param.sum)*Number(Param.countval);
                        data.kol_vo = Number(Param.countval);
                    }
                    let result = this.SelectData.find(item => item.name === Param.name);
                    if(!Param.defaults){
                        
                        if(result){
                            this.SelectData = _.without(this.SelectData, result);
//                            console.log(this.SelectData);
                        }
                    }else{
                        
                        if(result){
                            this.SelectData = _.without(this.SelectData, result);
//                            console.log(this.SelectData);
                        }
                        this.SelectData.push(data);
                    }
                    
                }
                this.totalprice = this.ArraySum(this.SelectData);
                
            },
            GetStep(){
                this.Data = {};
                fetch( '/configurator/api/getparam/',{
                    mode: 'cors',
                    method: 'POST',
                    body: JSON.stringify({id:this.step})
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok');
                })
                .then((json) => {
                    var self = this;
                    this.Data=json;
                    this.Data.forEach(function(item, i, arr) {
                        self.Data[i]=item;
                        self.Data[i].counts = item.counts === '0' ? false :  true ;;
                        self.Data[i].base=item.base === '0' ? false : true;;
                        self.Data[i].defaults=item.defaults === '0' ? false : true;;
//                        self.Data[i]=item;
//                        console.log(i,item);
                    });
                    

//                    console.log(this.Data);
                })
                .catch((error) => {
                    console.log('Ошибка получения данных конфигуратора ',error);
                });
            },
            CreateOrder(e) {
                e.preventDefault();
                
                
                var OrderData = {'Send':this.SendData,'Select':this.SelectData};
                console.log(OrderData);
//                fetch('/configurator/webhooks/?AJAX=1', {
//                    mode: 'cors',
//                    method: 'POST',
//                    body: JSON.stringify(OrderData)
//                })
//                .then((response) => {
//                    if (response.ok) {
//                        return response.json();
//                    }
//                    throw new Error('Network response was not ok');
//                })
//                .then((json) => {
//                    console.log(json);
//                    this.step++;
////                            this.ShowUniKod = true;
//                })
//                .catch((error) => {
//                    this.step++;
//                    console.log('Ошибка отправки данных конфигуратора ', error);
//                });

            }
            
        }
    });

</script>