
<div id="userlist">
    <button v-if="state==0" @click="state=1" type="button" class="btn btn-primary">Добавить</button>
    <!-- Default form register -->
    <form v-if="state==1" class="text-center border border-light p-5" action="/" @submit="checkForm">

        <p class="h4 mb-4">Добавить пользователя</p>
        <div v-if="errors" class="alert alert-danger" role="alert">
            {{errors}}
        </div>
        <div v-if="id" class="alert alert-success" role="alert">
            пользователь с ID{{id}} добален успешно.
        </div>
        <!-- login -->
        <input type="text" id="login" class="form-control" aria-describedby="LoginHelpBlock" placeholder="Логин" v-model="User.login" required>
        <small id="LoginHelpBlock" class="form-text text-muted mb-4">
            Логин для входа в систему
        </small>
        <div class="form-row mb-4">
            <div class="col-6">
                <!-- First name -->
                <input type="text" id="FirstName" class="form-control" placeholder="Имя" v-model="User.firstname" required>
            </div>
            <div class="col-6">
                <!-- Last name -->
                <input type="text" id="LastName" class="form-control" placeholder="Фамилия" v-model="User.lastname" required>
            </div>
        </div>

        <!-- E-mail -->
        <input type="email" id="Email" class="form-control mb-4" placeholder="E-mail" v-model="User.email" required>

        <!-- Password -->
        <input type="password" id="Password" class="form-control" placeholder="Пароль" aria-describedby="PasswordHelpBlock" v-model="User.password" required>
        <small id="PasswordHelpBlock" class="form-text text-muted mb-4">
            Пароль от 4 до 64 символов
        </small>

        <!-- Phone number -->
        <input type="tel" id="Phone" class="form-control" placeholder="Номер телефона" aria-describedby="PhoneHelpBlock" v-model="User.phone">
        <small id="PhoneHelpBlock" class="form-text text-muted mb-4">
            Номер телефона 
        </small>
        <label>Статус пользователя</label>
        <select class="browser-default custom-select mb-4" v-model.number="User.role">
            <option value="100">Обычный пользователь</option>
            <option value="200">Модератор</option>
            <option value="300">Редактор</option>
            <option value="900">Администратор</option>
            <option value="999">Разработчик системы. полные права на всё без проверок.</option>
        </select>


        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Создать</button>

    </form>
    <!-- Default form register -->
    <table v-if="state==0" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in Data">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            
        </tbody>
    </table>
</div>
<script>
var userlist = new Vue({
    el: '#userlist',
        mvcrbstore,
        data: {
            Data: {}, Count: 0,
            errors:null,id:null,
            User: {role: 100},
            ErrData: {},
            perPage: 3, currentPage: 1,
            searchStr: '', currentSortDir: 'asc', currentSort: 'id',state:'0'
        },
        created() {
            this.setPage(1);
        },
        computed: {
            paginator() {
                let p = _.range(1, Math.ceil(this.TaskCount / this.perPage) + 1);
                let st = this.currentPage - 2;
                if (st < 1)
                    st = 0;
                return {
                    count: p.length,
                    currentPage: this.currentPage,
                    pages: p.slice(st, st + 3)
                };
            }
        },
        methods: {
            setPage(p) {
                if (p > this.paginator.count)
                    p = this.paginator.count;
                if (p < 1)
                    p = 1;

                this.currentPage = p;
                fetch('/admin/getuserlist/?AJAX=1', {
                    mode: 'cors',
                    method: 'POST',
                    body: JSON.stringify({start: (p - 1) * this.perPage, limit: this.perPage, data: this.currentSort, dir: this.currentSortDir})
                })
                .then(res => res.json())
                .then(res => {
                    this.Data = res.data;
//                  if(this.search.length>0){
//                      this.TaskCount = res.Scount;
//                  }else{
//                      this.TaskCount=res.count;
//                  }

                    this.Count = res.count;
                    console.log(res);
                });
            },
            sort(s) {
                if (s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }
                this.currentSort = s;
                this.setPage(this.currentPage);
//            console.log(this.currentSortDir,this.currentSort);
            },
            checkForm(e){
                e.preventDefault();
                fetch('/admin/adduser/?AJAX=1', {
                    mode: 'cors',
                    method: 'POST',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    body: JSON.stringify(this.User)
                })
                .then(res => res.json())
                .then(res => {

                    if(res.Errors){
                        this.errors = res.Errors;
                    }else{
                        this.errors = null;
                    }
                    if(res.id){
                        this.id = res.id;
                    }else{
                        this.id = null;
                    }
                    console.log(res);
                });

            }
        }
    });
</script>