<{ Title(Комплексное SEO продвижение сайта | заказать в Ульяновске и Москве) }>


<?php
   $this->metadescription = "Услуги по seo оптимизации и раскрутке сайтов и интернет-магазинов - заказать по выгодным ценам от компании 'AGATECH'. Продвинем Ваш сайт в ТОП надолго. ";
   $this->metakeywords = "seo продвижение и оптимизация сайта цена в москве и ульяновске, стоимость услуг по продвижению интернет-магазина, стоимость продвижения сайта, аудит сайта цена";
?>

 <main id="products">
   <section class="main-header seo-header">
       <div class="main-header__content">
           <h1 class="main-header__content-title">SEO-продвижение сайта</h1>
           <p class="main-header__content-description text-justify">
            Команда специалистов AGATECH оказывает услуги по комплексному SEO-продвижению и раскрутке сайта, интернет-магазина и промо-сайта. Наши специалисты гарантируют стойкий результат в ТОП-10, доверие пользователей к вашему сайту и широкий охват аудитории. Мы проведем все необходимые аудиты вашего сайта и выстроим стратегию продвижения.    
           </p>
           <!-- /.main-header__content-description -->
       </div>
       <!-- /.main-header__content -->
   </section>
   <!-- /.main-header -->

    <section class="main-content">
       <nav class="main-content__menu">
           <a class="main-content__menu_link" href="/products/marketing/tech_support.html">Техническая поддержка</a>
           <a class="main-content__menu_link" href="/products/marketing/SMM.html">SMM</a>
           <a class="main-content__menu_link" href="/products/marketing/target.html">Target</a>
           <a class="main-content__menu_link" href="/products/marketing/context.html">Контекстная реклама</a>
           <a class="main-content__menu_link active" href="/products/marketing/SEO.html">SEO</a>
       </nav>
       <!-- /.main-content__menu -->

       <div class="main-content__container">
        <div class="main-content-breadcrumbs">
            <a href="/products/products.html" class="main-content-breadcrumbs__link">Продукты</a>
            <a href="/products/marketing/marketing.html" class="main-content-breadcrumbs__link">Комплексное сопровождение и продвижение</a>
            <a href="/products/marketing/SEO.html" class="main-content-breadcrumbs__link">SEO</a>
         </div>
         <!-- /.main-content-breadcrumbs -->
         
           <h2 class="main-content__title">SEO-продвижение сайта/вывод в ТОП-10</h2>
           <div class="productsPage-top">
               <div class="productsPage-top__advantages">
                   <div class="productsPage-top__advantages-item">
                       <div class="advantages-item__text">
                           <span class="advantages-item__text-title">Широкий охват аудитории</span>
                           <p class="advantages-item__text-description"> в России интернетом пользуются более 70% россиян в возрасте от 18 лет, а среди взрослого населения более 59% постоянно используют интернет. И все они ищут сайты, товары, услуги в первую очередь в Яндекс, Google.</p>
                       </div>
                       <!-- /.advantages-item__text -->
                       <img src="/public/img/products/marketing/seo/advantages-item-1.png" alt="/advantages-item-1">
                   </div>
                   <!-- /.productsPage-top__advantages-item -->

                   <div class="productsPage-top__advantages-item">
                       <div class="advantages-item__text">
                           <span class="advantages-item__text-title">Устойчивые результаты</span>
                           <p class="advantages-item__text-description">Продвижение сайта позволяет получать устойчивые результаты (рост трафика и / или рост позиций по поисковым запросам).</p>
                       </div>
                       <!-- /.advantages-item__text -->
                       <img src="/public/img/products/marketing/seo/advantages-item-2.png" alt="/advantages-item-2">
                   </div>
                   <!-- /.productsPage-top__advantages-item -->
                   
                   <div class="productsPage-top__advantages-item">
                       <div class="advantages-item__text">
                           <span class="advantages-item__text-title">Доверие</span>
                           <p class="advantages-item__text-description">Большое количество пользователей не доверяет объявлениям в Яндекс и Google с пометкой «реклама», а предпочитает переходить по первым ссылкам после рекламы.</p>
                       </div>
                       <!-- /.advantages-item__text -->
                       <img src="/public/img/products/marketing/seo/advantages-item-3.png" alt="/advantages-item-3">
                   </div>
                   <!-- /.productsPage-top__advantages-item -->

                   <div class="productsPage-top__advantages-item">
                       <div class="advantages-item__text">
                           <span class="advantages-item__text-title">Длительный эффект</span>
                           <p class="advantages-item__text-description">Как правило, даже при прекращении продвижения сайта, достигнутые результаты еще долгое время дают о себе знать.</p>
                       </div>
                       <!-- /.advantages-item__text -->
                       <img src="/public/img/products/marketing/seo/advantages-item-4.png" alt="/advantages-item-4">
                   </div>
                   <!-- /.productsPage-top__advantages-item -->
               </div>
               <!-- /.productsPage-top__advantages -->
               <aside class="productsPage-top__other">
                   <div class="top__other-video--wrap">
                       <img src="/public/img/products/marketing/seo/video.png" alt="Контекстная реклама">
                   </div>
                   <!-- /.top__other-video--wrap -->
                   <div class="top__other-text">
                       <p class="top__other-text__description">
                          <span>Контекстная реклама</span> – это интернет-реклама, основанная на поисковых запросах, интересах и характеристиках аудитории в Гугл и Яндекс.
                       </p>
                   </div>
                   <!-- /.top__other-text -->
                   <div class="top__other-btn--wrap">
                       <a href="/solutions/support.html" target="_blank">Наши работы</a>
                   </div>
                   <!-- /.top__other-btn--wrap -->
                   <div class="top__other-advertising">

                   </div>
                   <!-- /.top__other-advertising -->
               </aside>
               <!-- /.productsPage-top__other -->
           </div>
           

         <!--  <div class="text-center"><h2 class="main-content__title">Стоимость услуг</h2></div>
          <div class="productsPage-presentation productsPage-presentation--row-2">
           <a href="#" class="productsPage-presentation__item call-popup-btn">
               <img class="lazy" data-src="/public/img/products/marketing/seo/presentaion-item-2-1.png" alt="Комплексное ТОП 5">
               <div class="presentation__item-info">
                   <span class="presentation__item-info__title">Комплексное<br>SEO</span>
                   <span class="presentation__item-description">Вывод в ТОП 5<br>от 15 000 &#8381;/мес</span>
                   
               </div>
           
           </a>
           
         
           <a href="#" class="productsPage-presentation__item call-popup-btn">
               <img class="lazy" data-src="/public/img/products/marketing/seo/presentaion-item-2-2.png" alt="Комплексное ТОП 10">
               <div class="presentation__item-info">
                 <span class="presentation__item-info__title">Комплексное<br>SEO</span>
                 <span class="presentation__item-description">Вывод в ТОП 10<br>от 9 000 &#8381;/мес</span>
                 
               </div>
           
           </a>
           
                 </div> -->
        <!-- /.productsPage-presentation -->
<!--             <em class="text-center"><b><p>*Стабильный вывод сайта в ТОП-5(10) происходит не менее, чем через 3-5 месяцев.</p></b></em>
        <div class="productsPage-request">
        <p class="productsPage-request__text">
            А Вы готовы к тому, <strong>что Ваш бизнес будет автоматизирован 
            и работать корректно 24/7 и обеспечит Вам приток заказов?</strong>
            <br>
            Тогда пишите нам! 
        </p>
        <button class="productsPage-request__btn call-popup-btn">Оставить заявку</button>
        <img src="/public/img/products/request.png" alt="" class="productsPage-request__img">
    </div>  -->
            </div>
            <!-- /.main-content__container -->
        </div>
        <!-- /.main-content -->
    </main>
    <!-- /#products -->






    <div class="popup--wrap app">
        <div class="popup">
           <div v-if="showForm" class="popup-static">
              <img src="/public/img/popup/message.png" alt="message" class="popup-static__img">
              <form  @submit="sbmt" class="popup-static__form form">
                  <label for="" class="form__label">
                      <span class="form__title">Имя: 
                      </span>
                      <input type="text" class="form__input" placeholder="Введите имя...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">Телефон:</span>
                      <input type="tel" class="form__input" placeholder="Введите номер телефона...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">E-mail:</span>
                      <input type="email" class="form__input" placeholder="Введите почту...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">Комментарий:</span>
                  <textarea class="form__textarea" placeholder="Введите текст сообщения..."></textarea>
                  </label>
                  <input type="submit" value="Отправить" class="form__submit">
              </form>
           </div>
            
            <div v-if="!showForm" class="popup-success">
              <div class="popup-success__img--wrap">
                 <img src="/public/img/popup/message-right.png" alt="message-right" class="popup-success__img-right animated infinite swing">
                 <img src="/public/img/popup/message-left.png" alt="message-left" class="popup-success__img-left animated infinite swing">
                 <img src="/public/img/popup/message.png" alt="message" class="popup-success__img">
              </div>
              <span class="popup-success__title">ФОРМА УСПЕШНО ОТПРАВЛЕНА!</span>
              <button class="popup-success__btn" v-on:click="show">Вернуться</button>
            </div>
        </div>
     </div>
     <script>
        var app = new Vue({
        el: '.app',
        data: {
           showForm:true
           },
           methods: {
              sbmt(e) {
                 e.preventDefault();
                 this.showForm=false;
              },
              show() {
                 this.showForm=true;
              }
           }
        })
     </script>