<{ Title(Заказать таргетированную рекламу для увеличения продаж – компания AGATECH) }>

<?php
   $this->metadescription = "Услуги по настройке таргетированной рекламы в инстаграме, вконтакте заказать по выгодным ценам | Компания AGATECH ✆ +7 927 270 53 30.";
   $this->metakeywords = "контекстная и таргетированная реклама, настройка таргетированной рекламы, создать таргетированную рекламу, таргетированная реклама, таргетированная реклама в instagram, таргетированная реклама в инстаграм, таргетированная реклама в фейсбук, таргетированная реклама facebook, таргетированная реклама заказать, таргетированная реклама яндекс";
?>

 <main id="products">
    <section class="main-header target-header">
        <div class="main-header__content">
            <h1 class="main-header__content-title">Таргетированная реклама</h1>
            <p class="main-header__content-description text-justify">
                Более 300 миллионов человек по России и 300 тысяч по Ульяновской области каждый день посещают социальные сети. Интернет-агентство AGATECH профессионал в настройке таргетированной рекламы.  У нас работают только специалисты знающие своё дело. Мы поможем найти Ваших клиентов в vk, facebook или instagram, а Вашим клиентам увидеть уникальное предложение.
            </p>
            <!-- /.main-header__content-description -->
        </div>
        <!-- /.main-header__content -->
    </section>
    <!-- /.main-header -->

     <section class="main-content">
        <nav class="main-content__menu">
            <a class="main-content__menu_link" href="/products/marketing/tech_support.html">Техническая поддержка</a>
            <a class="main-content__menu_link" href="/products/marketing/SMM.html">SMM</a>
            <a class="main-content__menu_link active" href="/products/marketing/target.html">Target</a>
            <a class="main-content__menu_link" href="/products/marketing/context.html">Контекстная реклама</a>
            <a class="main-content__menu_link" href="/products/marketing/SEO.html">SEO</a>
        </nav>
        <!-- /.main-content__menu -->

        <div class="main-content__container">
            <div class="main-content-breadcrumbs">
                <a href="/products/products.html" class="main-content-breadcrumbs__link">Продукты</a>
                <a href="/products/marketing/marketing.html" class="main-content-breadcrumbs__link">Комплексное сопровождение и продвижение</a>
                <a href="/products/marketing/target.html" class="main-content-breadcrumbs__link">Target</a>
             </div>
             <!-- /.main-content-breadcrumbs -->

            <h2 class="main-content__title">Таргетированная реклама в социальных сетях</h2>
            <div class="productsPage-top">
                <div class="productsPage-top__advantages">
                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Универсальность</span>
                            <p class="advantages-item__text-description">При помощи таргетированной рекламы продвигаются практически любые товары и услуги, а также сообщества, мероприятия, приложения. Здесь можно запустить бизнес с нуля, создав сообщество и начав продавать привлеченным пользователям. Зрелому  бизнесу с отлаженными процессами получать высокие KPI от соцсетей еще проще.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/marketing/target/advantages-item-1.png" alt="/advantages-item-1">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->

                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Доверие к рекламе</span>
                            <p class="advantages-item__text-description">Пользователи испытывают доверие  к соцсетям. И у бизнеса есть возможность в хорошем смысле “использовать” эту открытость для общения с клиентами, размещая нативную рекламу (рекламу в ленте новостей).</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/marketing/target/advantages-item-2.png" alt="/advantages-item-2">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                    
                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Целевая аудитория</span>
                            <p class="advantages-item__text-description">Вашу рекламу увидит только целевая аудитория, которая интересуется Вашими товарами/услугами.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/marketing/target/advantages-item-3.png" alt="/advantages-item-3">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->

                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Контроль бюджета</span>
                            <p class="advantages-item__text-description">Можно контролировать бюджет и самостоятельно решать, сколько денег вы готовы вложить в рекламную компанию.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/marketing/target/advantages-item-4.png" alt="/advantages-item-4">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                </div>
                <!-- /.productsPage-top__advantages -->
                <aside class="productsPage-top__other">
                    <div class="top__other-video--wrap">
                        <img src="/public/img/products/marketing/target/video.png" alt="Таргетированная реклама">
                    </div>
                    <!-- /.top__other-video--wrap -->
                    <div class="top__other-text">
                        <p class="top__other-text__description">
                           <span>Таргетированная реклама</span> - это объявления, которые транслируются определенной целевой аудитории на основе общедоступной информации из профилей пользователей в социальных сетях.
                        </p>
                    </div>
                    <!-- /.top__other-text -->
                    <div class="top__other-btn--wrap">
                        <a href="/solutions/support.html" target="_blank">Наши работы</a>
                    </div>
                    <!-- /.top__other-btn--wrap -->
                    <div class="top__other-advertising">

                    </div>
                    <!-- /.top__other-advertising -->
                </aside>
                <!-- /.productsPage-top__other -->
            </div>
            <!-- /.productsPage-content__top -->
<!--             <div class="text-center"><h2 class="main-content__title">Стоимость услуг</h2></div>

<div class="productsPage-presentation">
    <a href="#" class="productsPage-presentation__item call-popup-btn">
        <img class="lazy" data-src="/public/img/products/marketing/target/presentaion-item-1.png" alt="Базовый">
        <div class="presentation__item-info">
            <span class="presentation__item-info__title">Тариф <br>Базовый</span>
            <span class="presentation__item-description">1 объявление<br>от 3 600 &#8381;</span>
            
        </div>
        /.presentation__item-info
    </a>
    /.productsPage-presentation__item

    <a href="#" class="productsPage-presentation__item call-popup-btn">
        <img class="lazy" data-src="/public/img/products/marketing/target/presentaion-item-2.png" alt="Под Ключ">
        <div class="presentation__item-info">
            <span class="presentation__item-info__title">Тариф <br>Под Ключ</span>
            <span class="presentation__item-description">Рекламная кампания<br>от 20 000 &#8381;</span>
            
        </div>
        /.presentation__item-info
    </a>
    /.productsPage-presentation__item

    <a href="#" class="productsPage-presentation__item call-popup-btn">
        <img class="lazy" data-src="/public/img/products/marketing/target/presentaion-item-3.png" alt="Проведение">
        <div class="presentation__item-info">
            <span class="presentation__item-info__title">Проведение конкурса(акции)</span>
            
            <span class="presentation__item-description">от 5 500 &#8381;/<br>конкурс(акция)</span>
            
        </div>
        /.presentation__item-info
    </a>
    /.productsPage-presentation__item
</div>
/.productsPage-presentation
<em class="text-center"><b><p>*Размер бюджета рекламной кампании рассчитывается отдельно, рекомендованная сумма:<br> не менее 200руб./сутки на одной площадке</p></b></em>
 <div class="productsPage-request">
    <p class="productsPage-request__text">
        А Вы готовы к тому, <strong>что Ваш бизнес будет автоматизирован 
        и работать корректно 24/7 и обеспечит Вам приток заказов?</strong>
        <br>
        Тогда пишите нам! 
    </p>
    <button class="productsPage-request__btn call-popup-btn">Оставить заявку</button>
    <img src="/public/img/products/request.png" alt="" class="productsPage-request__img">
</div> 
        </div> -->
        <!-- /.main-content__container -->
     </div>
     <!-- /.main-content -->
</main>
<!-- /#products -->





<div class="popup--wrap app">
    <div class="popup">
       <div v-if="showForm" class="popup-static">
          <img src="/public/img/popup/message.png" alt="message" class="popup-static__img">
          <form  @submit="sbmt" class="popup-static__form form">
              <label for="" class="form__label">
                  <span class="form__title">Имя: 
                  </span>
                  <input type="text" class="form__input" placeholder="Введите имя...">
              </label>
              <label for="" class="form__label">
                  <span class="form__title">Телефон:</span>
                  <input type="tel" class="form__input" placeholder="Введите номер телефона...">
              </label>
              <label for="" class="form__label">
                  <span class="form__title">E-mail:</span>
                  <input type="email" class="form__input" placeholder="Введите почту...">
              </label>
              <label for="" class="form__label">
                  <span class="form__title">Комментарий:</span>
              <textarea class="form__textarea" placeholder="Введите текст сообщения..."></textarea>
              </label>
              <input type="submit" value="Отправить" class="form__submit">
          </form>
       </div>
        
        <div v-if="!showForm" class="popup-success">
          <div class="popup-success__img--wrap">
             <img src="/public/img/popup/message-right.png" alt="message-right" class="popup-success__img-right animated infinite swing">
             <img src="/public/img/popup/message-left.png" alt="message-left" class="popup-success__img-left animated infinite swing">
             <img src="/public/img/popup/message.png" alt="message" class="popup-success__img">
          </div>
          <span class="popup-success__title">ФОРМА УСПЕШНО ОТПРАВЛЕНА!</span>
          <button class="popup-success__btn" v-on:click="show">Вернуться</button>
        </div>
    </div>
 </div>
 <script>
    var app = new Vue({
    el: '.app',
    data: {
       showForm:true
       },
       methods: {
          sbmt(e) {
             e.preventDefault();
             this.showForm=false;
          },
          show() {
             this.showForm=true;
          }
       }
    })
 </script>
    