header.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: background .3s; }

.header-bgc {
  background-color: #3B487C; }

.header--wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center; }

.header-container {
  width: 95%;
  display: flex;
  align-items: center; }

.header-logo--wrap {
  width: 150px;
  transform: translate(0, -5px); }

.header-logo {
  width: 100%; }

.header-menu {
  flex-grow: 1;
  height: 100%;
  margin: 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.header-menu__link--wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px; }

.header-menu__link {
  font-family: "Museo Sans 700";
  color: #fff;
  padding: 10px 5px;
  font-size: 16px;
  line-height: 1em;
  border-bottom: 3px solid transparent;
  transition: all .5s ease-in-out; }

.header-menu__link--wrap:hover .header-menu__link {
  border-bottom: 3px solid #fff;
  color: #fff; }

.header-menu__link--wrap:hover .header-menu__bottom {
  left: 0;
  height: 59px;
  padding: 20px 0; }

.header-menu__link--wrap-products:hover .header-menu__bottom {
  height: 265px; }

.header-menu__bottom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out; }

.header-menu__bottom-menu {
  width: 95%;
  padding-left: 185px;
  display: flex; }

.bottom-menu__link--main {
  font-family: "Museo Sans 500";
  color: #444;
  font-size: 16px;
  line-height: 1.2em;
  position: relative;
  transition: all .5s ease-in-out; }

.bottom-menu__link--main::before {
  content: '';
  position: absolute;
  background-image: url(/public/img/header/arrow.png);
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 2px;
  transform: translate(-40px, 0) rotate(90deg);
  opacity: 0;
  transition: all .3s ease-in-out; }

.bottom-menu__link--main:hover {
  color: #344D73; }

.bottom-menu__link--main:hover::before {
  transform: translate(0, 0) rotate(90deg);
  opacity: 1; }

.bottom-menu__link--wrap {
  display: flex;
  flex-direction: column;
  margin: 0 30px; }

.bottom-menu__link--wrap ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px 0 10px;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

.bottom-menu__link {
  font-family: "Museo Sans 300";
  color: #444;
  font-size: 16px;
  line-height: 2em;
  position: relative;
  transition: all .5s ease-in-out; }

.bottom-menu__link::before {
  content: '';
  content: '';
  position: absolute;
  background-image: url(/public/img/header/arrow.png);
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 2px;
  transform: translate(-40px, 0) rotate(90deg);
  opacity: 0;
  transition: all .3s ease-in-out; }

.bottom-menu__link:hover {
  color: #344D73; }

.bottom-menu__link:hover::before {
  transform: translate(0, 0) rotate(90deg);
  opacity: 1; }

.header-right {
  display: flex;
  align-items: center; }

.header-right__calc,
.header-right__tel {
  display: flex;
  align-items: center;
  margin-right: 40px; }

.header-right__calc:hover span,
.header-right__tel:hover span {
  color: #29C9D3;
  text-shadow: 1px 1px 10px rgba(80, 127, 131, 0.2); }

.header-right__calc:hover span::before,
.header-right__tel:hover span::before {
  width: 100%; }

.header-right__calc span,
.header-right__tel span {
  font-family: "Museo Sans 700";
  color: #fff;
  font-size: 16px;
  line-height: 1em;
  position: relative;
  transition: all .5s ease-in-out; }

.header-right__calc span::before,
.header-right__tel span::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #29C9D3;
  clip-path: polygon(0 90%, 100% 0, 100% 100%, 0 100%);
  transition: all .5s ease-in-out; }

.header-right__calc img,
.header-right__tel img {
  width: 31px;
  height: 31px;
  margin-right: 10px; }

.header-right__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px; }

.header-right__social a {
  margin-right: 5px; }

.header-right__social a:hover svg .fil1,
.header-right__social a:hover svg .fil0 {
  fill: #fff; }

.header-right__social svg {
  width: 31px;
  height: 31px; }

.header-right__social svg .fil1,
.header-right__social svg .fil0 {
  fill: #29C9D3; }

.header-right__lang span {
  font-family: "Museo Sans 300";
  white-space: nowrap;
  font-size: 14px;
  line-height: 1em;
  transition: color .5s; }

.header-right__lang span:nth-child(1) {
  color: #fff; }

.header-right__lang span:nth-child(2) {
  color: #999;
  padding: 0 5px; }

.header-right__lang span:nth-child(3) {
  color: #999; }

.header-right__lang:hover span:nth-child(1) {
  color: #999; }

.header-right__lang:hover span:nth-child(2) {
  color: #fff; }

.header-right__lang:hover span:nth-child(3) {
  color: #fff; }

.header-burger {
  display: none; }

.header-mobile--wrap {
  position: fixed;
  z-index: 98;
  top: 0px;
  left: 0;
  width: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

@media (max-width: 1700px) {
  header.header {
    height: 90px; }

  .header-logo--wrap {
    width: 120px; }

  .header-menu {
    margin: 0 20px; }

  .header-menu__link--wrap {
    margin: 0 10px; }

  .header-menu__link {
    font-size: 15px; }

  .header-menu__link--wrap:hover .header-menu__bottom {
    height: 58px;
    padding: 20px 0; }

  .header-menu__link--wrap-products:hover .header-menu__bottom {
    height: 239px; }

  .header-menu__bottom-menu {
    padding-left: 130px; }

  .bottom-menu__link--main {
    font-size: 15px; }

  .bottom-menu__link--main::before {
    width: 15px;
    height: 15px;
    top: 1px;
    left: -20px;
    transform: translate(-35px, 0) rotate(90deg); }

  .bottom-menu__link--wrap {
    margin: 0 25px; }

  .bottom-menu__link--wrap ul {
    padding: 15px 0 5px;
    margin-top: 10px; }

  .bottom-menu__link {
    font-size: 15px; }

  .bottom-menu__link::before {
    width: 15px;
    height: 15px;
    left: -20px;
    top: 1px;
    transform: translate(-35px, 0) rotate(90deg); }

  .header-right__calc,
  .header-right__tel {
    margin-right: 35px; }

  .header-right__calc span,
  .header-right__tel span {
    font-size: 15px; }

  .header-right__calc img,
  .header-right__tel img {
    width: 29px;
    height: 29px;
    margin-right: 8px; }

  .header-right__social {
    margin-right: 35px; }

  .header-right__social svg {
    width: 29px;
    height: 29px; }

  .header-right__lang span {
    font-size: 13px; }

  .header-right__lang span:nth-child(2) {
    padding: 0 4px; } }
@media (max-width: 1500px) {
  header.header {
    height: 80px; }

  .header-container {
    width: 98%; }

  .header-logo--wrap {
    width: 100px;
    transform: translate(0, -3px); }

  .header-menu {
    margin: 0 10px; }

  .header-menu__link--wrap {
    margin: 0 13px; }

  .header-menu__link {
    padding: 6px 3px;
    font-size: 14px; }

  .header-menu__link--wrap:hover .header-menu__bottom {
    height: 56px;
    padding: 20px 0; }

  .header-menu__link--wrap-products:hover .header-menu__bottom {
    height: 227px; }

  .header-menu__bottom-menu {
    width: 98%;
    padding-left: 100px; }

  .bottom-menu__link--main {
    font-size: 14px; }

  .bottom-menu__link--main::before {
    width: 14px;
    height: 14px;
    top: 0px;
    left: -15px;
    transform: translate(-30px, 0) rotate(90deg); }

  .bottom-menu__link--wrap {
    margin: 0 20px; }

  .bottom-menu__link {
    font-size: 14px; }

  .bottom-menu__link::before {
    width: 14px;
    height: 14px;
    left: -15px;
    top: 0px;
    transform: translate(-30px, 0) rotate(90deg); }

  .header-right__calc,
  .header-right__tel {
    margin-right: 25px; }

  .header-right__calc span,
  .header-right__tel span {
    font-size: 14px; }

  .header-right__calc img,
  .header-right__tel img {
    width: 27px;
    height: 27px;
    margin-right: 5px; }

  .header-right__social {
    margin-right: 25px; }

  .header-right__social svg {
    width: 27px;
    height: 27px; }

  .header-right__lang span {
    font-size: 12px; }

  .header-right__lang span:nth-child(2) {
    padding: 0 2px; } }
@media (max-width: 1300px) {
  header.header {
    height: 60px; }

  .header-container {
    width: 95%;
    justify-content: space-between; }

  .header-logo--wrap {
    width: 120px;
    transform: translate(0, -5px); }

  .header-menu {
    display: none; }

  .header-right {
    display: none; }

  .header-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 26px; }

  .header-burger__line {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 2px;
    left: 0;
    transition: all .7s; }

  .burger__line-1 {
    top: 0; }

  .burger__line-2 {
    top: 10px; }

  .burger__line-3 {
    top: 20px; }

  .header-burger--rotate .burger__line-1 {
    top: 10px;
    transform: rotate(135deg); }

  .header-burger--rotate .burger__line-2 {
    opacity: 0;
    transform: rotate(360deg); }

  .header-burger--rotate .burger__line-3 {
    top: 10px;
    transform: rotate(-135deg); }

  .header-mobile--wrap {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }

  .header-mobile--active {
    width: 100vw;
    min-height: 100vh; }

  .header-mobile--active .header-mobile-top {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: header-mobile-top-active 2s, header-mobile-top-active-2 1s 2s forwards; }

  @keyframes header-mobile-top-active {
    0% {
      transform: translate(0, 100vh);
      background-color: #fff; }
    10%, 30%, 50%, 70%, 90% {
      background-color: #3B487C;
      width: 70px;
      height: 70px; }
    20%, 40%, 80%, 100% {
      background-color: #fff;
      width: 50px;
      height: 50px; }
    60% {
      transform: translate(0, 0);
      background-color: #fff;
      width: 50px;
      height: 50px; } }
  @keyframes header-mobile-top-active-2 {
    0% {
      width: 50px;
      height: 50px;
      background-color: #fff;
      box-shadow: none; }
    90% {
      width: 200%;
      height: 120px; }
    100% {
      width: 100%;
      height: 60px;
      border-radius: 0;
      background-color: #3B487C; } }
  .header-mobile--active .header-mobile {
    width: 50px;
    height: 50px;
    background-color: #3B487C;
    box-shadow: 0 0 10px rgba(59, 72, 124, 0.7);
    border-radius: 50%;
    animation: header-mobile-active 2s, header-mobile-active-2 1s 2s forwards;
    display: flex;
    align-items: center;
    overflow: hidden; }

  @keyframes header-mobile-active {
    0% {
      transform: translate(0, 100vh);
      background-color: #3B487C; }
    10%, 30%, 50%, 70%, 90% {
      background-color: #fff;
      width: 70px;
      height: 70px; }
    20%, 40%, 80%, 100% {
      background-color: #3B487C;
      width: 50px;
      height: 50px; }
    60% {
      transform: translate(0, 0);
      background-color: #3B487C;
      width: 50px;
      height: 50px; } }
  @keyframes header-mobile-active-2 {
    0% {
      width: 50px;
      height: 50px;
      background-color: #3B487C;
      box-shadow: none; }
    90% {
      width: 200%;
      height: 200%; }
    100% {
      width: 100%;
      height: calc(100% - 60px);
      border-radius: 0;
      background-color: #fff; } }
  .header-mobile__content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%; }

  .header-mobile--active .header-mobile .header-mobile__content {
    opacity: 1;
    transition: all .7s 3s; }

  .header-mobile__menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; }

  .header-mobile__menu-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .header-mobile__menu-item__link--wrap {
    width: 100%;
    border-bottom: 1px solid #b1b1b1;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    position: relative; }

  .header-mobile__menu-item__link--wrap-active {
    border-bottom: none; }

  .header-mobile__menu-item__link {
    color: #3b487c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1em;
    font-family: "Museo Sans 900";
    letter-spacing: 2px; }

  .header-mobile__menu-item__link:hover {
    color: #3b487c; }

  .header-mobile-expand-arrow--wrap {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 54px;
    height: 54px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }

  .header-mobile-expand-arrow--wrap .header-mobile-expand-arrow {
    width: 14px;
    transform: rotate(180deg);
    transition: all .3s; }

  .header-mobile-expand-arrow--wrap-active .header-mobile-expand-arrow {
    transform: rotate(0deg); }

  .header-mobile__menu-item__bottom {
    height: 0;
    overflow: hidden; }

  .header-mobile__menu-item__bottom--active {
    height: initial;
    width: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(41, 201, 211, 0.2), #f3f3f3 30%); }

  .header-mobile__menu-item__bottom-link {
    text-align: center;
    padding: 10px;
    color: #000;
    font-family: "Museo Sans 500";
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    justify-content: center; }

  .header-mobile__menu-item__bottom-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 1px;
    background-color: rgba(182, 182, 182, 0.5); }

  .header-mobile__menu-item__bottom-link:hover {
    color: #000; }

  .header-mobile__menu-item__bottom-link:last-child::before {
    width: 0;
    height: 0;
    background-color: transparent; }

  .header-mobile__bottom {
    width: 90%;
    display: flex;
    flex-direction: column; }

  .header-mobile__bottom-social {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }

  .header-mobile__bottom-social a {
    margin-right: 10px; }

  .header-mobile__bottom-social svg {
    width: 30px;
    height: 30px; }

  .header-mobile__bottom-social svg .fil1,
  .header-mobile__bottom-social svg .fil0 {
    fill: #29C9D3; }

  .header-mobile__bottom-calc,
  .header-mobile__bottom-tel {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }

  .header-mobile__bottom-calc img,
  .header-mobile__bottom-tel img {
    width: 30px;
    height: 30px;
    margin-right: 5px; }

  .header-mobile__bottom-calc span,
  .header-mobile__bottom-tel span {
    font-family: "Museo Sans 500";
    font-size: 14px;
    line-height: 1em;
    color: #898989; }

  .header-mobile__bottom__lang {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1em;
    font-family: "Museo Sans 300";
    color: #898989; }

  .header-mobile__bottom__lang span:nth-child(1) {
    color: #29C9D3; } }
@media (max-width: 600px) {
  .header-logo--wrap {
    width: 100px;
    transform: translate(0, -2px); }

  .header-burger {
    width: 32px;
    height: 22px; }

  .burger__line-2 {
    top: 8px; }

  .burger__line-3 {
    top: 16px; }

  .header-burger--rotate .burger__line-1 {
    top: 8px; }

  .header-burger--rotate .burger__line-3 {
    top: 8px; }

  .header-mobile--wrap {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }

  .header-mobile--active {
    width: 100vw;
    min-height: 100vh; }

  .header-mobile--active .header-mobile-top {
    height: 40px;
    width: 40px; }

  @keyframes header-mobile-top-active {
    0% {
      transform: translate(0, 100vh);
      background-color: #fff; }
    10%, 30%, 50%, 70%, 90% {
      background-color: #3B487C;
      width: 60px;
      height: 60px; }
    20%, 40%, 80%, 100% {
      background-color: #fff;
      width: 40px;
      height: 40px; }
    60% {
      transform: translate(0, 0);
      background-color: #fff;
      width: 40px;
      height: 40px; } }
  @keyframes header-mobile-top-active-2 {
    0% {
      width: 40px;
      height: 40px;
      background-color: #fff;
      box-shadow: none; }
    90% {
      width: 200%;
      height: 120px; }
    100% {
      width: 100%;
      height: 60px;
      border-radius: 0;
      background-color: #3B487C; } }
  .header-mobile--active .header-mobile {
    width: 40px;
    height: 40px; }

  @keyframes header-mobile-active {
    0% {
      transform: translate(0, 100vh);
      background-color: #3B487C; }
    10%, 30%, 50%, 70%, 90% {
      background-color: #fff;
      width: 60px;
      height: 60px; }
    20%, 40%, 80%, 100% {
      background-color: #3B487C;
      width: 40px;
      height: 40px; }
    60% {
      transform: translate(0, 0);
      background-color: #3B487C;
      width: 40px;
      height: 40px; } }
  @keyframes header-mobile-active-2 {
    0% {
      width: 40px;
      height: 40px;
      background-color: #3B487C;
      box-shadow: none; }
    90% {
      width: 200%;
      height: 200%; }
    100% {
      width: 100%;
      height: calc(100% - 60px);
      border-radius: 0;
      background-color: #fff; } }
  .header-mobile__menu-item__link--wrap {
    padding: 12px; }

  .header-mobile__menu-item__link {
    font-size: 12px; }

  .header-mobile-expand-arrow--wrap {
    width: 49px;
    height: 49px; }

  .header-mobile__menu-item__bottom-link {
    padding: 10px;
    font-size: 12px; }

  .header-mobile__menu-item__bottom-link::before {
    width: 200px; }

  .header-mobile__bottom-social svg {
    width: 28px;
    height: 28px; }

  .header-mobile__bottom-calc img,
  .header-mobile__bottom-tel img {
    width: 28px;
    height: 28px; }

  .header-mobile__bottom-calc span,
  .header-mobile__bottom-tel span {
    font-size: 12px; }

  .header-mobile__bottom__lang {
    font-size: 12px; } }

/*# sourceMappingURL=header.css.map */
