@charset "UTF-8";
#newsCenter {
  overflow-x: hidden; }

/* ВСЕ НОВОСТИ */
.newsCenterAll-header {
  background-image: url(/public/img/new_center/NewsCenter-all-bgc.png); }

.NewsCenter-background {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative; }

.newsCenterAll-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.newsCenterAll-row__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.newsCenterAll-row__content-item {
  width: 320px;
  display: flex;
  flex-direction: column;
  border: 1px solid #C8CBD6;
  cursor: pointer;
  position: relative;
  transition: all .7s; }

.newsCenterAll-row__content-item:hover {
  box-shadow: 1px 1px 10px #C8CBD6; }

.newsCenterAll-row__content-item::before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(/public/img/new_center/arrow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: transform .7s;
  transform: scale(0); }

.newsCenterAll-row__content-item:hover::before {
  transform: scale(1); }

.newsCenterAll-row__content-item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #4889E4;
  transition: all .7s; }

.newsCenterAll-row__content-item:hover::after {
  width: 100%; }

.newsCenterAll-row__content-item__img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.newsCenterAll-row__content-item__img img {
  width: 100%;
  height: 100%;
  transition: transform .7s;
  object-fit: cover; }

.newsCenterAll-row__content-item:hover .newsCenterAll-row__content-item__img img {
  transform: scale(1.1); }

.newsCenterAll-row__content-item__text {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; }

.newsCenterAll-row__content-item__text-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Museo Sans 700";
  transition: color .3s; }

.newsCenterAll-row__content-item:hover .newsCenterAll-row__content-item__text-title {
  color: #4889E4; }

.newsCenterAll-row__content-item__text-data--wrap {
  display: flex;
  align-items: center;
  height: 12px;
  overflow: hidden;
  margin-bottom: 5px; }

.newsCenterAll-row__content-item__text-data--wrap span:nth-child(1) {
  font-family: "Museo Sans 300";
  text-transform: uppercase;
  color: #4889E4;
  font-size: 12px;
  font-size: 12px;
  margin-right: 10px; }

.newsCenterAll-row__content-item__text-data--wrap span:nth-child(2) {
  font-family: "Museo Sans 300";
  font-size: 11px;
  line-height: 11px;
  color: #999999; }

.newsCenterAll-row__content-item__text-decription {
  font-size: 14px;
  line-height: 16px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  font-family: "Museo Sans 300";
  margin-bottom: 15px; }

.newsCenterAll-row__more {
  font-family: "Museo Sans 300";
  color: #7898DF;
  font-size: 18px;
  line-height: 18px;
  align-self: flex-end;
  position: relative; }

.newsCenterAll-row__more::before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #7898DF;
  transition: all .7s; }

.newsCenterAll-row__more:hover {
  color: #344D73; }

.newsCenterAll-row__more:hover::before {
  background-color: #344D73; }

@media (max-width: 1500px) {
  .newsCenterAll-row {
    margin-bottom: 35px; }

  .newsCenterAll-row__content {
    margin-bottom: 18px; }

  .newsCenterAll-row__content-item {
    width: 285px; }

  .newsCenterAll-row__content-item__img {
    height: 190px; }

  .newsCenterAll-row__content-item__text {
    padding: 18px; }

  .newsCenterAll-row__content-item__text-title {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 9px; }

  .newsCenterAll-row__content-item__text-data--wrap {
    height: 11px;
    margin-bottom: 5px; }

  .newsCenterAll-row__content-item__text-data--wrap span:nth-child(1) {
    font-size: 11px;
    font-size: 11px;
    margin-right: 9px; }

  .newsCenterAll-row__content-item__text-data--wrap span:nth-child(2) {
    font-size: 10px;
    line-height: 10px; }

  .newsCenterAll-row__content-item__text-decription {
    font-size: 13px;
    line-height: 15px;
    height: 45px;
    margin-bottom: 14px; }

  .newsCenterAll-row__more {
    font-size: 17px;
    line-height: 17px; } }
@media (max-width: 1300px) {
  .newsCenterAll-row {
    margin-bottom: 30px; }

  .newsCenterAll-row__content {
    margin-bottom: 16px; }

  .newsCenterAll-row__content-item {
    width: 225px; }

  .newsCenterAll-row__content-item::before {
    width: 25px;
    height: 25px; }

  .newsCenterAll-row__content-item__img {
    height: 170px; }

  .newsCenterAll-row__content-item__text {
    padding: 16px; }

  .newsCenterAll-row__content-item__text-title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px; }

  .newsCenterAll-row__content-item__text-decription {
    font-size: 12px;
    line-height: 14px;
    height: 42px;
    margin-bottom: 13px; }

  .newsCenterAll-row__more {
    font-size: 16px;
    line-height: 16px; } }
@media (max-width: 1100px) {
  .newsCenterAll-row {
    margin-bottom: 25px; }

  .newsCenterAll-row__content {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0px; }

  .newsCenterAll-row__content-item {
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-bottom: 10px; }

  .newsCenterAll-row__content-item::after {
    top: initial;
    left: initial;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    background-color: #4889E4;
    transition: all .7s; }

  .newsCenterAll-row__content-item::before {
    bottom: 5px;
    right: 10px;
    width: 20px;
    height: 20px; }

  .newsCenterAll-row__content-item:hover::after {
    width: 2px;
    height: 100%; }

  .newsCenterAll-row__content-item__img {
    width: 150px;
    height: 120px; }

  .newsCenterAll-row__content-item__text {
    width: calc(100% - 150px);
    padding: 14px; }

  .newsCenterAll-row__content-item__text-decription {
    margin-bottom: 10px; }

  .newsCenterAll-row__more {
    font-size: 15px;
    line-height: 15px; } }
@media (max-width: 700px) {
  .newsCenterAll-row {
    margin-bottom: 20px; }

  .newsCenterAll-row__content-item {
    margin-bottom: 9px; }

  .newsCenterAll-row__content-item::before {
    bottom: 4px;
    right: 8px;
    width: 18px;
    height: 18px; }

  .newsCenterAll-row__content-item__img {
    width: 130px;
    height: 99px; }

  .newsCenterAll-row__content-item__text {
    width: calc(100% - 130px);
    padding: 12px; }

  .newsCenterAll-row__content-item__text-title {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 7px; }

  .newsCenterAll-row__content-item__text-data--wrap {
    margin-bottom: 4px; }

  .newsCenterAll-row__content-item__text-data--wrap span:nth-child(1) {
    margin-right: 6px; }

  .newsCenterAll-row__content-item__text-decription {
    height: 28px; }

  .newsCenterAll-row__more {
    font-size: 14px;
    line-height: 14px; } }
@media (max-width: 500px) {
  .newsCenterAll-row__content-item {
    margin-bottom: 8px; }

  .newsCenterAll-row__content-item::before {
    bottom: 3px;
    right: 6px;
    width: 16px;
    height: 16px; }

  .newsCenterAll-row__content-item__img {
    width: 105px;
    height: 87px; }

  .newsCenterAll-row__content-item__text {
    width: calc(100% - 105px);
    padding: 10px; }

  .newsCenterAll-row__content-item__text-title {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px; }

  .newsCenterAll-row__content-item__text-data--wrap {
    height: 10px;
    margin-bottom: 3px; }

  .newsCenterAll-row__content-item__text-data--wrap span:nth-child(1) {
    font-size: 10px;
    font-size: 10px;
    margin-right: 4px; }

  .newsCenterAll-row__content-item__text-decription {
    font-size: 11px;
    line-height: 13px;
    height: 26px;
    margin-bottom: 8px; }

  .newsCenterAll-row__more {
    font-size: 13px;
    line-height: 13px; } }
/* НОВОСТИ */
.newsCenter-header {
  width: 100%;
  height: 350px; }

.newsCenter-header__slider {
  width: 100%;
  height: 100%; }

.carousel-inner {
  width: 100%;
  height: 100%; }

.newsCenter-header__slider-item {
  padding: 80px 0 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.news-slide-1 {
  background-image: url(/public/img/new_center/news/best_entrepreneur/best_entrepreneur-header.png); }

.news-slide-2 {
  background-image: url(/public/img/new_center/news/sales_territory/sales-territory-header.png); }

.news-slide-3 {
  background-image: url(/public/img/new_center/news/off_certificate/off-certificate-header.png); }

.events-slide-2 {
  background-image: url(/public/img/new_center/events/ICEM/events-ICEM-header.png); }

.events-slide-3 {
  background-image: url(/public/img/new_center/events/dot_boiling/events-circle-table-header.png); }

.events-slide-1 {
  background-image: url(/public/img/new_center/events/kipr-international-relations/kipr-international-realtions-header.png); }

.newsCenter-content {
  width: 100%;
  display: flex;
  flex-direction: column; }

.newsCenter-content__item {
  width: 100%;
  height: 100%;
  border: 1px solid #C8CBD6;
  cursor: pointer;
  position: relative;
  transition: all .7s;
  display: flex;
  margin-bottom: 20px; }

.newsCenter-content__item:hover {
  box-shadow: 1px 1px 10px #C8CBD6; }

.newsCenter-content__item::before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(/public/img/new_center/arrow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: transform .7s;
  transform: scale(0); }

.newsCenter-content__item:hover::before {
  transform: scale(1); }

.newsCenter-content__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 2px;
  height: 0;
  background-color: #4889E4;
  transition: all .7s; }

.newsCenter-content__item:hover::after {
  height: 100%; }

.newsCenter-content__item-img {
  width: 320px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.newsCenter-content__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .7s; }

.newsCenter-content__item:hover .newsCenter-content__item-img img {
  transform: scale(1.1); }

.newsCenter-content__item-text {
  width: calc(1100px - 320px);
  padding: 20px;
  display: flex;
  flex-direction: column; }

.newsCenter-content__item-text__titile {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Museo Sans 700";
  transition: color .3s; }

.newsCenter-content__item:hover .newsCenter-content__item-text__titile {
  color: #4889E4; }

.newsCenter-content__item-text__data--wrap {
  display: flex;
  align-items: center;
  height: 13px;
  overflow: hidden;
  margin-bottom: 5px; }

.newsCenter-content__item-text__data--wrap span:nth-child(1) {
  font-family: "Museo Sans 300";
  text-transform: uppercase;
  color: #4889E4;
  font-size: 13px;
  font-size: 13px;
  margin-right: 10px; }

.newsCenter-content__item-text__data--wrap span:nth-child(2) {
  font-family: "Museo Sans 300";
  font-size: 12px;
  line-height: 12px;
  color: #999999; }

.newsCenter-content__item-text__description {
  font-size: 16px;
  line-height: 18px;
  height: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  font-family: "Museo Sans 300";
  margin-bottom: 15px; }

.newsCenter-more--btn {
  font-family: "Museo Sans 300";
  color: #7898DF;
  font-size: 18px;
  line-height: 18px;
  align-self: flex-end;
  transition: all .7s;
  position: relative; }

.newsCenter-more--btn::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all .7s;
  background-color: #7898DF; }

.newsCenter-more--btn:hover {
  color: #344D73; }

.newsCenter-more--btn:hover::before {
  background-color: #344D73; }

.hideItem {
  transition: transform .3s;
  height: 0;
  margin-bottom: 0;
  transform: scale(0); }

.data-select {
  position: absolute;
  list-style-type: none;
  left: 1230px;
  top: 30px;
  z-index: 1; }

.data-select--fixed {
  position: fixed;
  top: 130px;
  left: initial; }

.data-select--wrap {
  width: 100%;
  height: 100%;
  position: relative; }

.data-select--wrap::before {
  content: "";
  width: 1px;
  height: calc(100% - 15px);
  display: block;
  position: absolute;
  left: 6px;
  top: 0px;
  background: #d5d5d5; }

.data-select__link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 15px;
  position: relative; }

.icon-plus {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform .3s; }

.icon-minus {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform .3s;
  display: none; }

.icon-plus:hover, .icon-minus:hover {
  transform: scale(1.2); }

.data-select--down {
  position: relative; }

.data-select-title {
  font-family: 'Helvetica Neue Cyr Roman';
  color: #9B9B9B;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  transition: color .5s; }

.data-select-title:hover {
  color: #626779; }

.data-select--down dl {
  position: absolute;
  top: 15px;
  margin-bottom: 0;
  display: none; }

.data-select--down dd {
  font-family: 'Helvetica Neue Cyr Roman';
  color: #9B9B9B;
  font-size: 11px;
  line-height: 11px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
  padding: 4px 0; }

.data-select--down dd:hover {
  color: #626779; }

@media (max-width: 1500px) {
  .newsCenter-header {
    height: 325px; }

  .newsCenter-header__slider-item {
    padding: 60px 0 0;
    background-size: auto 100%;
    background-position: center top; }

  .newsCenter-content__item-text {
    width: calc(910px - 320px); }

  .data-select {
    left: 1030px; } }
@media (max-width: 1300px) {
  .newsCenter-header {
    height: 300px; }

  .newsCenter-content__item {
    margin-bottom: 18px; }

  .newsCenter-content__item::before {
    width: 25px;
    height: 25px; }

  .newsCenter-content__item-img {
    width: 260px;
    height: 174px; }

  .newsCenter-content__item-text {
    width: calc(720px - 260px);
    padding: 18px; }

  .newsCenter-content__item-text__titile {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 9px; }

  .newsCenter-content__item-text__data--wrap {
    height: 12px;
    margin-bottom: 4px; }

  .newsCenter-content__item-text__data--wrap span:nth-child(1) {
    font-size: 12px;
    font-size: 12px;
    margin-right: 8px; }

  .newsCenter-content__item-text__data--wrap span:nth-child(2) {
    font-size: 11px;
    line-height: 11px; }

  .newsCenter-content__item-text__description {
    font-size: 15px;
    line-height: 17px;
    height: 85px;
    margin-bottom: 10px; }

  .newsCenter-more--btn {
    font-size: 16px;
    line-height: 16px; }

  .data-select {
    left: 830px; } }
@media (max-width: 1100px) {
  .newsCenter-header {
    height: 275px; }

  .newsCenter-content__item {
    margin-bottom: 10px; }

  .newsCenter-content__item::before {
    width: 20px;
    height: 20px; }

  .newsCenter-content__item-img {
    width: 150px;
    height: 120px; }

  .newsCenter-content__item-text {
    width: calc(630px - 150px);
    padding: 14px; }

  .newsCenter-content__item-text__titile {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px; }

  .newsCenter-content__item-text__description {
    font-size: 12px;
    line-height: 14px;
    height: 42px; }

  .newsCenter-more--btn {
    font-size: 15px;
    line-height: 15px; }

  .data-select {
    left: 730px; }

  .data-select--fixed {
    top: 90px; }

  .data-select__link {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 10px; }

  .icon-plus {
    width: 12px;
    height: 12px;
    margin-right: 8px; }

  .icon-minus {
    width: 12px;
    height: 12px;
    margin-right: 8px; }

  .data-select-title {
    font-size: 10px;
    line-height: 10px; }

  .data-select--down dl {
    top: 10px; }

  .data-select--down dd {
    font-size: 10px;
    line-height: 10px;
    padding: 3px 0; } }
@media (max-width: 900px) {
  .newsCenter-header {
    height: 250px; }

  .newsCenter-content__item-text {
    width: calc(540px - 150px); }

  .data-select {
    display: none; } }
@media (max-width: 700px) {
  .newsCenter-header {
    height: 175px; }

  .newsCenter-content__item {
    margin-bottom: 9px; }

  .newsCenter-content__item::before {
    bottom: 4px;
    right: 8px;
    width: 18px;
    height: 18px; }

  .newsCenter-content__item-img {
    width: 130px;
    height: 99px; }

  .newsCenter-content__item-text {
    width: calc(350px - 130px);
    padding: 12px; }

  .newsCenter-content__item-text__titile {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 7px; }

  .newsCenter-content__item-text__data--wrap span:nth-child(1) {
    margin-right: 6px; }

  .newsCenter-content__item-text__description {
    height: 28px; }

  .newsCenter-more--btn {
    font-size: 14px;
    line-height: 14px; } }
@media (max-width: 500px) {
  .newsCenter-header {
    height: 150px; }

  .newsCenter-content__item {
    margin-bottom: 8px; }

  .newsCenter-content__item::before {
    bottom: 3px;
    right: 6px;
    width: 16px;
    height: 16px; }

  .newsCenter-content__item-img {
    width: 105px;
    height: 87px; }

  .newsCenter-content__item-text {
    width: calc(276px - 105px);
    padding: 10px; }

  .newsCenter-content__item-text__titile {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px; }

  .newsCenter-content__item-text__data--wrap {
    height: 10px;
    margin-bottom: 3px; }

  .newsCenter-content__item-text__data--wrap span:nth-child(1) {
    font-size: 10px;
    font-size: 10px;
    margin-right: 4px; }

  .newsCenter-content__item-text__data--wrap span:nth-child(2) {
    font-size: 10px;
    line-height: 10px; }

  .newsCenter-content__item-text__description {
    font-size: 11px;
    line-height: 13px;
    height: 26px;
    margin-bottom: 8px; }

  .newsCenter-more--btn {
    font-size: 13px;
    line-height: 13px; } }
/* ВИДЕО МАТЕРИАЛЫ */
.newsCenterVideo-header {
  background-image: url(/public/img/new_center/video/video-bgc.png); }

.videoMaterials {
  width: 100%;
  display: flex;
  flex-direction: column; }

.videoMaterials-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px; }

.videoMaterials-row--reverse {
  flex-direction: row-reverse; }

.videoMaterials-row iframe {
  width: 500px;
  height: 300px; }

.videoMaterials-row__text {
  width: 550px;
  display: flex;
  flex-direction: column; }

.videoMaterials-row__text-title {
  font-family: "Museo Sans 700";
  color: #444;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px; }

.videoMaterials-row__text span {
  font-family: "Museo Sans 300";
  font-style: italic;
  font-size: 16px;
  line-height: 16px;
  color: #777;
  margin-bottom: 10px; }

.videoMaterials-row__text ul {
  font-family: "Museo Sans 300";
  list-style-type: none;
  margin-bottom: 20px; }

.videoMaterials-row__text li {
  color: #777;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 0 4px 15px;
  position: relative; }

.videoMaterials-row__text li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-image: url(/public/img/new_center/video/li-circle.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px; }

@media (max-width: 1500px) {
  .videoMaterials-row {
    margin-bottom: 70px; }

  .videoMaterials-row iframe {
    width: 400px;
    height: 250px; }

  .videoMaterials-row__text {
    width: 450px; }

  .videoMaterials-row__text-title {
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 18px; }

  .videoMaterials-row__text span {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 9px; }

  .videoMaterials-row__text ul {
    margin-bottom: 18px; }

  .videoMaterials-row__text li {
    font-size: 15px;
    line-height: 15px;
    padding: 4px 0 4px 13px; }

  .videoMaterials-row__text li::before {
    top: 7px;
    width: 7px;
    height: 7px; } }
@media (max-width: 1300px) {
  .videoMaterials-row {
    margin-bottom: 60px; }

  .videoMaterials-row iframe {
    width: 300px;
    height: 200px; }

  .videoMaterials-row__text {
    width: 350px; }

  .videoMaterials-row__text-title {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 18px; }

  .videoMaterials-row__text span {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px; }

  .videoMaterials-row__text ul {
    margin-bottom: 16px; }

  .videoMaterials-row__text li {
    font-size: 14px;
    line-height: 14px; } }
@media (max-width: 1100px) {
  .videoMaterials-row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px; }

  .videoMaterials-row iframe {
    width: 400px;
    height: 250px; }

  .videoMaterials-row__text {
    width: 400px; }

  .videoMaterials-row__text-title {
    margin: 18px 0; } }
@media (max-width: 700px) {
  .videoMaterials-row {
    margin-bottom: 40px; }

  .videoMaterials-row iframe {
    width: 300px;
    height: 200px; }

  .videoMaterials-row__text {
    width: 300px; }

  .videoMaterials-row__text-title {
    font-size: 19px;
    line-height: 19px;
    margin: 16px 0; }

  .videoMaterials-row__text span {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 7px; }

  .videoMaterials-row__text ul {
    margin-bottom: 14px; }

  .videoMaterials-row__text li {
    font-size: 13px;
    line-height: 13px; } }
@media (max-width: 500px) {
  .videoMaterials-row {
    margin-bottom: 30px; }

  .videoMaterials-row iframe {
    width: 95%;
    height: 170px; }

  .videoMaterials-row__text {
    width: 95%; }

  .videoMaterials-row__text-title {
    font-size: 18px;
    line-height: 18px;
    margin: 14px 0; }

  .videoMaterials-row__text span {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px; }

  .videoMaterials-row__text ul {
    margin-bottom: 12px; }

  .videoMaterials-row__text li {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 0 3px 10px; }

  .videoMaterials-row__text li::before {
    top: 6px;
    width: 6px;
    height: 6px; } }

/*# sourceMappingURL=mediacenter.css.map */
