.popup--wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background: none;
  background: rgba(17, 35, 78, 0.6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }

.popup {
  width: 550px;
  height: 750px;
  padding: 40px;
  background-color: #fff;
  border-radius: 30px; }

.popup-static {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .popup-static__img {
    width: 150px; }
  .popup-static__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px; }

.form__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; }
.form__title {
  font-family: "Museo Sans 700";
  color: #000;
  font-size: 22px;
  line-height: 1.7em;
  position: relative; }
.form__input {
  width: 100%;
  border: 1px solid #1f4c75;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: .6em;
  outline: none;
  font-size: 18px;
  line-height: 1em;
  font-family: "Museo Sans 300"; }
  .form__input::placeholder {
    color: #848181;
    font-size: 16px;
    line-height: 1em;
    font-family: "Museo Sans 300"; }
  .form__input:invalid:not(:focus):not(:placeholder-shown) {
    background-color: #fbd6d6;
    border-color: #a80e0f;
    color: #a80e0f;
    background: url(../../img/popup/cross.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 10px; }
.form__textarea {
  width: 100%;
  height: 135px;
  padding: .6em;
  border: 1px solid #1f4c75;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1em;
  font-family: "Museo Sans 300";
  outline: none;
  transition: all .5s ease-in-out; }
  .form__textarea::placeholder {
    color: #848181;
    font-size: 16px; }
.form__submit {
  background-color: #1f4c75;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1em;
  border: none;
  font-family: "Museo Sans 700";
  align-self: center;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 1em;
  transition: all .5s ease-in-out; }
  .form__submit:hover {
    box-shadow: inset 180px 0 0 #C9997D; }

.popup-success {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .popup-success__img--wrap {
    position: relative; }
  .popup-success__img {
    width: 150px; }
  .popup-success__img-right, .popup-success__img-left {
    position: absolute;
    bottom: 100%;
    width: 64px;
    animation-duration: 1s;
    animation-delay: 0s; }
  .popup-success__img-right {
    left: 100%; }
  .popup-success__img-left {
    right: 100%; }
  .popup-success__title {
    font-size: 50px;
    line-height: 1.1em;
    color: #0869c1;
    text-transform: uppercase;
    text-align: center;
    font-family: "Museo Sans 500";
    margin: 1em 0; }
  .popup-success__btn {
    background-color: #1f4c75;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1em;
    border: none;
    font-family: "Museo Sans 700";
    align-self: center;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
    transition: all .5s ease-in-out; }
    .popup-success__btn:hover {
      box-shadow: inset 180px 0 0 #C9997D; }

/*# sourceMappingURL=popup.css.map */
