/* SLIDER */
.slider_block {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 }
 .sll, .slr {
    width: 5%;
    z-index: 10;
 }
 
 .video {
    width: 100vw;
    height: 100vh;
    background: #010304;
 }
 
 .slide-2 {
    height: 100vh;
    width: 100vw;
 }
 
 
 
 
 .slide-4 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(/public/img/slider/slide-4/slide-4-bgc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
 }
 .slide-4-gear-1 {
    position: absolute;
    left: -65px;
    top: 150px;
    width: 130px;
    animation: rotate-gear-1 10s linear infinite;
 }
 .slide-4-gear-2 {
    position: absolute;
    width: 90px;
    left: 90px;
    top: 170px;
    animation: rotate-gear-2 5s linear infinite;
 }
 .slide-4-gear-3 {
    position: absolute;
    width: 90px;
    right: 90px;
    bottom: 120px;
    animation: rotate-gear-2 5s linear infinite;
 }
 .slide-4-gear-4 {
    position: absolute;
    bottom: 100px;
    right: -65px;
    width: 130px;
    animation: rotate-gear-1 10s linear infinite;
 }
 @keyframes rotate-gear-1 {
    0% {
       transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
 }
 @keyframes rotate-gear-2 {
    0% {
       transform: rotate(0deg);
    }
    100% {
       transform: rotate(-360deg);
    }
 }
 .slide-4-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .slide-4-content__item-border--big {
    width: 750px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29,232,211,.2);
    border-radius: 50%;
 }
 .slide-4-content__item-border--small {
    border-radius: 50%;
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    position: relative;
 }
 .slide-4-left-img {
    position: absolute;
    right: calc(100% - 47px);
    width: 590px;
    top: 23%;
 }
 .slide-4-right-img {
    position: absolute;
    left: calc(100% - 42px);
    width: 530px;
    top: 27%;
 }
 .slide-4-content__item {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    border: 6px solid #fff;
    background: linear-gradient(to bottom, rgba(0,167,148, .6) 30%, rgba(0,21,129,.6));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }
 .slide-4-content__item-gear {
    width: 90px;
    animation: rotate-gear-1 10s linear infinite;
 }
 .slide-4-content__item-description {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .slide-4-content__item-description--line-1 {
    color: #fff;
    font-size: 26px;
    line-height: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
 }
 .slide-4-content__item-description--line-2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.02em;
    text-transform: uppercase;
    text-align: center;
 }
 .slide-4-content__item-description--line-3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 1em;
    text-decoration: line-through;
 }
 .slide-4-content__item-price {
    display: flex;
    flex-direction: column;
 }
 .slide-4-content__item-price--line-1 {
    font-size: 110px;
    line-height: .8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: #ACFFCE;
    background: linear-gradient(to bottom, #fff 25%,#ACFFCE);
    text-shadow: 0 10px 10px rgba(0,0,0, .15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
 }
 .slide-4-content__item-price--line-2 {
    font-size: 44px;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: #87CFF1;
    background: linear-gradient(to bottom, #fff 25%,#87CFF1);
    text-shadow: 0 10px 10px rgba(0,0,0, .15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
 }
 .slide-4-content__item-btn {
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .2px;
    background-color: rgba(0,222,185, .6);
    width: 200px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all .7s ease-in-out;
    overflow: hidden;
    position: relative;
 }
 .slide-4-content__item-btn::before {
    content: '';
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.3);
    clip-path: polygon(40% 0, 70% 0, 50% 100%, 20% 100%);
    transition: all .7s ease-in-out;
 }
 .slide-4-content__item-btn:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.7);
    box-shadow: 0 0 10px rgba(0,222,185, .7);
 }
 .slide-4-content__item-btn:hover::before {
    left: 50%;
 }
 @media(max-width: 1700px) { 
    .slide-4-gear-1 {
       left: -60px;
       top: 120px;
       width: 120px;
    }
    .slide-4-gear-2 {
       width: 80px;
       left: 80px;
       top: 150px;
    }
    .slide-4-gear-3 {
       width: 80px;
       right: 80px;
       bottom: 90px;
    }
    .slide-4-gear-4 {
       bottom: 70px;
       right: -60px;
       width: 120px;
    }
    .slide-4-content__item-border--big {
       width: 650px;
       height: 650px;
    }
    .slide-4-content__item-border--small {
       width: 550px;
       height: 550px;
    }
    .slide-4-left-img {
       right: calc(100% - 38px);
       width: 490px;
    }
    .slide-4-right-img {
       left: calc(100% - 35px);
       width: 430px;
       top: 28%;
    }
    .slide-4-content__item {
       width: 480px;
       height: 480px;
       border: 5px solid #fff;
    }
    .slide-4-content__item-gear {
       width: 80px;
    }
    .slide-4-content__item-description--line-1 {
       font-size: 22px;
    }
    .slide-4-content__item-description--line-2 {
       font-size: 38px;
    }
    .slide-4-content__item-description--line-3 {
       font-size: 26px;
    }
    .slide-4-content__item-price--line-1 {
       font-size: 90px;
    }
    .slide-4-content__item-price--line-2 {
       font-size: 38px;
    }
    .slide-4-content__item-btn {
       font-size: 16px;
       width: 180px;
       height: 35px;
    }
 }
 @media(max-width: 1500px) { 
    .slide-4-gear-1 {
       left: -55px;
       top: 110px;
       width: 110px;
    }
    .slide-4-gear-2 {
       width: 70px;
       left: 70px;
       top: 130px;
    }
    .slide-4-gear-3 {
       width: 70px;
       right: 70px;
       bottom: 70px;
    }
    .slide-4-gear-4 {
       bottom: 50px;
       right: -55px;
       width: 110px;
    }
    .slide-4-content__item-border--big {
       width: 550px;
       height: 550px;
    }
    .slide-4-content__item-border--small {
       width: 450px;
       height: 450px;
    }
    .slide-4-left-img {
       right: calc(100% - 28px);
       width: 390px;
       top: 24%;
    }
    .slide-4-right-img {
       left: calc(100% - 25px);
       width: 330px;
       top: 30%;
    }
    .slide-4-content__item {
       width: 380px;
       height: 380px;
       border: 4px solid #fff;
    }
    .slide-4-content__item-gear {
       width: 65px;
    }
    .slide-4-content__item-description--line-1 {
       font-size: 18px;
    }
    .slide-4-content__item-description--line-2 {
       font-size: 28px;
    }
    .slide-4-content__item-description--line-3 {
       font-size: 20px;
    }
    .slide-4-content__item-price--line-1 {
       font-size: 75px;
    }
    .slide-4-content__item-price--line-2 {
       font-size: 28px;
    }
    .slide-4-content__item-btn {
       font-size: 14px;
       width: 150px;
       height: 30px;
    }
 }
 

 

 .slide-preview {
   font-size: 10px;
   background-color: #fff;
   box-shadow: .3em .6em 2em #280878;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 6em 10em 6em 6em;
   border-radius: 3em 0 0 3em;
}
.slide-preview__title {
   color: #000;
   font-family: "Museo Sans 900";
   font-size: 5em;
   line-height: 1.2em;
   margin-bottom: .7em;
   &--blue {
      color: #5821ec;
   }
   &--orange {
      color: #f67f00;
   }
   &--upcs {
      text-transform: uppercase;
   }  
   &--small {
      font-size: .7em;
      line-height: 0.3em;
   }
}
.slide-preview-btn {
   box-shadow: 0.1em 0 .5em rgba(#000, .2);
   font-size: 2em;
   line-height: 1em;
   font-family: "Museo Sans 700";
   letter-spacing: .05em;
   padding: 0.75em 2em;
   border-radius: 1.5em;
   transition: all .2s;
   position: relative;
   overflow: hidden;
   z-index: 0;
}
@media(max-width: 1700px) {
   .slide-preview {
      padding: 4em 9em 4em 5em;
   }
   .slide-preview__title {
      font-size: 4.4em;
   }
   .slide-preview-btn {
      font-size: 1.8em;
   }
}
@media(max-width: 1500px) {
   .slide-preview {
      padding: 3.2em 7.5em 3.2em 4em;
   }
   .slide-preview__title {
      font-size: 3.8em;
   }
   .slide-preview-btn {
      font-size: 1.6em;
   }
}


 .slide-delivery  {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background-image: url(/public/img/slider/slide-delivery/slide-delivery-bgc.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #7736F2;
   position: relative;
}
.slide-delivery__content {
   width: 100%;
   height: 100%;
   padding-top: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.slide-delivery__preview__subtitle {
   color: #000;
   font-family: "Museo Sans 700";
   font-size: 2.2em;
   line-height: 1.2em;
   margin-bottom: 1.6em;
}
.slide-delivery__preview__btn {
   color: #fff;
   &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 200%;
      height: 100%;
      background: linear-gradient(310deg, #5D27FE, #C165DD, #5D27FE);
      z-index: -1;
      transition: all .2s;
   }
   &:hover {
      &::before {
         left: -100%;
      }
      color: #fff;
      box-shadow:  0.1em 0 .5em rgba(#000, .2), .2em .2em 0em #5821ec;
   }
}
.slide-delivery__content__typography {
   position: relative;
   width: calc(100vw - 700px);
   height: 100%;
}
.slide-delivery__content__typography__cloud {
   width: 250px;
   position: absolute;
   top: 0;
   right: 10%;
   animation: slide-delivery__content__typography__cloud 3s linear infinite;
}
@keyframes slide-delivery__content__typography__cloud {
   0%, 100% {
      transform: translate(0, 0);
   }
   50% {
      transform: translate(5px, 5px);
   }
}
.slide-delivery__content__typography__box {
   width: 100px;
   position: absolute;
   left: 43%;
   top: 17%;
   animation: slide-delivery__content__typography__box 4s linear infinite;
}
@keyframes slide-delivery__content__typography__box {
   0%, 100% {
      transform: translateY(-10px);
   }
   50% {
      transform: translateY(0px);
   }
}
@media(max-width: 1700px) {
   .slide-delivery__content {
      padding-top: 90px;
   }
   .slide-delivery__preview {
      padding: 4em 9em 4em 5em;
   }

   .slide-delivery__preview__subtitle {
      font-size: 2.0em;
   }
   .slide-delivery__content__typography {
      width: calc(100vw - 580px);
   }
   .slide-delivery__content__typography__cloud {
      width: 230px;  
      right: 5%;
   }
   .slide-delivery__content__typography__box {
      width: 90px;
      left: 43%;
      top: 17%;
   }
}
@media(max-width: 1500px) {
   .slide-delivery__content {
      padding-top: 80px;
   }
   .slide-delivery__preview {
      padding: 3.2em 7.5em 3.2em 4em;
   }
   .slide-delivery__preview__title {
      font-size: 3.8em;
   }
   .slide-delivery__preview__subtitle {
      font-size: 1.8em;
   }
   .slide-delivery__content__typography {
      width: calc(100vw - 485px);
   }
   .slide-delivery__content__typography__cloud {
      width: 200px;  
      right: 10%;
   }
   .slide-delivery__content__typography__box {
      width: 80px;
      left: 39%;
      top: 20%;
   }
}


.slide-complex {
   width: 100vw;
   height: 100%;
   overflow: hidden;
   background-image: url(/public/img/slider/slide-complex/slide-complex-bgc.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #7736F2;
   position: relative;
}
.slide-complex__content {
   width: 100%;
   height: 100%;
   padding-top: 100px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.slide-complex-preview {
   position: relative;
}
.slide-complex__prewiew__content {
   max-width: 500px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 2em;
}
.slide-complex__prewiew__item {
   flex-basis: 45%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 1.5em;
}
.slide-complex__prewiew__item__img {
   width: 50px;
}
.slide-complex__prewiew__item__text {
   font-family: "Museo Sans 700";
   color: #212121;
   font-size: 2.2em;
   line-height: 1em;
   letter-spacing: 0.01em;
   margin-left: .5em;
}
.slide-complex__prewiew__btn {
   color: #f57f00;
   border: 1px solid #000;
   align-self: flex-end;
   &:hover {
      color: #f57f00;
      box-shadow:  0.1em 0 .5em rgba(#000, .2), .2em .2em 0em #f57f00;
   }
}
@media(max-width: 1700px) {
   .slide-complex__content {
      padding-top: 90px;
   }
   .slide-complex__prewiew__content {
      max-width: 450px;
      margin-bottom: 1.8em;
   }
   .slide-complex__prewiew__item {
      margin-bottom: 1.3em;
   }
   .slide-complex__prewiew__item__img {
      width: 40px;
   }
   .slide-complex__prewiew__item__text {
      font-size: 2em;
   }
}
@media(max-width: 1500px) {
   .slide-complex__content {
      padding-top: 80px;
   }
   .slide-complex__prewiew__content {
      max-width: 420px;
      margin-bottom: 1.6em;
   }
   .slide-complex__prewiew__item {
      margin-bottom: 1.1em;
   }
   .slide-complex__prewiew__item__img {
      width: 30px;
   }
   .slide-complex__prewiew__item__text {
      font-size: 1.8em;
   }
}



@media(max-width: 1300px) {
   .slider_block {
      display: none;
   }
}
