<{ Title(Корпоративный сайт создай свою бизнес площадку в онлайн – компания AGATECH ) }>

<?php
$this->metadescription = "В современном динамичном мире не осталось места для оффлайн, поэтому все организации создают себе сайт. Опытные специалисты компании AGATECH создадут в короткие сроки корпоративный сайт Вашей мечты! Мы выслушаем все пожелания и воплотим проект в жизнь. ";
$this->metakeywords = "заказать корпоративный сайт, корпоративные интернет сайты, корпоративный сайт, корпоративный сайт интернет магазин, корпоративный сайт ключ, корпоративный сайт компании, корпоративный сайт под ключ, разработка корпоративного сайта, разработка создание корпоративных сайтов, создание корпоративного сайта";
?>

<main id="products">
    <section class="main-header corporation-header">
        <div class="main-header__content">
            <h1 class="main-header__content-title">Корпоративные сайты</h1>
            <p class="main-header__content-description text-justify">
                В современном динамичном мире не осталось места для оффлайн, поэтому все организации создают себе сайт. Опытные специалисты компании AGATECH создадут в короткие сроки корпоративный сайт Вашей мечты! Мы выслушаем все пожелания и воплотим проект в жизнь. 
            </p>
            <!-- /.main-header__content-description -->
        </div>
        <!-- /.main-header__content -->
    </section>
    <!-- /.main-header -->

    <div class="main-content">
        <nav class="main-content__menu">
            <a class="main-content__menu_link active" href="/products/digitalagency/corporation.html">Корпоративные сайты</a>
            <a class="main-content__menu_link" href="/products/digitalagency/e_catalog.html">Интернет-каталог</a>
            <a class="main-content__menu_link" href="/products/digitalagency/promo.html">Промо-сайты</a>
            <a class="main-content__menu_link" href="/products/digitalagency/mobile.html">Мобильные приложения</a>
            <a class="main-content__menu_link" href="/products/digitalagency/unique.html">Индивидуальные решения</a>
        </nav>
        <!-- /.main-content__menu -->

        <div class="main-content__container">
            <div class="main-content-breadcrumbs">
                <a href="/products/products.html" class="main-content-breadcrumbs__link">Продукты</a>
                <a href="/products/digitalagency/digitalagency.html" class="main-content-breadcrumbs__link">Креативная цифровая разработка</a>
                <a href="/products/digitalagency/corporation.html" class="main-content-breadcrumbs__link">Корпоративные сайты</a>
            </div>
            <!-- /.main-content-breadcrumbs -->
            
   
            <h2 class="productsPage__title">Преимущества работы с нами:</h2>
            <div class="productsPage-top">
                <div class="productsPage-top__advantages">
                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Техническая поддержка сайта 24/7</span>
                            <p class="advantages-item__text-description">Мы своевременно реагируем и вносим любые изменения на сайт.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/corporation/advantages-item-1.png" alt="/advantages-item-1">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->

                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Распределение задач на этапы</span>
                            <p class="advantages-item__text-description">Удобное отслеживание этапов выполнения задач по проекту с помощью CRM-системы Битрикс24.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/corporation/advantages-item-2.png" alt="/advantages-item-2">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                    
                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Гарантийное обслуживание сайта</span>
                            <p class="advantages-item__text-description">Ваш сайт будет под наблюдением наших опытных специалистов сразу после выгрузки в Интернет.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/corporation/advantages-item-3.png" alt="/advantages-item-3">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->

                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Вывод в ТОП по поисковым системам</span>
                            <p class="advantages-item__text-description">Для быстрого взлета в ТОП, мы применяем SEO-оптимизацию на этапе разработки сайта. В итоге сайт мгновенно входит в ТОП-10 по поисковым системам. </p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/corporation/advantages-item-4.png" alt="/advantages-item-3">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                                        <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Красивый код сайта</span>
                            <p class="advantages-item__text-description">Чисто написанный код воспримут на ура не только ваши коллеги, но и поисковые системы. </p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/corporation/advantages-item-4.png" alt="/advantages-item-3">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                                        <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Личный project менеджер</span>
                            <p class="advantages-item__text-description">За Вами будет закреплён личный менеджерам по проектам, который поможет реализовать ваши желания на сайте.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/corporation/advantages-item-4.png" alt="/advantages-item-3">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                </div>
                <!-- /.productsPage-top__advantages -->
                <aside class="productsPage-top__other">
                    <div class="top__other-video--wrap">
                        <img src="/public/img/products/digitalAgency/corporation/video.png" alt="Корпоративный сайт">
                    </div>
                    <!-- /.top__other-video--wrap -->
                    <div class="top__other-text">
                        <p class="top__other-text__description">
                         <span>Корпоративный сайт</span> - это интернет ресурс организации, с целью размещения актуальной информации об организации в сети интернет.
                     </p>
                 </div>
                 <!-- /.top__other-text -->
                 <div class="top__other-btn--wrap">
                    <a href="/solutions/CRM.html" target="_blank">Наши работы</a>
                </div>
                <!-- /.top__other-btn--wrap -->
                <div class="top__other-advertising">

                </div>
                <!-- /.top__other-advertising -->
            </aside>
            <!-- /.productsPage-top__other -->
        </div>
        <!-- /.productsPage-content__top -->
        <div>
            <h2 class="main-content__title">Вам стоит обратиться в нашу компанию, если:</h2>
            <p class="productsPage__desc text-justify">&#8658; Вы нуждаетесь в разработке эксклюзивного проекта с понятным интерфейсом, например создание корпоративного сайта, благодаря которому увеличится количество посетителей</p>
            <p class="productsPage__desc text-justify">&#8658; Ваш текущий сайт не соответствует современным IT тенденциям и пришло время обновить сайт (дизайн и программную часть)</p>
            <p class="productsPage__desc text-justify">&#8658; Вы не знаете сколько стоит заказать корпоративный сайт и не понимаете в чем разница между сайтом за 10.000 рублей от 100.000 тысяч рублей. Мы поможем Вам рассчитать и понять, что подходит именно Вам</p>
            <p class="productsPage__desc text-justify">&#8658; У Вас есть крутая идея по созданию уникального сайта и Вы хотите воплотить в жизнь</p>
            <p class="productsPage__desc text-justify">&#8658; Вы хотите получить быстрый и не дорогой сайт, например landing page уже через пару дней.</p>
            <p class="productsPage__desc text-justify">Если Вас интересует разработка и создание корпоративный сайтов под ключ, то компания <u>AGATECH</u> – ключ к успеху Вашего бизнеса!</p> 
        </div>
        <h2 class="productsPage__title">Цены на создание корпоративного сайта</h2>

        <div class="productsPage-presentation">
            <a href="#" class="productsPage-presentation__item call-popup-btn">
                <img class="lazy" data-src="/public/img/products/digitalAgency/corporation/presentaion-item-1.png" alt="Mysite 1.0">
                <div class="presentation__item-info">
                    <span class="presentation__item-info__title">Mysite 1.0</span>
                    <span class="presentation__item-description">Корпоративный сайт<br>от 99 000 &#8381;</span>
                </div>
                <!-- /.presentation__item-info -->
            </a>
            <!-- /.productsPage-presentation__item -->

            <a href="#" class="productsPage-presentation__item call-popup-btn">
                <img class="lazy" data-src="/public/img/products/digitalAgency/corporation/presentaion-item-2.png" alt="Firstsite 1.0">
                <div class="presentation__item-info">
                    <span class="presentation__item-info__title">Firstsite 1.0</span>
                    <span class="presentation__item-description">Корпоративный сайт<br>от 66 000 &#8381;</span>
                </div>
                <!-- /.presentation__item-info -->
            </a>
            <!-- /.productsPage-presentation__item -->

            <a href="#" class="productsPage-presentation__item call-popup-btn">
                <img class="lazy" data-src="/public/img/products/digitalAgency/corporation/presentaion-item-3.png" alt="Bitrix24">
                <div class="presentation__item-info">
                    <span class="presentation__item-info__title">Bitrix24</span>
                    <span class="presentation__item-description">Корпоративный сайт<br>от 38 000 &#8381;</span>
                </div>
                <!-- /.presentation__item-info -->
            </a>
            <!-- /.productsPage-presentation__item -->

            <a href="#" class="productsPage-presentation__item call-popup-btn">
                <img class="lazy" data-src="/public/img/products/digitalAgency/corporation/presentaion-item-4.png" alt="Индивидуальный проект">
                <div class="presentation__item-info">
                    <span class="presentation__item-info__title">Индивидуальный<br>проект</span>
                    <span class="presentation__item-description">Корпоративный сайт<br>от 480 000 &#8381;</span>
                </div>
                <!-- /.presentation__item-info -->
            </a>
            <!-- /.productsPage-presentation__item -->
        </div>
        <!-- /.productsPage-presentation -->

                <div class="productsPage-request">
                    <p class="productsPage-request__text text-justify">
                        А Вы готовы к тому, <strong>что Ваш бизнес будет автоматизирован 
                        и работать корректно 24/7 и обеспечит Вам приток заказов?</strong>
                        <br>
                        Тогда пишите нам! 
                    </p>
                    <button class="productsPage-request__btn call-popup-btn">Оставить заявку</button>
                    <img src="/public/img/products/request.png" alt="" class="productsPage-request__img">
                </div> 
            </div>
            <!-- /.main-content__container -->
        </div>
        <!-- /.main-content -->
    </main>
    <!-- /#products -->






    <div class="popup--wrap app">
        <div class="popup">
           <div v-if="showForm" class="popup-static">
              <img src="/public/img/popup/message.png" alt="message" class="popup-static__img">
              <form  @submit="sbmt" class="popup-static__form form">
                  <label for="" class="form__label">
                      <span class="form__title">Имя: 
                      </span>
                      <input type="text" class="form__input" placeholder="Введите имя...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">Телефон:</span>
                      <input type="tel" class="form__input" placeholder="Введите номер телефона...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">E-mail:</span>
                      <input type="email" class="form__input" placeholder="Введите почту...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">Комментарий:</span>
                  <textarea class="form__textarea" placeholder="Введите текст сообщения..."></textarea>
                  </label>
                  <input type="submit" value="Отправить" class="form__submit">
              </form>
           </div>
            
            <div v-if="!showForm" class="popup-success">
              <div class="popup-success__img--wrap">
                 <img src="/public/img/popup/message-right.png" alt="message-right" class="popup-success__img-right animated infinite swing">
                 <img src="/public/img/popup/message-left.png" alt="message-left" class="popup-success__img-left animated infinite swing">
                 <img src="/public/img/popup/message.png" alt="message" class="popup-success__img">
              </div>
              <span class="popup-success__title">ФОРМА УСПЕШНО ОТПРАВЛЕНА!</span>
              <button class="popup-success__btn" v-on:click="show">Вернуться</button>
            </div>
        </div>
     </div>
     <script>
        var app = new Vue({
        el: '.app',
        data: {
           showForm:true
           },
           methods: {
              sbmt(e) {
                 e.preventDefault();
                 this.showForm=false;
              },
              show() {
                 this.showForm=true;
              }
           }
        })
     </script>