<{ Title(Разработка мобильных приложений для ios и android – компания AGATECH) }>


<?php
$this->metadescription = "Услуги по созданию и разработке мобильных приложений для android и ios, мобильной версий сайта, мобильного интернет-магазина с нуля | Компания AGATECH ✆ +7 927 270 53 30.";
$this->metakeywords = "мобильное приложение цена, разработка приложение android, создание мобильных приложений, разработка приложений для android, разработка мобильного приложения цена, стоимость мобильного приложения, кроссплатформенная разработка,
стоимость разработки мобильного приложения для android, создание приложения для мобильных устройств, сколько стоит разработка приложения для android
";
?>

<main id="products">
    <section class="main-header mobile-header">
        <div class="main-header__content">
            <h1 class="main-header__content-title">Мобильные приложения</h1>
            <p class="main-header__content-description text-justify">
                В наше время большинство интернет-пользователей заходит в сеть именно с мобильных устройств, поэтому, создание мобильных версий сайтов и разработка приложений – это шаг навстречу новым продажам. Эксперты веб-студии AGATECH создадут мобильные приложения на платформах Android и IOS для Вас и Вашего бизнеса.    
            </p>
            <!-- /.main-header__content-description -->
        </div>
        <!-- /.main-header__content -->
    </section>
    <!-- /.main-header -->

    <div class="main-content">
        <nav class="main-content__menu">
            <a class="main-content__menu_link" href="/products/digitalagency/corporation.html">Корпоративные сайты</a>
            <a class="main-content__menu_link" href="/products/digitalagency/e_catalog.html">Интернет-каталог</a>
            <a class="main-content__menu_link" href="/products/digitalagency/promo.html">Промо-сайты</a>
            <a class="main-content__menu_link active" href="/products/digitalagency/mobile.html">Мобильные приложения</a>
            <a class="main-content__menu_link" href="/products/digitalagency/unique.html">Индивидуальные решения</a>
        </nav>
        <!-- /.main-content__menu -->

        <div class="main-content__container">
            <div class="main-content-breadcrumbs">
                <a href="/products/products.html" class="main-content-breadcrumbs__link">Продукты</a>
                <a href="/products/digitalagency/digitalagency.html" class="main-content-breadcrumbs__link">Креативная цифровая разработка</a>
                <a href="/products/digitalagency/mobile.html" class="main-content-breadcrumbs__link">Мобильные приложения</a>
            </div>
            <!-- /.main-content-breadcrumbs -->

            <h2 class="main-content__title">Преимущества создания мобильного приложения:</h2>
            <div class="productsPage-top">
                <div class="productsPage-top__advantages">
                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Мобильное приложение для Android и iOs</span>
                            <p class="advantages-item__text-description">Будьте всегда на связи с клиентами, уведомляйте их через Push уведомление о новых продуктах и акциях. Красочное приложение станет частью смартфона в виде иконки на дисплее пользователя. Мы используем кроссплатформенную разработку.   
                            </p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/mobile/advantages-item-1.png" alt="/advantages-item-1">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->

                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Мобильная версия сайта</span>
                            <p class="advantages-item__text-description">Увеличим скорость загрузки сайта, создав мобильную версию. Опытные специалисты компании AGATECH помогут разместить только все самое важное на мобильном устройстве. А затем протестируют и доработают мобильную версию, учитывая потребности посетителей сайта.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/mobile/advantages-item-2.png" alt="/advantages-item-2">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                    
                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Мобильный интернет магазин</span>
                            <p class="advantages-item__text-description">
                            Соберем и упакуем Ваш интернет магазин в мобильные устройства, свяжем базы данных товаров и настроим удобные покупки для клиентов.</p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/mobile/advantages-item-3.png" alt="/advantages-item-3">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->

                    <div class="productsPage-top__advantages-item">
                        <div class="advantages-item__text">
                            <span class="advantages-item__text-title">Продвижение мобильной версии в интернете</span>
                            <p class="advantages-item__text-description">Не тратьте денег в пустую, в мобильном поиске люди будут находить и пользоваться мобильной версией сайта, получите дополнительные бонусы в мобильном продвижении в ТОП-5 Яндекс и Google
                            </p>
                        </div>
                        <!-- /.advantages-item__text -->
                        <img src="/public/img/products/digitalAgency/mobile/advantages-item-4.png" alt="/advantages-item-4">
                    </div>
                    <!-- /.productsPage-top__advantages-item -->
                </div>
                <!-- /.productsPage-top__advantages -->
                <aside class="productsPage-top__other">
                    <div class="top__other-video--wrap">
                        <img src="/public/img/products/digitalAgency/mobile/video.png" alt="Мобильная версия сайта">
                    </div>
                    <!-- /.top__other-video--wrap -->
                    <div class="top__other-text">
                        <p class="top__other-text__description">
                         <span>Мобильная версия сайта</span> –  интернет ресурс организации, с целью адаптивной презентации компании на любых мобильных устройствах и гаджетах.
                     </p>
                 </div>
                 <!-- /.top__other-text -->
                 <div class="top__other-btn--wrap">
                    <a href="/solutions/digital.html" target="_blank">Наши работы</a>
                </div>
                <!-- /.top__other-btn--wrap -->
                <div class="top__other-advertising">

                </div>
                <!-- /.top__other-advertising -->
            </aside>
            <!-- /.productsPage-top__other -->
        </div>
        <!-- /.productsPage-content__top -->
        
<!--         <h2 class="main-content__title">Со стоимостью разработки мобильного приложения для Android и iOs Вы можете ознакомиться ниже</h2>

<div class="productsPage-presentation">
    <a href="#" class="productsPage-presentation__item call-popup-btn">
        <img class="lazy" data-src="/public/img/products/digitalAgency/mobile/presentaion-item-1.png" alt="FirstCart 1.0">
        <div class="presentation__item-info">
            <span class="presentation__item-info__title">FirstMobile</span>
            <span class="presentation__item-description">Разработка с "0"<br>от 173 000 &#8381;</span>
        </div>

    </a>


    <a href="#" class="productsPage-presentation__item call-popup-btn">
        <img class="lazy" data-src="/public/img/products/digitalAgency/mobile/presentaion-item-2.png" alt="MyCart 1.0">
        <div class="presentation__item-info">
            <span class="presentation__item-info__title">MyMobile 1.0</span>
            <span class="presentation__item-description">У меня есть сайт<br>от 272 000 &#8381;</span>
        </div>

    </a>


    <a href="#" class="productsPage-presentation__item call-popup-btn">
        <img class="lazy" data-src="/public/img/products/digitalAgency/mobile/presentaion-item-3.png" alt="MyCart 2.0">
        <div class="presentation__item-info">
            <span class="presentation__item-info__title">MobileShop 1.0</span>
            <span class="presentation__item-description">Мобильный интернет магазин <br>от 448 000 &#8381;</span>
        </div>

    </a>


</div> -->
        <!-- /.productsPage-presentation -->
        
<!--         <div class="productsPage-request">
            <p class="productsPage-request__text">
                А Вы готовы к тому, <strong>что Ваш бизнес будет автоматизирован 
                и работать корректно 24/7 и обеспечит Вам приток заказов?</strong>
                <br>
                Тогда пишите нам! 
            </p>
            <button class="productsPage-request__btn call-popup-btn">Оставить заявку</button>
            <img src="/public/img/products/request.png" alt="" class="productsPage-request__img">
        </div>  -->
            </div>
            <!-- /.main-content__container -->
        </div>
        <!-- /.main-content -->
    </main>
    <!-- /#products -->






    <div class="popup--wrap app">
        <div class="popup">
           <div v-if="showForm" class="popup-static">
              <img src="/public/img/popup/message.png" alt="message" class="popup-static__img">
              <form  @submit="sbmt" class="popup-static__form form">
                  <label for="" class="form__label">
                      <span class="form__title">Имя: 
                      </span>
                      <input type="text" class="form__input" placeholder="Введите имя...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">Телефон:</span>
                      <input type="tel" class="form__input" placeholder="Введите номер телефона...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">E-mail:</span>
                      <input type="email" class="form__input" placeholder="Введите почту...">
                  </label>
                  <label for="" class="form__label">
                      <span class="form__title">Комментарий:</span>
                  <textarea class="form__textarea" placeholder="Введите текст сообщения..."></textarea>
                  </label>
                  <input type="submit" value="Отправить" class="form__submit">
              </form>
           </div>
            
            <div v-if="!showForm" class="popup-success">
              <div class="popup-success__img--wrap">
                 <img src="/public/img/popup/message-right.png" alt="message-right" class="popup-success__img-right animated infinite swing">
                 <img src="/public/img/popup/message-left.png" alt="message-left" class="popup-success__img-left animated infinite swing">
                 <img src="/public/img/popup/message.png" alt="message" class="popup-success__img">
              </div>
              <span class="popup-success__title">ФОРМА УСПЕШНО ОТПРАВЛЕНА!</span>
              <button class="popup-success__btn" v-on:click="show">Вернуться</button>
            </div>
        </div>
     </div>
     <script>
        var app = new Vue({
        el: '.app',
        data: {
           showForm:true
           },
           methods: {
              sbmt(e) {
                 e.preventDefault();
                 this.showForm=false;
              },
              show() {
                 this.showForm=true;
              }
           }
        })
     </script>