<{ Title(Создание промо-сайта под ключ от компании AGATECH - ключ к успеху Вашего бизнеса ) }>

<?php
$this->metadescription = "Создание промо-сайта поможет грамотно прорекламировать Ваш продукт. Вы можете заказать разработку промо-сайта по выгодным ценам | Компания AGATECH ✆ +7 927 270 53 30.";
$this->metakeywords = "дизайн промо сайтов, промо реклама, промо сайт, промо сайт магазин, создаем промо сайты, заказать лендинг, заказать лендинг пейдж, разработка landing page, создание landing page, разработка лендинга под ключ, стоимость лендинга под ключ";
?>

<main id="products">
 <section class="main-header promo-header">
   <div class="main-header__content">
     <h1 class="main-header__content-title">Промо-сайты</h1>
     <p class="main-header__content-description text-justify">
      Вы хотите вывести на рынок новый бренд, товар или услугу, и провести с ними розыгрыши, рекламные акции? Яркий, интересный и привлекающий внимание промо-сайт превратит Ваши мечты в реальность. Эксклюзивный дизайн, флэш-анимация, свободное общение с пользователями, оффлайн реклама – Ваш залог успешного продвижения на рынке!    
    </p>
    <!-- /.main-header__content-description -->
  </div>
  <!-- /.main-header__content -->
</section>
<!-- /.main-header -->

<div class="main-content">
  <nav class="main-content__menu">
   <a class="main-content__menu_link" href="/products/digitalagency/corporation.html">Корпоративные сайты</a>
   <a class="main-content__menu_link" href="/products/digitalagency/e_catalog.html">Интернет-каталог</a>
   <a class="main-content__menu_link active" href="/products/digitalagency/promo.html">Промо-сайты</a>
   <a class="main-content__menu_link" href="/products/digitalagency/mobile.html">Мобильные приложения</a>
   <a class="main-content__menu_link" href="/products/digitalagency/unique.html">Индивидуальные решения</a>
 </nav>
 <!-- /.main-content__menu -->

 <div class="main-content__container">
  <div class="main-content-breadcrumbs">
    <a href="/products/products.html" class="main-content-breadcrumbs__link">Продукты</a>
    <a href="/products/digitalagency/digitalagency.html" class="main-content-breadcrumbs__link">Креативная цифровая разработка</a>
    <a href="/products/digitalagency/promo.html" class="main-content-breadcrumbs__link">Промо-сайты</a>
  </div>
  <!-- /.main-content-breadcrumbs -->

  <h2 class="main-content__title">Какие задачи решает промо-сайт?</h2>
  <div class="productsPage-top">
   <div class="productsPage-top__advantages">
     <div class="productsPage-top__advantages-item">
       <div class="advantages-item__text">
         <span class="advantages-item__text-title">Разбудить у посетителей сайта</span>
         <p class="advantages-item__text-description"> интерес к компании интересными и красочными новостями и заметками. Продумайте дизайн промо сайта с опытными специалистами компании AGATECH и Вас ждет приток новых клиентов. </p>
       </div>
       <!-- /.advantages-item__text -->
       <img src="/public/img/products/digitalAgency/promo/advantages-item-1.png" alt="/advantages-item-1">
     </div>
     <!-- /.productsPage-top__advantages-item -->

     <div class="productsPage-top__advantages-item">
       <div class="advantages-item__text">
         <span class="advantages-item__text-title">Хорошей альтернативой создания </span>
         <p class="advantages-item__text-description">корпоративного сайта является создание landing page. Landing page схож с промо-сайтом, цель одна – привлечь потенциальных клиентов. </p>
       </div>
       <!-- /.advantages-item__text -->
       <img src="/public/img/products/digitalAgency/promo/advantages-item-2.png" alt="/advantages-item-2">
     </div>
     <!-- /.productsPage-top__advantages-item -->

     <div class="productsPage-top__advantages-item">
       <div class="advantages-item__text">
         <span class="advantages-item__text-title">Создать </span>
         <p class="advantages-item__text-description">положительный имидж компании или человека. </p>
       </div>
       <!-- /.advantages-item__text -->
       <img src="/public/img/products/digitalAgency/promo/advantages-item-3.png" alt="/advantages-item-3">
     </div>
     <!-- /.productsPage-top__advantages-item -->

     <div class="productsPage-top__advantages-item">
       <div class="advantages-item__text">
         <span class="advantages-item__text-title">Наглядно продемонстрировать </span>
         <p class="advantages-item__text-description">свою работу и возможности с помощью фото- и видеоотчётов, красочно оформленных и грамотно составленных статей. </p>
       </div>
       <!-- /.advantages-item__text -->
       <img src="/public/img/products/digitalAgency/promo/advantages-item-4.png" alt="/advantages-item-4">
     </div>
     <!-- /.productsPage-top__advantages-item -->
     <div class="productsPage-top__advantages-item">
       <div class="advantages-item__text">
         <span class="advantages-item__text-title">Полностью затмить конкурентов. </span>
         <p class="advantages-item__text-description">Весь дизайн промо-сайта направлен на то, чтобы выделить преимущества услуг вашей компании. И как следствие произвести неизгладимое впечатление на каждого посетителя! </p>
       </div>
       <!-- /.advantages-item__text -->
       <img src="/public/img/products/digitalAgency/promo/advantages-item-4.png" alt="/advantages-item-4">
     </div>
     <!-- /.productsPage-top__advantages-item -->
   </div>
   <!-- /.productsPage-top__advantages -->
   <aside class="productsPage-top__other">
     <div class="top__other-video--wrap">
       <img src="/public/img/products/digitalAgency/promo/video.png" alt="Промо-сайт">
     </div>
     <!-- /.top__other-video--wrap -->
     <div class="top__other-text">
       <p class="top__other-text__description">
        <span>Промо-сайт</span> - это особый вид веб-ресурсов, созданный для раскрутки на рынке бренда, товара, услуги или события.
      </p>
    </div>
    <!-- /.top__other-text -->
    <div class="top__other-btn--wrap">
     <a href="/solutions/digital.html" target="_blank">Наши работы</a>
   </div>
   <!-- /.top__other-btn--wrap -->
   <div class="top__other-advertising">

   </div>
   <!-- /.top__other-advertising -->
 </aside>
 <!-- /.productsPage-top__other -->
</div>
<!-- /.productsPage-content__top -->

<div class="container">
 <span class="advantages-item__text-title">Мы создаем промо-сайты более 10 лет.</span><br><br><br>
 <p class="productsPage__desc"> В компании AGATECH Вы можете заказать промо-сайт по доступной цене и с гарантией отличного качества. </p>
 <p class="productsPage__desc">Промо-сайт подойдет для:</p>
 <p class="productsPage__desc">&#8658;   фотографов и фотостудий,</p>
 <p class="productsPage__desc">&#8658;   дизайнеров и студий дизайна,</p>
 <p class="productsPage__desc">&#8658;   архитекторов и архитектурных бюро,</p>
 <p class="productsPage__desc">&#8658;   презентации товара или услуги,</p>
 <p class="productsPage__desc">&#8658;   конференций и многого другого, где важен визуальный эффект.</p>
</div>
<div class="container">
  <h2 class="main-content__title">Цены на создание промо-сайтов:</h2>
</div>
<br>
<div class="productsPage-presentation">
 <a href="#" class="productsPage-presentation__item call-popup-btn">
   <img class="lazy" data-src="/public/img/products/digitalAgency/promo/presentaion-item-1.png" alt="FirstPromo 1.0">
   <div class="presentation__item-info">
  <span class="presentation__item-info__title">FirstPromo 1.0</span>
     <span class="presentation__item-description">Промо сайт<br>от 19 000 &#x20bd;</span>
     
   </div>
   <!-- /.presentation__item-info -->
 </a>
 <!-- /.productsPage-presentation__item -->

 <a href="#" class="productsPage-presentation__item call-popup-btn">
  <img class="lazy" data-src="/public/img/products/digitalAgency/promo/presentaion-item-2.png" alt="MyPromo 1.0">
  <div class="presentation__item-info">
   <span class="presentation__item-info__title">MyPromo 1.0</span>
   <span class="presentation__item-description">Промо сайт<br>от 29 000 &#8381;</span>
   
 </div>
 <!-- /.presentation__item-info -->
</a>
<!-- /.productsPage-presentation__item -->

<a href="#" class="productsPage-presentation__item call-popup-btn">
  <img class="lazy" data-src="/public/img/products/digitalAgency/promo/presentaion-item-3.png" alt="MyPromo 2.0">
  <div class="presentation__item-info">
  <span class="presentation__item-info__title">MyPromo 2.0</span>
   <span class="presentation__item-description">Промо сайт<br>от 37 800 &#8381;</span>

   
 </div>
 <!-- /.presentation__item-info -->
</a>
<!-- /.productsPage-presentation__item -->

<a href="#" class="productsPage-presentation__item call-popup-btn">
 <img class="lazy" data-src="/public/img/products/digitalAgency/promo/presentaion-item-4.png" alt="Bitrix24.Promo">
 <div class="presentation__item-info">
  <span class="presentation__item-info__title">Bitrix24.Promo</span>
   <span class="presentation__item-description">Промо сайт<br>от 10 500 &#8381;</span>
   
 </div>
 <!-- /.presentation__item-info -->
</a>
<!-- /.productsPage-presentation__item -->
</div>
<!-- /.productsPage-presentation -->


<div class="productsPage-request">
  <p class="productsPage-request__text">
    А Вы готовы к тому, <strong>что Ваш бизнес будет автоматизирован 
    и работать корректно 24/7 и обеспечит Вам приток заказов?</strong>
    <br>
    Тогда пишите нам! 
  </p>
  <button class="productsPage-request__btn call-popup-btn">Оставить заявку</button>
  <img src="/public/img/products/request.png" alt="" class="productsPage-request__img">
</div> 
</div>
<!-- /.main-content__container -->
</div>
<!-- /.main-content -->
</main>
<!-- /#products -->






<div class="popup--wrap app">
  <div class="popup">
   <div v-if="showForm" class="popup-static">
    <img src="/public/img/popup/message.png" alt="message" class="popup-static__img">
    <form  @submit="sbmt" class="popup-static__form form">
      <label for="" class="form__label">
        <span class="form__title">Имя: 
        </span>
        <input type="text" class="form__input" placeholder="Введите имя...">
      </label>
      <label for="" class="form__label">
        <span class="form__title">Телефон:</span>
        <input type="tel" class="form__input" placeholder="Введите номер телефона...">
      </label>
      <label for="" class="form__label">
        <span class="form__title">E-mail:</span>
        <input type="email" class="form__input" placeholder="Введите почту...">
      </label>
      <label for="" class="form__label">
        <span class="form__title">Комментарий:</span>
        <textarea class="form__textarea" placeholder="Введите текст сообщения..."></textarea>
      </label>
      <input type="submit" value="Отправить" class="form__submit">
    </form>
  </div>

  <div v-if="!showForm" class="popup-success">
    <div class="popup-success__img--wrap">
     <img src="/public/img/popup/message-right.png" alt="message-right" class="popup-success__img-right animated infinite swing">
     <img src="/public/img/popup/message-left.png" alt="message-left" class="popup-success__img-left animated infinite swing">
     <img src="/public/img/popup/message.png" alt="message" class="popup-success__img">
   </div>
   <span class="popup-success__title">ФОРМА УСПЕШНО ОТПРАВЛЕНА!</span>
   <button class="popup-success__btn" v-on:click="show">Вернуться</button>
 </div>
</div>
</div>
<script>
  var app = new Vue({
    el: '.app',
    data: {
     showForm:true
   },
   methods: {
    sbmt(e) {
     e.preventDefault();
     this.showForm=false;
   },
   show() {
     this.showForm=true;
   }
 }
})
</script>